openapi: 3.1.0
info:
  title: Moneybird API
  description: The Moneybird API allows you to interact with a Moneybird account in a RESTful manner. For comprehensive and up-to-date information on authentication, endpoints, usage, webhooks, and best practices, please refer to the documentation at [developer.moneybird.com](https://developer.moneybird.com). All details, examples, and guides are available on their respective pages.
  version: v2-20260515-a7c01550a3
  termsOfService: https://www.moneybird.nl/terms/
  contact:
    name: Moneybird
    email: support@moneybird.com
    url: https://developer.moneybird.com
servers:
  - url: https://moneybird.com/api/v2
    description: Production server
security:
  - bearerAuth: []
tags:
  - name: Administrations
    description: |-
      Administrations are the top level entities in Moneybird. Use the following endpoints to get
      information about the administrations you have access to.
  - name: Assets
    description: |-
      Assets are significant purchases, like company cars, laptops or furniture, that are used over
      multiple years. They are recorded to manage depreciation and comply with tax regulations.
  - name: Contacts
    description: |-
      Contacts are the entities in Moneybird that represent your customers, suppliers or other
      business relations. Use the following endpoints to get information about contacts, create
      new contacts or update existing contacts.
  - name: Custom fields
    description: Custom fields can be used to add extra information to sales invoices, contacts and identities.
  - name: Customer contact portal
    description: |-
      The customer contact portal allows you to create temporary links to the customer contact
      portal. Allowing your customers to view their invoices, subscriptions and other related information.
  - name: Document styles
    description: |-
      Document styles are used to define the layout of documents, like invoices and estimates. You
      can have multiple document styles for different purposes.
  - name: Downloads
    description: |-
      Downloads are files that have been generated as exports from your administration. These can be
      CSV exports of contacts, sales invoices, time entries, or various financial reports. Use these
      endpoints to retrieve a list of available downloads and to download the files.
  - name: 'Documents: General documents'
    description: |-
      General documents are documents that are not invoices, estimates, or other specific document
      types. They can be used to store other financial documents.
  - name: 'Documents: General journal documents'
    description: |-
      General journal documents are used for manual bookkeeping entries, to correct errors or make
      adjustments.
  - name: 'Documents: Purchase invoices'
    description: Purchase invoices are invoices you receive from your suppliers.
  - name: 'Documents: Receipts'
    description: Receipts are proofs of payment for expenses.
  - name: 'Documents: Typeless documents'
    description: |-
      Typeless documents are documents of which the type is not yet known. For example, a document
      uploaded via email or via the bulk uploader. It is not possible to update a typeless
      document, except for adding attachments. You will need to set its type first. You cannot set
      the type of typeless documents using the API yet, but you can do this via the website.
  - name: Estimates
    description: |-
      Estimates (or quotes) are proposals for products or services that you can send to your
      clients.
  - name: External sales invoices
    description: |-
      External sales invoices are invoices created in other systems that you want to import into
      Moneybird for a complete overview of your revenue.
  - name: Financial accounts
    description: |-
      Financial accounts represent your bank accounts, credit cards, private withdrawals/deposits
      and other payment services. They are used to track payments and financial mutations.
  - name: Financial mutations
    description: Financial mutations are the transactions on your financial accounts.
  - name: Financial statements
    description: |-
      Financial statements are comprised of financial mutations that are booked on a financial
      account. They provide a detailed record of all transactions for a specific account.
  - name: Identities
    description: |-
      Identities are the different profiles or trade names under which you can send documents from
      your administration.
  - name: Ledger accounts
    description: |-
      Ledger accounts are the categories in your bookkeeping, like revenue, costs, assets, and
      liabilities.
  - name: Payments
    description: Payments are records of money being transferred for invoices.
  - name: Products
    description: Products are the goods or services you sell. You can add them to invoices and estimates.
  - name: Projects
    description: |-
      Projects allow you to group time entries and financials for specific projects you are working
      on.
  - name: Purchase transactions
    description: Purchase transactions are outgoing payments you initiate from Moneybird
  - name: Recurring sales invoices
    description: |-
      Recurring sales invoices are templates for invoices that are sent automatically at a
      recurring interval.
  - name: Reports
    description: |-
      Reports provide analytical data about your administration, such as revenue and expense
      breakdowns by various dimensions like projects, contacts, or time periods.
  - name: Sales invoices
    description: |-
      Sales invoices are the invoices you send to your customers for products or services you have
      delivered.
  - name: Subscription templates
    description: Subscription templates define the products and prices for subscriptions.
  - name: Subscriptions
    description: |-
      Subscriptions allow you to automatically invoice customers on a recurring basis for the
      services you provide.
  - name: Task lists
    description: |-
      Task lists help you organize and track work within an administration. They contain
      groups of tasks that can be assigned to users and tracked for completion.
  - name: Task list templates
    description: |-
      Task list templates are reusable blueprints for creating task lists with predefined
      groups and tasks.
  - name: Tax rates
    description: Tax rates are the VAT tariffs that apply to your products and services.
  - name: Time entries
    description: |-
      Time entries are used to track time spent on projects, which can then be billed to
      customers.
  - name: Users
    description: |-
      Administrations can have multiple users. Use the following endpoints to get information about
      the users in an administration.
  - name: Verifications
    description: |-
      Verifications are used to retrieve all verified information within an administration, such as
      e-mail addresses, bank account numbers, Chamber of Commerce numbers, and tax numbers.
  - name: Webhooks
    description: |-
      Webhooks are a way to subscribe to events that happen in Moneybird. When an event occurs,
      Moneybird will send a POST request to the URL you provided. This way, you can keep your own
      system in sync with Moneybird.

      For example, you can subscribe to the `contact_created` event to receive a notification when
      a new contact is created in Moneybird.

      For a full list of available events and event groups, see the [webhook events documentation](https://developer.moneybird.com/webhooks/events).
  - name: Workflows
    description: |-
      Workflows determine the settings of the invoice and estimate workflow. Use the following
      to get information about the workflows in an administration.
paths:
  /administrations{format}:
    get:
      summary: List all administrations
      description: Lists all administrations the current user has access to.
      tags:
        - Administrations
      parameters:
        - $ref: '#/components/parameters/format'
      responses:
        '200':
          description: A list of administrations
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/administration_response'
      operationId: get_administrations
  /{administration_id}/assets/{id}/disposals{format}:
    post:
      summary: Create a disposal
      description: |-
        Creates a disposal for the asset at the given date.
        Requires the asset to not have a disposal already.
        Furthermore, the asset must be fully depreciated so the value of the asset at the disposal date must be zero.
      tags:
        - Assets
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - name: id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - $ref: '#/components/parameters/format'
      requestBody:
        required: true
        content:
          application/*:
            schema:
              type: object
              unevaluatedProperties: false
              properties:
                date:
                  type: string
                  format: date
                  description: Has to be after the purchase date of the asset, and cannot be in the future or in the locked period of the administration.
                reason:
                  type: string
                  enum:
                    - out_of_use
                    - sold
                    - private_withdrawal
                    - divested
              required:
                - date
                - reason
      responses:
        '201':
          description: A disposal
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/disposal_response'
        '400':
          $ref: '#/components/responses/400_bad_request'
        '404':
          $ref: '#/components/responses/404_not_found'
        '422':
          $ref: '#/components/responses/422_unprocessable_entity'
      operationId: post_administration_id_assets_id_disposals
  /{administration_id}/assets/{id}/sources/{detail_id}{format}:
    delete:
      summary: Delete a source
      description: Deletes a source from an asset. Does not delete the detail or the asset
      tags:
        - Assets
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - name: id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - name: detail_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - $ref: '#/components/parameters/format'
      responses:
        '204':
          description: Source deleted
        '404':
          $ref: '#/components/responses/404_not_found'
      operationId: delete_administration_id_assets_id_sources_detail_id
  /{administration_id}/assets/{id}/sources{format}:
    post:
      summary: Add a source to an asset
      description: |-
        Adds a detail as a source to an asset.
        The detail must have the same ledger account as the asset.
      tags:
        - Assets
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - name: id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - $ref: '#/components/parameters/format'
      requestBody:
        required: true
        content:
          application/*:
            schema:
              type: object
              unevaluatedProperties: false
              properties:
                detail_id:
                  $ref: '#/components/schemas/identifier'
              required:
                - detail_id
      responses:
        '201':
          description: A detail that is added as a source to an asset
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/source_response'
        '400':
          $ref: '#/components/responses/400_bad_request'
        '404':
          $ref: '#/components/responses/404_not_found'
        '422':
          $ref: '#/components/responses/422_unprocessable_entity'
      operationId: post_administration_id_assets_id_sources
  /{administration_id}/assets/{id}/value_changes/arbitrary{format}:
    post:
      summary: Create an arbitrary value change
      description: |-
        Creates an arbitrary value change for the asset at the given date.
        If the amount is larger than the value of the asset at the given date, a 422 error will be returned.
        Any existing linear value changes after the given date will be removed.
      tags:
        - Assets
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - name: id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - $ref: '#/components/parameters/format'
      requestBody:
        required: true
        content:
          application/*:
            schema:
              type: object
              unevaluatedProperties: false
              properties:
                date:
                  type: string
                  format: date
                  description: Has to be after the purchase date of the asset, and cannot be in the future or in the locked period of the administration.
                amount:
                  $ref: '#/components/schemas/number'
                  description: Note that a negative amount means the asset decreases in value while a positive amount means the asset increases in value.
                description:
                  type: string
                externally_booked:
                  type: boolean
                  description: Set to true if the value change is already externally booked and doesn't need to be booked by Moneybird.
                  default: false
              required:
                - date
                - amount
                - description
      responses:
        '201':
          description: A value change
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/value_change_response'
        '400':
          $ref: '#/components/responses/400_bad_request'
        '404':
          $ref: '#/components/responses/404_not_found'
        '422':
          $ref: '#/components/responses/422_unprocessable_entity'
      operationId: post_administration_id_assets_id_value_changes_arbitrary
  /{administration_id}/assets/{id}/value_changes/divestment{format}:
    post:
      summary: Create a divestment value change
      description: |-
        Creates a divestment value change for the asset at the given date.
        The remaining value of the asset will be taken from the balance sheet and the profit will be booked as book result.
        The amount of the value change will automatically be set to the value of the asset at the given date.
        If the value change is created successfully, a disposal will be created for the asset.
        Any existing linear value changes after the given date will be removed.
      tags:
        - Assets
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - name: id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - $ref: '#/components/parameters/format'
      requestBody:
        required: true
        content:
          application/*:
            schema:
              type: object
              unevaluatedProperties: false
              properties:
                date:
                  type: string
                  format: date
                  description: Has to be after the purchase date of the asset, and cannot be in the future or in the locked period of the administration.
              required:
                - date
      responses:
        '201':
          description: A value change
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/value_change_response'
        '400':
          $ref: '#/components/responses/400_bad_request'
        '404':
          $ref: '#/components/responses/404_not_found'
        '422':
          $ref: '#/components/responses/422_unprocessable_entity'
      operationId: post_administration_id_assets_id_value_changes_divestment
  /{administration_id}/assets/{id}/value_changes/full_depreciation{format}:
    post:
      summary: Create a full depreciation value change
      description: |-
        Creates a full depreciation value change for the asset at the given date.
        The remaining value of the asset will be taken from the balance sheet.
        The amount of the value change will automatically be set to the value of the asset at the given date.
        If the value change is created successfully, a disposal will be created for the asset.
        Any existing linear value changes after the given date will be removed.
      tags:
        - Assets
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - name: id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - $ref: '#/components/parameters/format'
      requestBody:
        required: true
        content:
          application/*:
            schema:
              type: object
              unevaluatedProperties: false
              properties:
                date:
                  type: string
                  format: date
                  description: Has to be after the purchase date of the asset, and cannot be in the future or in the locked period of the administration.
                description:
                  type: string
              required:
                - date
                - description
      responses:
        '201':
          description: A value change
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/value_change_response'
        '400':
          $ref: '#/components/responses/400_bad_request'
        '404':
          $ref: '#/components/responses/404_not_found'
        '422':
          $ref: '#/components/responses/422_unprocessable_entity'
      operationId: post_administration_id_assets_id_value_changes_full_depreciation
  /{administration_id}/assets/{id}/value_changes/manual{format}:
    post:
      summary: Create a manual value change
      description: |-
        Creates a manual value change for the asset at the given date.
        If the amount is larger than the value of the asset at the given date, a 422 error will be returned.
      tags:
        - Assets
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - name: id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - $ref: '#/components/parameters/format'
      requestBody:
        required: true
        content:
          application/*:
            schema:
              type: object
              unevaluatedProperties: false
              properties:
                date:
                  type: string
                  format: date
                  description: Has to be after the purchase date of the asset, and cannot be in the future or in the locked period of the administration.
                amount:
                  $ref: '#/components/schemas/number'
                  description: Note that a negative amount means the asset decreases in value while a positive amount means the asset increases in value.
                description:
                  type: string
                externally_booked:
                  type: boolean
                  description: Set to true if the value change is already externally booked and doesn't need to be booked by Moneybird.
                  default: false
              required:
                - date
                - amount
                - description
      responses:
        '201':
          description: A value change
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/value_change_response'
        '400':
          $ref: '#/components/responses/400_bad_request'
        '404':
          $ref: '#/components/responses/404_not_found'
        '422':
          $ref: '#/components/responses/422_unprocessable_entity'
      operationId: post_administration_id_assets_id_value_changes_manual
  /{administration_id}/assets/{id}/value_changes/retroactive_linear_value_changes{format}:
    post:
      summary: Create linear value changes retroactively
      description: |-
        Creates linear value changes that were not created yet.
        Use this if a new asset has just been created or if an arbitrary value change was created and the missing linear value changes need to be recalculated and recreated.
        This will create missing value changes for all months between the purchase date of the asset or the date of the last arbitrary value change and the last month of the administration.
        Requires a asset with a value change plan (so no assets that belong to a land or building category).
        Also requires that the asset has remaining value, has missing value changes at the end of some months and that all missing linear value changes are outside the locked period.
        This process will be performed asynchronously so no result will be returned. Use `Get /assets/:id` to check the result after a while.
      tags:
        - Assets
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - name: id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - $ref: '#/components/parameters/format'
      responses:
        '204':
          $ref: '#/components/responses/204_no_content'
        '404':
          $ref: '#/components/responses/404_not_found'
        '422':
          $ref: '#/components/responses/422_unprocessable_entity'
      operationId: post_administration_id_assets_id_value_changes_retroactive_linear_value_changes
  /{administration_id}/assets/{id}{format}:
    get:
      summary: Get an asset by ID
      description: Returns the asset with the given ID.
      tags:
        - Assets
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - name: id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - $ref: '#/components/parameters/format'
      responses:
        '200':
          description: An asset
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/asset_response'
        '404':
          $ref: '#/components/responses/404_not_found'
      operationId: get_administration_id_assets_id
    patch:
      summary: Update an asset
      description: |-
        Updates the asset with the given ID.
        If the asset is active (the purchase date is in the past), only the `name` can be updated.
      tags:
        - Assets
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - name: id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - $ref: '#/components/parameters/format'
      requestBody:
        required: true
        content:
          application/*:
            schema:
              type: object
              unevaluatedProperties: false
              properties:
                asset:
                  type: object
                  unevaluatedProperties: false
                  properties:
                    name:
                      type: string
                      description: The name of the asset
                    ledger_account_id:
                      $ref: '#/components/schemas/identifier'
                      description: The ID of the ledger account
                    purchase_date:
                      type: string
                      description: The purchase date of the asset
                    purchase_value:
                      $ref: '#/components/schemas/number'
                      description: The purchase value of the asset
                    value_change_plan_attributes:
                      unevaluatedProperties: false
                      properties:
                        lifespan_in_years:
                          $ref: '#/components/schemas/number'
                          description: The lifespan of the asset in years
                        residual_value:
                          $ref: '#/components/schemas/number'
                          description: The residual value of the asset at the end of the lifespan
              required:
                - asset
      responses:
        '200':
          description: Asset updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/asset_response'
        '400':
          $ref: '#/components/responses/400_bad_request'
        '404':
          $ref: '#/components/responses/404_not_found'
        '422':
          $ref: '#/components/responses/422_unprocessable_entity'
      operationId: patch_administration_id_assets_id
    delete:
      summary: Delete an asset
      description: Deletes the asset with the given ID.
      tags:
        - Assets
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - name: id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - $ref: '#/components/parameters/format'
      responses:
        '204':
          description: Asset deleted
        '404':
          $ref: '#/components/responses/404_not_found'
        '422':
          $ref: '#/components/responses/422_unprocessable_entity'
      operationId: delete_administration_id_assets_id
  /{administration_id}/assets{format}:
    get:
      summary: List all assets
      description: |-
        Returns a list of all assets.
        The list is paginated. Use the `per_page` and `page` parameters to control the pagination.
      tags:
        - Assets
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - $ref: '#/components/parameters/format'
        - name: ledger_account_id
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/identifier'
          description: Filter on the ID of the ledger account
        - name: active
          in: query
          required: false
          schema:
            type:
              - boolean
              - string
            default: true
          description: Whether to include only active assets
        - $ref: '#/components/parameters/per_page'
        - $ref: '#/components/parameters/page'
      responses:
        '200':
          description: A list of assets
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/asset_response'
      operationId: get_administration_id_assets
    post:
      summary: Create a new asset
      description: Creates a new asset.
      tags:
        - Assets
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - $ref: '#/components/parameters/format'
      requestBody:
        required: true
        content:
          application/*:
            schema:
              type: object
              unevaluatedProperties: false
              properties:
                asset:
                  type: object
                  unevaluatedProperties: false
                  properties:
                    name:
                      type: string
                      description: The name of the asset
                    ledger_account_id:
                      $ref: '#/components/schemas/identifier'
                      description: The ID of the ledger account
                    purchase_date:
                      type: string
                      description: The purchase date of the asset
                    purchase_value:
                      $ref: '#/components/schemas/number'
                      description: The purchase value of the asset
                    value_change_plan_attributes:
                      unevaluatedProperties: false
                      properties:
                        lifespan_in_years:
                          $ref: '#/components/schemas/number'
                          description: The lifespan of the asset in years
                        residual_value:
                          $ref: '#/components/schemas/number'
                          description: The residual value of the asset at the end of the lifespan
                          default: 0
                      required:
                        - lifespan_in_years
                  required:
                    - name
                    - ledger_account_id
                    - purchase_date
                    - purchase_value
                    - value_change_plan_attributes
      responses:
        '201':
          description: Asset created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/asset_response'
        '400':
          $ref: '#/components/responses/400_bad_request'
        '422':
          $ref: '#/components/responses/422_unprocessable_entity'
      operationId: post_administration_id_assets
  /{administration_id}/contacts/customer_id/{customer_id}{format}:
    get:
      summary: Get contact by customer id
      description: Returns all information about a contact by the given customer id
      tags:
        - Contacts
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - name: customer_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - $ref: '#/components/parameters/format'
      responses:
        '200':
          description: A contact
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/contact_response'
        '404':
          $ref: '#/components/responses/404_not_found'
      operationId: get_administration_id_contacts_customer_id_customer_id
  /{administration_id}/contacts/filter{format}:
    get:
      summary: Filter contacts
      description: |-
        Returns a paginated list of all contacts in the administration.

        The `filter` argument allows you to filter the list of contacts. Filters are a combination of keys and values,
        separated by a comma: `first_name:henk,last_name:jansen`. The available options for filtering are:

        | **Filter** | **Type** | **Default** | **Description** |
        | - | - | - | - |
        | created_after | `String` | | Select contacts created after the given time (exclusive). ISO 8601 formatted string. The time to compare with is in UTC timezone |
        | updated_after | `String` | | Select contacts updated after the given time (exclusive). ISO 8601 formatted string. The time to compare with is in UTC timezone |
        | first_name | `String` | | Select contacts with the given first name. Case-insensitive |
        | last_name | `String` | | Select contacts with the given last name. Case-insensitive |
        | estimate_workflow_id | `Integer` | | Filters contacts by a single Estimate workflow |
        | invoice_workflow_id | `Integer` | | Filters contacts by a single Invoice workflow |
        | contact_type | `String` | | The contact type. Possible values `all`, `company`, `private_individual` |
        | delivery_method | `String` | | The delivery method for invoices. Possible values. Possible values `all`, `email`, `post`, `manual`, `peppol`, `simplerinvoicing` |
        | trusted_type | `String` | | Whether the contact is trusted. Possible values `all`, `trusted`, `not_trusted` |
        | - | - | - | - |
      tags:
        - Contacts
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - $ref: '#/components/parameters/format'
        - name: filter
          in: query
          required: false
          schema:
            type: string
        - name: include_archived
          in: query
          required: false
          schema:
            type:
              - boolean
              - string
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/per_page'
      responses:
        '200':
          description: A list of contacts
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/contact_response'
      operationId: get_administration_id_contacts_filter
  /{administration_id}/contacts/synchronization{format}:
    get:
      summary: List all ids and versions
      description: |-
        Returns all contacts in the administration. The list contains the contact id and the version of the contact.
        Check if the version of the contact is newer than the version you have stored locally, use the `POST`
        variant for fetching contacts with the given ids.
      tags:
        - Contacts
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - $ref: '#/components/parameters/format'
        - name: filter
          in: query
          required: false
          schema:
            type: string
        - name: include_archived
          in: query
          required: false
          schema:
            type:
              - boolean
              - string
      responses:
        '200':
          $ref: '#/components/responses/200_synchronization_response'
      operationId: get_administration_id_contacts_synchronization
    post:
      summary: Fetch contacts with given ids
      description: |-
        Given a list of contact ids, returns the contact information belonging to the contacts.
        Returns a maximum of 100 contacts, even if more ids are provided.
      tags:
        - Contacts
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - $ref: '#/components/parameters/format'
      requestBody:
        required: true
        content:
          application/*:
            schema:
              unevaluatedProperties: false
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type:
                      - integer
                      - string
              required:
                - ids
      responses:
        '200':
          description: A list of contacts
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/contact_response'
        '400':
          $ref: '#/components/responses/400_bad_request'
      operationId: post_administration_id_contacts_synchronization
  /{administration_id}/contacts/{contact_id}/contact_people/{id}{format}:
    get:
      summary: Get contact person
      description: Returns all information about a contact person.
      tags:
        - Contacts
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - name: contact_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - name: id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - $ref: '#/components/parameters/format'
      responses:
        '200':
          description: A contact person
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/contact_person_response'
        '404':
          $ref: '#/components/responses/404_not_found'
      operationId: get_administration_id_contacts_contact_id_contact_people_id
    patch:
      summary: Update a contact person
      description: |-
        When updating a contact, you only need to provide the information you want to change. Attributes you don't
        provide in the request will not be updated.
      tags:
        - Contacts
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - name: contact_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - name: id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - $ref: '#/components/parameters/format'
      requestBody:
        required: true
        content:
          application/*:
            schema:
              unevaluatedProperties: false
              type: object
              properties:
                contact_person:
                  type: object
                  unevaluatedProperties: false
                  properties:
                    firstname:
                      type: string
                    lastname:
                      type: string
                    phone:
                      type: string
                    email:
                      type: string
                      description: Should be a valid email addresses.
                    department:
                      type: string
                  required: []
              required: []
      responses:
        '200':
          description: Contact person updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/contact_person_response'
        '404':
          $ref: '#/components/responses/404_not_found'
        '422':
          $ref: '#/components/responses/422_unprocessable_entity'
      operationId: patch_administration_id_contacts_contact_id_contact_people_id
    delete:
      summary: Delete a contact person
      description: Deletes a contact person.
      tags:
        - Contacts
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - name: contact_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - name: id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - $ref: '#/components/parameters/format'
      responses:
        '204':
          description: Contact person deleted
        '404':
          $ref: '#/components/responses/404_not_found'
      operationId: delete_administration_id_contacts_contact_id_contact_people_id
  /{administration_id}/contacts/{contact_id}/contact_people{format}:
    post:
      summary: Create a new contact person
      description: Creating a new contact person in the administration requires at least a `contact_person` hash including `firstname` and `lastname`.
      tags:
        - Contacts
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - name: contact_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - $ref: '#/components/parameters/format'
      requestBody:
        required: true
        content:
          application/*:
            schema:
              unevaluatedProperties: false
              type: object
              properties:
                contact_person:
                  type: object
                  unevaluatedProperties: false
                  properties:
                    firstname:
                      type: string
                    lastname:
                      type: string
                    phone:
                      type: string
                    email:
                      type: string
                      description: Should be a valid email addresses.
                    department:
                      type: string
                  required: []
              required: []
      responses:
        '201':
          description: Contact person created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/contact_person_response'
        '422':
          $ref: '#/components/responses/422_unprocessable_entity'
      operationId: post_administration_id_contacts_contact_id_contact_people
  /{administration_id}/contacts/{contact_id}/moneybird_payments_mandate/url{format}:
    post:
      summary: Request an URL for setting up a Moneybird Payments mandate
      description: |-
        Obtains an URL for setting up a Moneybird Payments mandate. You must provide
        this URL to your contact to set-up the mandate. Your contact is required to
        make a 15 cent payment. Every generated URL using this endpoint is valid
        for 14 days after creation. Only available when Moneybird Payments is enabled
        for the administration.
      tags:
        - Contacts
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - name: contact_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - $ref: '#/components/parameters/format'
      requestBody:
        required: true
        content:
          application/*:
            schema:
              unevaluatedProperties: false
              type: object
              properties:
                mandate_request:
                  type: object
                  unevaluatedProperties: false
                  properties:
                    identity_id:
                      $ref: '#/components/schemas/identifier'
                      description: Should be a valid identity id.
                    workflow_id:
                      $ref: '#/components/schemas/identifier'
                      description: Should be a valid workflow id. Restricts the available payment methods to the methods available for the selected workflow.
                  required: []
              required: []
      responses:
        '201':
          description: A URL for setting up a Moneybird Payments mandate
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
        '403':
          $ref: '#/components/responses/4XX_open_error'
      operationId: post_administration_id_contacts_contact_id_moneybird_payments_mandate_url
  /{administration_id}/contacts/{contact_id}/moneybird_payments_mandate{format}:
    get:
      summary: Get Moneybird Payments mandate
      description: |-
        Returns information about the stored Moneybird Payments mandate. Only
        available when Moneybird Payments is enabled for the administration.
      tags:
        - Contacts
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - name: contact_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - $ref: '#/components/parameters/format'
      responses:
        '200':
          description: A Moneybird Payments mandate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/recurring_contract_response'
        '403':
          $ref: '#/components/responses/4XX_open_error'
        '404':
          $ref: '#/components/responses/4XX_open_error'
      operationId: get_administration_id_contacts_contact_id_moneybird_payments_mandate
    post:
      summary: Request a new Moneybird Payments mandate
      description: |-
        Sends a request for a Moneybird Payments mandate to a contact via e-mail.
        Your contact will receive an email containing a link to authorise direct
        debit payments through Moneybird Payments. Your contact is required to
        make a 15 cent payment. Only available when Moneybird Payments is enabled
        for the administration.
      tags:
        - Contacts
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - name: contact_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - $ref: '#/components/parameters/format'
      requestBody:
        required: true
        content:
          application/*:
            schema:
              unevaluatedProperties: false
              type: object
              properties:
                mandate_request:
                  type: object
                  unevaluatedProperties: false
                  properties:
                    email_message:
                      type: string
                    identity_id:
                      $ref: '#/components/schemas/identifier'
                      description: Should be a valid identity id.
                    workflow_id:
                      $ref: '#/components/schemas/identifier'
                      description: Should be a valid workflow id. Restricts the available payment methods to the methods available for the selected workflow.
                  required: []
              required: []
      responses:
        '204':
          description: Moneybird Payments mandate requested
        '403':
          $ref: '#/components/responses/4XX_open_error'
      operationId: post_administration_id_contacts_contact_id_moneybird_payments_mandate
    delete:
      summary: Delete a stored Moneybird Payments mandate
      description: |-
        Deletes the stored Moneybird Payments mandate for the contact. Only
        available when Moneybird Payments is enabled for the administration.
      tags:
        - Contacts
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - name: contact_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - $ref: '#/components/parameters/format'
      responses:
        '204':
          description: Contact deleted
        '403':
          $ref: '#/components/responses/4XX_open_error'
      operationId: delete_administration_id_contacts_contact_id_moneybird_payments_mandate
  /{administration_id}/contacts/{contact_id}/notes/{id}{format}:
    delete:
      summary: Destroys note from entity
      description: Deletes a note from the contact.
      tags:
        - Contacts
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - name: contact_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - name: id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - $ref: '#/components/parameters/format'
      responses:
        '204':
          description: Note deleted
        '400':
          $ref: '#/components/responses/400_bad_request'
      operationId: delete_administration_id_contacts_contact_id_notes_id
  /{administration_id}/contacts/{contact_id}/notes{format}:
    post:
      summary: Adds note to entity
      description: Adds a note to the contact.
      tags:
        - Contacts
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - name: contact_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - $ref: '#/components/parameters/format'
      requestBody:
        required: true
        content:
          application/*:
            schema:
              unevaluatedProperties: false
              type: object
              properties:
                note:
                  type: object
                  unevaluatedProperties: false
                  properties:
                    note:
                      type: string
                      description: '**Required**. Text for the note or to-do.'
                    todo:
                      type:
                        - boolean
                        - string
                      description: If `true` the note is a to-do.
                    assignee_id:
                      $ref: '#/components/schemas/identifier'
                      description: Assign to-do to user. Should be a valid user id. If assignee_id is provided the note will be a to-do.
                  required: []
              required: []
      responses:
        '201':
          description: Note created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/note_response'
        '400':
          $ref: '#/components/responses/400_bad_request'
        '422':
          $ref: '#/components/responses/422_unprocessable_entity'
      operationId: post_administration_id_contacts_contact_id_notes
  /{administration_id}/contacts/{id}/additional_charges{format}:
    post:
      summary: Create an additional charge to be invoiced at start of next period
      description: |-
        At the end of the current period, the additional charges for a contact are merged
        where possible and an invoice will be created for them. The invoice will be scheduled
        for sending at the first day of the next month.
      tags:
        - Contacts
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - name: id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - $ref: '#/components/parameters/format'
      requestBody:
        required: true
        content:
          application/*:
            schema:
              type: object
              additionalProperties: true
      responses:
        '201':
          description: Subscription additional charge created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/subscription_additional_charge_response'
        '400':
          $ref: '#/components/responses/400_bad_request'
        '404':
          $ref: '#/components/responses/404_not_found'
      operationId: post_administration_id_contacts_id_additional_charges
    get:
      summary: Get additional charges
      description: Get the additional charges of the given contact.
      tags:
        - Contacts
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - name: id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - $ref: '#/components/parameters/format'
        - name: include_billed
          in: query
          required: false
          schema:
            type:
              - boolean
              - string
            description: If true, includes the additional charges that have already been billed. Default is false.
      responses:
        '200':
          description: A list of additional charges
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/subscription_additional_charge_response'
        '404':
          $ref: '#/components/responses/404_not_found'
      operationId: get_administration_id_contacts_id_additional_charges
  /{administration_id}/contacts/{id}/archive{format}:
    patch:
      summary: Archive a contact
      description: Archives a contact.
      tags:
        - Contacts
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - name: id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - $ref: '#/components/parameters/format'
      responses:
        '204':
          description: Contact archived
        '400':
          $ref: '#/components/responses/400_bad_request'
        '404':
          $ref: '#/components/responses/404_not_found'
      operationId: patch_administration_id_contacts_id_archive
  /{administration_id}/contacts/{id}{format}:
    get:
      summary: Get contact
      description: Returns all information about a contact.
      tags:
        - Contacts
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - name: id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - $ref: '#/components/parameters/format'
        - name: include_archived
          in: query
          required: false
          schema:
            type:
              - boolean
              - string
      responses:
        '200':
          description: A contact
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/contact_response'
        '404':
          $ref: '#/components/responses/404_not_found'
      operationId: get_administration_id_contacts_id
    patch:
      summary: Update a contact
      description: |-
        When updating a contact, you only need to provide the information you want to change. Attributes you don't
        provide in the request will not be updated. Optional attributes can be removed by setting them to an empty string value.
      tags:
        - Contacts
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - name: id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - $ref: '#/components/parameters/format'
      requestBody:
        required: true
        content:
          application/*:
            schema:
              unevaluatedProperties: false
              type: object
              properties:
                contact:
                  type: object
                  unevaluatedProperties: false
                  properties:
                    company_name:
                      type: string
                      description: A contact requires a non-blank `company_name`, `firstname` or `lastname`.
                    address1:
                      type: string
                      description: Primary street address of the contact.
                    address2:
                      type: string
                      description: Secondary address line (e.g. apartment number, building name).
                    zipcode:
                      type: string
                      description: Postal code or ZIP code of the contact's address.
                    city:
                      type: string
                      description: City or town of the contact's address.
                    country:
                      type: string
                      description: ISO two-character country code, e.g. NL or DE.
                    phone:
                      type: string
                      description: Phone number of the contact.
                    delivery_method:
                      type: string
                      description: Can be `Email`, `Simplerinvoicing`, `Peppol`, `Manual` or `Post`.
                    email_ubl:
                      type:
                        - boolean
                        - string
                      description: When `true`, a UBL (Universal Business Language) XML file is attached when emailing invoices to this contact. Enables machine-readable invoice processing.
                    customer_id:
                      type: string
                      description: Will be assigned automatically if empty. Should be unique for the administration.
                    tax_number:
                      type: string
                      description: The tax identification number (VAT number) of the contact, e.g. `NL123456789B01`.
                    firstname:
                      type: string
                      description: A contact requires a non-blank `company_name`, `firstname` or `lastname`.
                    lastname:
                      type: string
                      description: A contact requires a non-blank `company_name`, `firstname` or `lastname`.
                    chamber_of_commerce:
                      type: string
                      description: The CoC (Chamber of Commerce) registration number of the contact's business.
                    bank_account:
                      type: string
                      description: The bank account number (IBAN) of the contact. Used for outgoing payments and displayed on documents.
                    send_invoices_to_attention:
                      type: string
                      description: The name of the person to address invoices to (attention line).
                    send_invoices_to_email:
                      type: string
                      description: Should be one or more valid email addresses, separated by a comma.
                    send_estimates_to_attention:
                      type: string
                      description: The name of the person to address estimates to (attention line).
                    send_estimates_to_email:
                      type: string
                      description: Should be one or more valid email addresses, separated by a comma.
                    sepa_active:
                      type:
                        - boolean
                        - string
                      description: When `true`, all other SEPA fields are required.
                    sepa_iban:
                      type: string
                      description: Should be a valid IBAN.
                    sepa_iban_account_name:
                      type: string
                      description: The account holder name for the SEPA direct debit IBAN.
                    sepa_bic:
                      type: string
                      description: Should be a valid BIC.
                    sepa_mandate_id:
                      type: string
                      description: Should be unique for the administration.
                    sepa_mandate_date:
                      type: string
                      description: Should be a date in the past.
                    sepa_sequence_type:
                      type: string
                      description: Can be `RCUR`, `FRST`, `OOFF` or `FNAL`.
                    invoice_workflow_id:
                      $ref: '#/components/schemas/identifier'
                      description: Should be a valid invoice workflow id.
                    estimate_workflow_id:
                      $ref: '#/components/schemas/identifier'
                      description: Should be a valid estimate workflow id.
                    si_identifier_type:
                      type: string
                      description: Can be `0002`, `0007`, `0009`, `0037`, `0060`, `0088`, `0096`, `0097`, `0106`, `0130`, `0135`, `0142`, `0151`, `0183`, `0184`, `0188`, `0190`, `0191`, `0192`, `0193`, `0195`, `0196`, `0198`, `0199`, `0200`, `0201`, `0204`, `0205`, `0208`, `0209`, `0210`, `0211`, `0212`, `0213`, `0215`, `0216`, `0221`, `0230`, `9910`, `9913`, `9914`, `9915`, `9918`, `9919`, `9920`, `9922`, `9923`, `9924`, `9925`, `9926`, `9927`, `9928`, `9929`, `9930`, `9931`, `9932`, `9933`, `9934`, `9935`, `9936`, `9937`, `9938`, `9939`, `9940`, `9941`, `9942`, `9943`, `9944`, `9945`, `9946`, `9947`, `9948`, `9949`, `9950`, `9951`, `9952`, `9953`, `9957` or `9959`.
                    si_identifier:
                      type: string
                      description: The Peppol/e-invoicing identifier value for this contact. The format depends on the `si_identifier_type`.
                    direct_debit:
                      type:
                        - boolean
                        - string
                      description: When `true`, invoices for this contact are collected via SEPA direct debit. Requires SEPA fields to be configured.
                    custom_fields_attributes:
                      $ref: '#/components/schemas/custom_fields_attributes'
                  required: []
              required:
                - contact
      responses:
        '200':
          description: Contact updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/contact_response'
        '400':
          $ref: '#/components/responses/400_bad_request'
        '404':
          $ref: '#/components/responses/404_not_found'
        '422':
          $ref: '#/components/responses/422_unprocessable_entity'
      operationId: patch_administration_id_contacts_id
    delete:
      summary: Delete a contact
      description: Deletes a contact.
      tags:
        - Contacts
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - name: id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - $ref: '#/components/parameters/format'
      responses:
        '204':
          description: Contact deleted
        '404':
          $ref: '#/components/responses/404_not_found'
      operationId: delete_administration_id_contacts_id
  /{administration_id}/contacts{format}:
    get:
      summary: List all contacts
      description: |-
        Returns a paginated list of contacts in the administration.

        Searching for contacts can be done by providing the `query` parameter with search terms. The API searches for matches in the following contact fields:

        - `company_name`
        - `attention`
        - `firstname`
        - `lastname`
        - `address1`
        - `address2`
        - `zipcode`
        - `city`
        - `country`
        - `email`
        - `phone`
        - `customer_id`
        - `tax_number`
        - `chamber_of_commerce`
        - `bank_account`
      tags:
        - Contacts
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - $ref: '#/components/parameters/format'
        - $ref: '#/components/parameters/per_page'
        - $ref: '#/components/parameters/page'
        - name: query
          in: query
          required: false
          schema:
            type: string
        - name: include_archived
          in: query
          required: false
          schema:
            type:
              - boolean
              - string
        - name: todo
          in: query
          required: false
          schema:
            type: string
        - name: contact_field
          in: query
          required: false
          schema:
            type: string
        - name: contact_value
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: A list of contacts
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/contact_response'
        '400':
          $ref: '#/components/responses/400_bad_request'
      operationId: get_administration_id_contacts
    post:
      summary: Create a new contact
      description: |-
        Creating a new contact in the administration requires at least a `company_name` or a `firstname` and `lastname`.
        When filling a custom field, both `id` and `value` are required. See the custom field example for more information.
      tags:
        - Contacts
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - $ref: '#/components/parameters/format'
      requestBody:
        required: true
        content:
          application/*:
            schema:
              unevaluatedProperties: false
              type: object
              properties:
                contact:
                  type: object
                  unevaluatedProperties: false
                  properties:
                    company_name:
                      type: string
                      description: A contact requires a non-blank `company_name`, `firstname` or `lastname`.
                    address1:
                      type: string
                      description: Primary street address of the contact.
                    address2:
                      type: string
                      description: Secondary address line (e.g. apartment number, building name).
                    zipcode:
                      type: string
                      description: Postal code or ZIP code of the contact's address.
                    city:
                      type: string
                      description: City or town of the contact's address.
                    country:
                      type: string
                      description: ISO two-character country code, e.g. NL or DE.
                    phone:
                      type: string
                      description: Phone number of the contact.
                    delivery_method:
                      type: string
                      description: Can be `Email`, `Simplerinvoicing`, `Peppol`, `Manual` or `Post`.
                    customer_id:
                      type: string
                      description: Will be assigned automatically if empty. Should be unique for the administration.
                    tax_number:
                      type: string
                      description: The tax identification number (VAT number) of the contact, e.g. `NL123456789B01`.
                    firstname:
                      type: string
                      description: A contact requires a non-blank `company_name`, `firstname` or `lastname`.
                    lastname:
                      type: string
                      description: A contact requires a non-blank `company_name`, `firstname` or `lastname`.
                    chamber_of_commerce:
                      type: string
                      description: The CoC (Chamber of Commerce) registration number of the contact's business.
                    bank_account:
                      type: string
                      description: The bank account number (IBAN) of the contact. Used for outgoing payments and displayed on documents.
                    send_invoices_to_attention:
                      type: string
                      description: The name of the person to address invoices to (attention line), e.g. "Finance Department".
                    send_invoices_to_email:
                      type: string
                      description: Should be one or more valid email addresses, separated by a comma.
                    send_estimates_to_attention:
                      type: string
                      description: The name of the person to address estimates to (attention line).
                    send_estimates_to_email:
                      type: string
                      description: Should be one or more valid email addresses, separated by a comma.
                    sepa_active:
                      type:
                        - boolean
                        - string
                      description: When `true`, all other SEPA fields are required.
                    sepa_iban:
                      type: string
                      description: Should be a valid IBAN.
                    sepa_iban_account_name:
                      type: string
                      description: The account holder name for the SEPA direct debit IBAN.
                    sepa_bic:
                      type: string
                      description: Should be a valid BIC.
                    sepa_mandate_id:
                      type: string
                      description: Should be unique for the administration.
                    sepa_mandate_date:
                      type: string
                      description: Should be a date in the past.
                    sepa_sequence_type:
                      type: string
                      description: Can be `RCUR`, `FRST`, `OOFF` or `FNAL`.
                    si_identifier_type:
                      type: string
                      description: Can be `0002`, `0007`, `0009`, `0037`, `0060`, `0088`, `0096`, `0097`, `0106`, `0130`, `0135`, `0142`, `0151`, `0183`, `0184`, `0188`, `0190`, `0191`, `0192`, `0193`, `0195`, `0196`, `0198`, `0199`, `0200`, `0201`, `0204`, `0205`, `0208`, `0209`, `0210`, `0211`, `0212`, `0213`, `0215`, `0216`, `0221`, `0230`, `9910`, `9913`, `9914`, `9915`, `9918`, `9919`, `9920`, `9922`, `9923`, `9924`, `9925`, `9926`, `9927`, `9928`, `9929`, `9930`, `9931`, `9932`, `9933`, `9934`, `9935`, `9936`, `9937`, `9938`, `9939`, `9940`, `9941`, `9942`, `9943`, `9944`, `9945`, `9946`, `9947`, `9948`, `9949`, `9950`, `9951`, `9952`, `9953`, `9957` or `9959`.
                    si_identifier:
                      type: string
                      description: The Peppol/e-invoicing identifier value for this contact. The format depends on the `si_identifier_type`.
                    invoice_workflow_id:
                      $ref: '#/components/schemas/identifier'
                      description: Should be a valid invoice workflow id.
                    estimate_workflow_id:
                      $ref: '#/components/schemas/identifier'
                      description: Should be a valid estimate workflow id.
                    email_ubl:
                      type:
                        - boolean
                        - string
                      description: When `true`, a UBL (Universal Business Language) XML file is attached when emailing invoices to this contact. Enables machine-readable invoice processing.
                    direct_debit:
                      type:
                        - boolean
                        - string
                      description: When `true`, invoices for this contact are collected via SEPA direct debit. Requires SEPA fields to be configured.
                    custom_fields_attributes:
                      $ref: '#/components/schemas/custom_fields_attributes'
                    contact_person:
                      type: object
                      description: An optional initial contact person to create along with the contact. Additional contact persons can be managed via the contact persons endpoint.
                      unevaluatedProperties: false
                      properties:
                        firstname:
                          type: string
                          description: First name of the contact person.
                        lastname:
                          type: string
                          description: Last name of the contact person.
                      required:
                        - firstname
                        - lastname
                  required: []
              required:
                - contact
      responses:
        '201':
          description: Contact created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/contact_response'
        '400':
          $ref: '#/components/responses/400_bad_request'
        '404':
          $ref: '#/components/responses/404_not_found'
        '422':
          $ref: '#/components/responses/422_unprocessable_entity'
      operationId: post_administration_id_contacts
  /{administration_id}/custom_fields{format}:
    get:
      summary: List all custom fields
      description: |-
        Custom fields are used to add extra information to entities in the administration. The `source`
        field can be `sales_invoices`, `contact` or `identity` and defines for which entities the custom
        field can be used. The id of a custom field is required to add a value for a custom field to an
        entity.
      tags:
        - Custom fields
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - $ref: '#/components/parameters/format'
      responses:
        '200':
          description: A list of custom fields
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/custom_field_response'
      operationId: get_administration_id_custom_fields
  /{administration_id}/customer_contact_portal/{contact_id}/invoices{format}:
    get:
      summary: Get a temporary link to the invoices in the customer contact portal
      description: Generate a temporary link to the invoices in the customer contact portal. The link will expire after 1 hour.
      tags:
        - Customer contact portal
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - name: contact_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - $ref: '#/components/parameters/format'
      responses:
        '200':
          description: Temporary link generated successfully
          content:
            application/json:
              schema:
                type: string
                example: https://moneybird.com/temporary-link
        '404':
          description: Contact not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/symbolic_error'
      operationId: get_administration_id_customer_contact_portal_contact_id_invoices
  /{administration_id}/customer_contact_portal/{contact_id}/subscriptions/{id}{format}:
    get:
      summary: Get a temporary link to the subscriptions in the customer contact portal
      description: |-
        Generate a temporary link to the subscriptions in the customer contact portal. The link will expire after 1 hour.
        Creating the online sales link can be done using the [Create online sales link endpoint](https://developer.moneybird.com/api/subscription-templates#create-online-sales-link).
      tags:
        - Customer contact portal
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - name: contact_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - name: id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - $ref: '#/components/parameters/format'
      responses:
        '200':
          description: Temporary link generated successfully
          content:
            application/json:
              schema:
                type: string
                example: https://moneybird.com/temporary-link
        '404':
          description: Contact or subscription not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/symbolic_error'
      operationId: get_administration_id_customer_contact_portal_contact_id_subscriptions_id
  /{administration_id}/customer_contact_portal/{contact_id}{format}:
    get:
      summary: Get a temporary link to the customer contact portal
      description: Generate a temporary link to the customer contact portal. The link will expire after 1 hour.
      tags:
        - Customer contact portal
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - name: contact_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - $ref: '#/components/parameters/format'
      responses:
        '200':
          description: Temporary link generated successfully
          content:
            application/json:
              schema:
                type: string
                example: https://moneybird.com/temporary-link
        '404':
          $ref: '#/components/responses/404_not_found'
      operationId: get_administration_id_customer_contact_portal_contact_id
  /{administration_id}/document_styles{format}:
    get:
      summary: List all document styles
      description: Returns a list of all document styles.
      tags:
        - Document styles
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - $ref: '#/components/parameters/format'
      responses:
        '200':
          description: A list of document styles
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/document_style_response'
      operationId: get_administration_id_document_styles
  /{administration_id}/documents/general_documents/synchronization{format}:
    get:
      summary: List ids and versions of general documents
      description: |-
        Returns all documents in the administration. The list contains the document id and the version of the document.
        Check if the version of the document is newer than the version you have stored locally, use the `POST`
        variant for fetching documents with the given ids.
      tags:
        - 'Documents: General documents'
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - $ref: '#/components/parameters/format'
        - name: filter
          in: query
          required: false
          schema:
            type: string
            description: 'String terms, example: key1:value1,key2:value2.'
      responses:
        '200':
          $ref: '#/components/responses/200_synchronization_response'
      operationId: get_administration_id_documents_general_documents_synchronization
    post:
      summary: Fetch general documents with given ids
      description: |-
        Given a list of document ids, returns the document information belonging to the documents.
        Returns a maximum of 100 documents, even if more ids are provided.
      tags:
        - 'Documents: General documents'
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - $ref: '#/components/parameters/format'
      requestBody:
        required: true
        content:
          application/*:
            schema:
              unevaluatedProperties: false
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type:
                      - integer
                      - string
              required:
                - ids
      responses:
        '200':
          description: A list of general documents
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/general_document_response'
      operationId: post_administration_id_documents_general_documents_synchronization
  /{administration_id}/documents/general_documents/{general_document_id}/notes/{id}{format}:
    delete:
      summary: Destroys note from entity
      description: Deletes a note from the general document.
      tags:
        - 'Documents: General documents'
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - name: general_document_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - name: id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - $ref: '#/components/parameters/format'
      responses:
        '204':
          description: Note deleted
        '400':
          $ref: '#/components/responses/400_bad_request'
      operationId: delete_administration_id_documents_general_documents_general_document_id_notes_id
  /{administration_id}/documents/general_documents/{general_document_id}/notes{format}:
    post:
      summary: Adds note to entity
      description: Adds a note to the general document.
      tags:
        - 'Documents: General documents'
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - name: general_document_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - $ref: '#/components/parameters/format'
      requestBody:
        required: true
        content:
          application/*:
            schema:
              unevaluatedProperties: false
              type: object
              properties:
                note:
                  type: object
                  unevaluatedProperties: false
                  properties:
                    note:
                      type: string
                      description: '**Required**. Text for the note or to-do.'
                    todo:
                      type:
                        - boolean
                        - string
                      description: If `true` the note is a to-do.
                    assignee_id:
                      $ref: '#/components/schemas/identifier'
                      description: Assign to-do to user. Should be a valid user id. If assignee_id is provided the note will be a to-do.
                  required: []
              required: []
      responses:
        '201':
          description: Note created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/note_response'
        '400':
          $ref: '#/components/responses/400_bad_request'
        '422':
          $ref: '#/components/responses/422_unprocessable_entity'
      operationId: post_administration_id_documents_general_documents_general_document_id_notes
  /{administration_id}/documents/general_documents/{id}/attachments/{attachment_id}/download{format}:
    get:
      summary: Download attachment
      description: |-
        Download the attachment. The response will be a redirect to a temporarily available URL
        where the attachment can be downloaded. Use the `Location` header in the response
        to download the attachment.
      tags:
        - 'Documents: General documents'
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - name: id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - name: attachment_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - $ref: '#/components/parameters/format'
      responses:
        '302':
          $ref: '#/components/responses/302_found'
        '404':
          $ref: '#/components/responses/404_not_found'
      operationId: get_administration_id_documents_general_documents_id_attachments_attachment_id_download
  /{administration_id}/documents/general_documents/{id}/attachments/{attachment_id}{format}:
    delete:
      summary: Delete an attachment
      description: Deletes an attachment of an attachable.
      tags:
        - 'Documents: General documents'
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - name: id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - name: attachment_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - $ref: '#/components/parameters/format'
      responses:
        '204':
          description: Attachment deleted
        '404':
          $ref: '#/components/responses/404_not_found'
      operationId: delete_administration_id_documents_general_documents_id_attachments_attachment_id
  /{administration_id}/documents/general_documents/{id}/attachments{format}:
    post:
      summary: Add attachment to general document
      description: Add an attachment to a general document.
      tags:
        - 'Documents: General documents'
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - name: id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - $ref: '#/components/parameters/format'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        '200':
          $ref: '#/components/responses/status_code'
        '400':
          $ref: '#/components/responses/400_bad_request'
        '404':
          $ref: '#/components/responses/404_not_found'
        '422':
          $ref: '#/components/responses/422_unprocessable_entity'
      operationId: post_administration_id_documents_general_documents_id_attachments
  /{administration_id}/documents/general_documents/{id}{format}:
    get:
      summary: Get general document
      description: Returns a general document by id.
      tags:
        - 'Documents: General documents'
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - name: id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - $ref: '#/components/parameters/format'
      responses:
        '200':
          description: A general document
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/general_document_response'
        '404':
          $ref: '#/components/responses/404_not_found'
      operationId: get_administration_id_documents_general_documents_id
    delete:
      summary: Delete a general document
      description: Deletes a general document.
      tags:
        - 'Documents: General documents'
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - name: id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - $ref: '#/components/parameters/format'
      responses:
        '200':
          $ref: '#/components/responses/status_code'
        '400':
          $ref: '#/components/responses/400_bad_request'
        '404':
          $ref: '#/components/responses/404_not_found'
      operationId: delete_administration_id_documents_general_documents_id
    patch:
      summary: Update a general document
      description: Updates a general document.
      tags:
        - 'Documents: General documents'
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - name: id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - $ref: '#/components/parameters/format'
      requestBody:
        required: true
        content:
          application/*:
            schema:
              unevaluatedProperties: false
              type: object
              properties:
                general_document:
                  type: object
                  unevaluatedProperties: false
                  properties:
                    reference:
                      type: string
                      description: '**Required**.'
                    date:
                      type: string
                      description: '**Required**.'
                    due_date:
                      type: string
                    reminder_date:
                      type: string
                    contact_id:
                      $ref: '#/components/schemas/identifier'
                      description: Should be a valid contact id.
                    reminder:
                      type: object
                      unevaluatedProperties: false
                      properties:
                        date:
                          type: string
                        message:
                          type: string
                      required:
                        - date
                  required: []
                remove_contact:
                  type:
                    - boolean
                    - string
              required: []
      responses:
        '200':
          description: General document updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/general_document_response'
        '404':
          $ref: '#/components/responses/404_not_found'
        '422':
          $ref: '#/components/responses/422_unprocessable_entity'
      operationId: patch_administration_id_documents_general_documents_id
  /{administration_id}/documents/general_documents{format}:
    get:
      summary: Get general documents
      description: |-
        Returns a paginated list of documents of this type in the administration.

        The `filter` argument allows you to filter on the list of documents. Filters are a combination of keys and values,
        separated by a comma: `key:value,key2:value2`. The most common filter method will be `period`: `period:this_month`.
        Filtering works the same as in the web application, for more advanced examples, change the filtering in the web
        application and learn from the resulting URI.
      tags:
        - 'Documents: General documents'
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - $ref: '#/components/parameters/format'
        - name: filter
          in: query
          required: false
          schema:
            type: string
            description: 'String terms, example: `key1:value1,key2:value2`.'
        - name: new_filter
          in: query
          required: false
          schema:
            type: string
            description: 'String terms, example: `key1:value1,key2:value2`.'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/per_page'
        - name: exclude_new_general_journal_documents
          in: query
          required: false
          schema:
            type:
              - boolean
              - string
      responses:
        '200':
          description: A list of general documents
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/general_document_response'
        '400':
          $ref: '#/components/responses/400_bad_request'
      operationId: get_administration_id_documents_general_documents
    post:
      summary: Create a new general document
      description: Creates a new general document.
      tags:
        - 'Documents: General documents'
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - $ref: '#/components/parameters/format'
      requestBody:
        required: true
        content:
          application/*:
            schema:
              unevaluatedProperties: false
              type: object
              properties:
                general_document:
                  type: object
                  unevaluatedProperties: false
                  properties:
                    reference:
                      type: string
                      description: '**Required**.'
                    date:
                      type: string
                      description: '**Required**.'
                    due_date:
                      type: string
                    reminder_date:
                      type: string
                    contact_id:
                      $ref: '#/components/schemas/identifier'
                      description: Should be a valid contact id.
                    reminder:
                      type: object
                      unevaluatedProperties: false
                      properties:
                        date:
                          type: string
                        message:
                          type: string
                      required:
                        - date
                  required: []
              required: []
      responses:
        '201':
          description: General document created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/general_document_response'
        '400':
          $ref: '#/components/responses/400_bad_request'
        '402':
          $ref: '#/components/responses/402_payment_required'
        '422':
          $ref: '#/components/responses/422_unprocessable_entity'
      operationId: post_administration_id_documents_general_documents
  /{administration_id}/documents/general_journal_documents/synchronization{format}:
    get:
      summary: List ids and versions of general journal documents
      description: |-
        Returns all documents in the administration. The list contains the document id and the version of the document.
        Check if the version of the document is newer than the version you have stored locally, use the `POST`
        variant for fetching documents with the given ids.
      tags:
        - 'Documents: General journal documents'
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - $ref: '#/components/parameters/format'
        - name: filter
          in: query
          required: false
          schema:
            type: string
            description: 'String terms, example: key1:value1,key2:value2.'
      responses:
        '200':
          $ref: '#/components/responses/200_synchronization_response'
      operationId: get_administration_id_documents_general_journal_documents_synchronization
    post:
      summary: Fetch general journal documents with given ids
      description: |-
        Given a list of document ids, returns the document information belonging to the documents.
        Returns a maximum of 100 documents, even if more ids are provided.
      tags:
        - 'Documents: General journal documents'
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - $ref: '#/components/parameters/format'
      requestBody:
        required: true
        content:
          application/*:
            schema:
              unevaluatedProperties: false
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type:
                      - integer
                      - string
              required:
                - ids
      responses:
        '200':
          description: A list of general journal documents
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/general_journal_document_response'
      operationId: post_administration_id_documents_general_journal_documents_synchronization
  /{administration_id}/documents/general_journal_documents/{general_journal_document_id}/notes/{id}{format}:
    delete:
      summary: Destroys note from entity
      description: Deletes a note from the general journal document.
      tags:
        - 'Documents: General journal documents'
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - name: general_journal_document_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - name: id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - $ref: '#/components/parameters/format'
      responses:
        '204':
          description: Note deleted
        '400':
          $ref: '#/components/responses/400_bad_request'
      operationId: delete_administration_id_documents_general_journal_documents_general_journal_document_id_notes_id
  /{administration_id}/documents/general_journal_documents/{general_journal_document_id}/notes{format}:
    post:
      summary: Adds note to entity
      description: Adds a note to the general journal document.
      tags:
        - 'Documents: General journal documents'
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - name: general_journal_document_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - $ref: '#/components/parameters/format'
      requestBody:
        required: true
        content:
          application/*:
            schema:
              unevaluatedProperties: false
              type: object
              properties:
                note:
                  type: object
                  unevaluatedProperties: false
                  properties:
                    note:
                      type: string
                      description: '**Required**. Text for the note or to-do.'
                    todo:
                      type:
                        - boolean
                        - string
                      description: If `true` the note is a to-do.
                    assignee_id:
                      $ref: '#/components/schemas/identifier'
                      description: Assign to-do to user. Should be a valid user id. If assignee_id is provided the note will be a to-do.
                  required: []
              required: []
      responses:
        '201':
          description: Note created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/note_response'
        '400':
          $ref: '#/components/responses/400_bad_request'
        '422':
          $ref: '#/components/responses/422_unprocessable_entity'
      operationId: post_administration_id_documents_general_journal_documents_general_journal_document_id_notes
  /{administration_id}/documents/general_journal_documents/{id}/attachments/{attachment_id}/download{format}:
    get:
      summary: Download attachment
      description: |-
        Download the attachment. The response will be a redirect to a temporarily available URL
        where the attachment can be downloaded. Use the `Location` header in the response
        to download the attachment.
      tags:
        - 'Documents: General journal documents'
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - name: id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - name: attachment_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - $ref: '#/components/parameters/format'
      responses:
        '302':
          $ref: '#/components/responses/302_found'
        '404':
          $ref: '#/components/responses/404_not_found'
      operationId: get_administration_id_documents_general_journal_documents_id_attachments_attachment_id_download
  /{administration_id}/documents/general_journal_documents/{id}/attachments/{attachment_id}{format}:
    delete:
      summary: Delete an attachment
      description: Deletes an attachment of an attachable.
      tags:
        - 'Documents: General journal documents'
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - name: id
          in: path
          required: true
          schema:
[...]
