openapi: 3.1.0
info:
  title: Moneybird API
  description: The Moneybird API allows you to interact with a Moneybird account in a RESTful manner. For comprehensive and up-to-date information on authentication, endpoints, usage, webhooks, and best practices, please refer to the documentation at [developer.moneybird.com](https://developer.moneybird.com). All details, examples, and guides are available on their respective pages.
  version: v2-20260108-683cbfbf17
  termsOfService: https://www.moneybird.nl/terms/
  contact:
    name: Moneybird
    email: support@moneybird.com
    url: https://developer.moneybird.com
servers:
  - url: https://moneybird.com/api/v2
    description: Production server
security:
  - bearerAuth: []
tags:
  - name: Administrations
    description: |-
      Administrations are the top level entities in Moneybird. Use the following endpoints to get
      information about the administrations you have access to.
  - name: Assets
    description: |-
      Assets are significant purchases, like company cars, laptops or furniture, that are used over
      multiple years. They are recorded to manage depreciation and comply with tax regulations.
  - name: Contacts
    description: |-
      Contacts are the entities in Moneybird that represent your customers, suppliers or other
      business relations. Use the following endpoints to get information about contacts, create
      new contacts or update existing contacts.
  - name: Custom fields
    description: Custom fields can be used to add extra information to sales invoices, contacts and identities.
  - name: Customer contact portal
    description: |-
      The customer contact portal allows you to create temporary links to the customer contact
      portal. Allowing your customers to view their invoices, subscriptions and other related information.
  - name: Document styles
    description: |-
      Document styles are used to define the layout of documents, like invoices and estimates. You
      can have multiple document styles for different purposes.
  - name: Downloads
    description: |-
      Downloads are files that have been generated as exports from your administration. These can be
      CSV exports of contacts, sales invoices, time entries, or various financial reports. Use these
      endpoints to retrieve a list of available downloads and to download the files.
  - name: 'Documents: General documents'
    description: |-
      General documents are documents that are not invoices, estimates, or other specific document
      types. They can be used to store other financial documents.
  - name: 'Documents: General journal documents'
    description: |-
      General journal documents are used for manual bookkeeping entries, to correct errors or make
      adjustments.
  - name: 'Documents: Purchase invoices'
    description: Purchase invoices are invoices you receive from your suppliers.
  - name: 'Documents: Receipts'
    description: Receipts are proofs of payment for expenses.
  - name: 'Documents: Typeless documents'
    description: |-
      Typeless documents are documents of which the type is not yet known. For example, a document
      uploaded via email or via the bulk uploader. It is not possible to update a typeless
      document, except for adding attachments. You will need to set its type first. You cannot set
      the type of typeless documents using the API yet, but you can do this via the website.
  - name: Estimates
    description: |-
      Estimates (or quotes) are proposals for products or services that you can send to your
      clients.
  - name: External sales invoices
    description: |-
      External sales invoices are invoices created in other systems that you want to import into
      Moneybird for a complete overview of your revenue.
  - name: Financial accounts
    description: |-
      Financial accounts represent your bank accounts, credit cards, private withdrawals/deposits
      and other payment services. They are used to track payments and financial mutations.
  - name: Financial mutations
    description: Financial mutations are the transactions on your financial accounts.
  - name: Financial statements
    description: |-
      Financial statements are comprised of financial mutations that are booked on a financial
      account. They provide a detailed record of all transactions for a specific account.
  - name: Identities
    description: |-
      Identities are the different profiles or trade names under which you can send documents from
      your administration.
  - name: Ledger accounts
    description: |-
      Ledger accounts are the categories in your bookkeeping, like revenue, costs, assets, and
      liabilities.
  - name: Payments
    description: Payments are records of money being transferred for invoices.
  - name: Products
    description: Products are the goods or services you sell. You can add them to invoices and estimates.
  - name: Projects
    description: |-
      Projects allow you to group time entries and financials for specific projects you are working
      on.
  - name: Purchase transactions
    description: Purchase transactions are outgoing payments you initiate from Moneybird
  - name: Recurring sales invoices
    description: |-
      Recurring sales invoices are templates for invoices that are sent automatically at a
      recurring interval.
  - name: Reports
    description: |-
      Reports provide analytical data about your administration, such as revenue and expense
      breakdowns by various dimensions like projects, contacts, or time periods.
  - name: Sales invoices
    description: |-
      Sales invoices are the invoices you send to your customers for products or services you have
      delivered.
  - name: Subscription templates
    description: Subscription templates define the products and prices for subscriptions.
  - name: Subscriptions
    description: |-
      Subscriptions allow you to automatically invoice customers on a recurring basis for the
      services you provide.
  - name: Tax rates
    description: Tax rates are the VAT tariffs that apply to your products and services.
  - name: Time entries
    description: |-
      Time entries are used to track time spent on projects, which can then be billed to
      customers.
  - name: Users
    description: |-
      Administrations can have multiple users. Use the following endpoints to get information about
      the users in an administration.
  - name: Verifications
    description: |-
      Verifications are used to retrieve all verified information within an administration, such as
      e-mail addresses, bank account numbers, Chamber of Commerce numbers, and tax numbers.
  - name: Webhooks
    description: |-
      Webhooks are a way to subscribe to events that happen in Moneybird. When an event occurs,
      Moneybird will send a POST request to the URL you provided. This way, you can keep your own
      system in sync with Moneybird.

      For example, you can subscribe to the `contact_created` event to receive a notification when
      a new contact is created in Moneybird.
  - name: Workflows
    description: |-
      Workflows determine the settings of the invoice and estimate workflow. Use the following
      to get information about the workflows in an administration.
paths:
  /administrations{format}:
    get:
      summary: List all administrations
      description: Lists all administrations the current user has access to.
      tags:
        - Administrations
      parameters:
        - $ref: '#/components/parameters/format'
      responses:
        '200':
          description: A list of administrations
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/administration_response'
              examples:
                ReturnAListOfAdministrationsThatUserHasAccessTo:
                  summary: Return a list of administrations that user has access to
                  value:
                    - id: 1767872419803269
                      name: Administratie
                      language: nl
                      currency: EUR
                      country: NL
                      time_zone: Europe/Amsterdam
                      access: user
                      suspended: false
                      period_locked_until: null
                    - id: 123
                      name: Parkietje B.V.
                      language: nl
                      currency: EUR
                      country: NL
                      time_zone: Europe/Amsterdam
                      access: user
                      suspended: false
                      period_locked_until: null
                ReturnsAccessTypeUserWhenHavingDirectAccessToTheAdministration:
                  summary: Returns access type user when having direct access to the administration
                  value:
                    - id: '176787242052031611'
                      name: Parkietje B.V.
                      language: nl
                      currency: EUR
                      country: NL
                      time_zone: Europe/Amsterdam
                      access: user
                      suspended: false
                      period_locked_until: null
                ValidatesThatAUserHasAccessToMultipleAdministrationsViaDifferentWays:
                  summary: Validates that a user has access to multiple administrations via different ways
                  value:
                    - id: '176787242032376900'
                      name: Administratie
                      language: nl
                      currency: EUR
                      country: NL
                      time_zone: Europe/Amsterdam
                      access: accountant_company
                      suspended: false
                      period_locked_until: null
                    - id: 123
                      name: Parkietje B.V.
                      language: nl
                      currency: EUR
                      country: NL
                      time_zone: Europe/Amsterdam
                      access: user
                      suspended: false
                      period_locked_until: null
      operationId: get_administrations
  /{administration_id}/assets/{id}/disposals{format}:
    post:
      summary: Create a disposal
      description: |-
        Creates a disposal for the asset at the given date.
        Requires the asset to not have a disposal already.
        Furthermore, the asset must be fully depreciated so the value of the asset at the disposal date must be zero.
      tags:
        - Assets
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - name: id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - $ref: '#/components/parameters/format'
      requestBody:
        required: true
        content:
          application/*:
            schema:
              type: object
              unevaluatedProperties: false
              properties:
                date:
                  type: string
                  format: date
                  description: Has to be after the purchase date of the asset, and cannot be in the future or in the locked period of the administration.
                reason:
                  type: string
                  enum:
                    - out_of_use
                    - sold
                    - private_withdrawal
                    - divested
              required:
                - date
                - reason
            examples:
              AddsADisposal:
                summary: Adds a disposal
                value:
                  date: '2026-01-08'
                  reason: out_of_use
      responses:
        '201':
          description: A disposal
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/disposal_response'
              examples:
                AddsADisposal:
                  summary: Adds a disposal
                  value:
                    date: '2026-01-08'
                    reason: out_of_use
                    externally_booked: false
                    asset_id: '475689086019961972'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/symbolic_error'
              examples:
                ReturnsA400IfTheReasonIsInvalid:
                  summary: Returns a 400 if the reason is invalid
                  value:
                    error: reason does not have a valid value
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/symbolic_error'
              examples:
                ReturnsA404IfTheAssetDoesNotExist:
                  summary: Returns a 404 if the asset does not exist
                  value:
                    error: 'Record not found for model name: asset'
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/symbolic_error'
                  - $ref: '#/components/schemas/non_symbolic_error'
              examples:
                ReturnsA422TheAssetIsNotInvalid:
                  summary: Returns a 422 the asset is not invalid
                  value:
                    error:
                      date:
                        - is invalid, asset is not fully depreciated on this date
                    details:
                      date:
                        - error: invalid_asset_not_fully_depreciated
      operationId: post_administration_id_assets_id_disposals
  /{administration_id}/assets/{id}/sources/{detail_id}{format}:
    delete:
      summary: Delete a source
      description: Deletes a source from an asset. Does not delete the detail or the asset
      tags:
        - Assets
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - name: id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - name: detail_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - $ref: '#/components/parameters/format'
      responses:
        '204':
          description: Source deleted
        '404':
          $ref: '#/components/responses/404_not_found'
      operationId: delete_administration_id_assets_id_sources_detail_id
  /{administration_id}/assets/{id}/sources{format}:
    post:
      summary: Add a source to an asset
      description: |-
        Adds a detail as a source to an asset.
        The detail must have the same ledger account as the asset.
      tags:
        - Assets
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - name: id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - $ref: '#/components/parameters/format'
      requestBody:
        required: true
        content:
          application/*:
            schema:
              type: object
              unevaluatedProperties: false
              properties:
                detail_id:
                  $ref: '#/components/schemas/identifier'
              required:
                - detail_id
            examples:
              CreatesANewSource:
                summary: Creates a new source
                value:
                  detail_id: 475689076771522400
      responses:
        '201':
          description: A detail that is added as a source to an asset
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/source_response'
              examples:
                CreatesANewSource:
                  summary: Creates a new source
                  value:
                    id: '475689076788299638'
                    asset_id: '475689076476872520'
                    detail_id: '475689076771522421'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/symbolic_error'
              examples:
                ReturnsA400IfTheDetailIdIsNotAInteger:
                  summary: Returns a 400 if the detail id is not a integer
                  value:
                    error: detail_id is invalid
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/symbolic_error'
              examples:
                ReturnsA404IfTheAssetDoesNotExist:
                  summary: Returns a 404 if the asset does not exist
                  value:
                    error: 'Record not found for model name: asset'
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/symbolic_error'
                  - $ref: '#/components/schemas/non_symbolic_error'
              examples:
                ReturnsA422IfTheDetailIsNotValid:
                  summary: Returns a 422 if the detail is not valid
                  value:
                    error:
                      detail:
                        - The ledger account of the detail must be equal to the ledger account of the asset
                    details:
                      detail:
                        - error: not_equal_to_asset_ledger_account
      operationId: post_administration_id_assets_id_sources
  /{administration_id}/assets/{id}/value_changes/arbitrary{format}:
    post:
      summary: Create an arbitrary value change
      description: |-
        Creates an arbitrary value change for the asset at the given date.
        If the amount is larger than the value of the asset at the given date, a 422 error will be returned.
        Any existing linear value changes after the given date will be removed.
      tags:
        - Assets
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - name: id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - $ref: '#/components/parameters/format'
      requestBody:
        required: true
        content:
          application/*:
            schema:
              type: object
              unevaluatedProperties: false
              properties:
                date:
                  type: string
                  format: date
                  description: Has to be after the purchase date of the asset, and cannot be in the future or in the locked period of the administration.
                amount:
                  $ref: '#/components/schemas/number'
                  description: Note that a negative amount means the asset decreases in value while a positive amount means the asset increases in value.
                description:
                  type: string
                externally_booked:
                  type: boolean
                  description: Set to true if the value change is already externally booked and doesn't need to be booked by Moneybird.
                  default: false
              required:
                - date
                - amount
                - description
            examples:
              AddsAArbitraryValueChange:
                summary: Adds a arbitrary value change
                value:
                  date: '2026-01-08'
                  amount: -10
                  externally_booked: true
                  description: some description
      responses:
        '201':
          description: A value change
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/value_change_response'
              examples:
                AddsAArbitraryValueChange:
                  summary: Adds a arbitrary value change
                  value:
                    type: arbitrary
                    date: '2026-01-08'
                    amount: '-10.0'
                    description: some description
                    externally_booked: true
                    asset_id: '475689082691782312'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/symbolic_error'
              examples:
                ReturnsA400IfTheDateIsNotAValidDate:
                  summary: Returns a 400 if the date is not a valid date
                  value:
                    error: Date is invalid
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/symbolic_error'
              examples:
                ReturnsA404IfTheAssetDoesNotExist:
                  summary: Returns a 404 if the asset does not exist
                  value:
                    error: 'Record not found for model name: asset'
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/symbolic_error'
                  - $ref: '#/components/schemas/non_symbolic_error'
              examples:
                ReturnsA422IfTheValueChangeIsInvalid:
                  summary: Returns a 422 if the value change is invalid
                  value:
                    error:
                      date:
                        - can not be before the commissioning date of the asset
                    details:
                      date:
                        - error: cannot_be_before_purchase_date
      operationId: post_administration_id_assets_id_value_changes_arbitrary
  /{administration_id}/assets/{id}/value_changes/divestment{format}:
    post:
      summary: Create a divestment value change
      description: |-
        Creates a divestment value change for the asset at the given date.
        The remaining value of the asset will be taken from the balance sheet and the profit will be booked as book result.
        The amount of the value change will automatically be set to the value of the asset at the given date.
        If the value change is created successfully, a disposal will be created for the asset.
        Any existing linear value changes after the given date will be removed.
      tags:
        - Assets
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - name: id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - $ref: '#/components/parameters/format'
      requestBody:
        required: true
        content:
          application/*:
            schema:
              type: object
              unevaluatedProperties: false
              properties:
                date:
                  type: string
                  format: date
                  description: Has to be after the purchase date of the asset, and cannot be in the future or in the locked period of the administration.
              required:
                - date
            examples:
              AddsADivestmentValueChange:
                summary: Adds a divestment value change
                value:
                  date: '2026-01-08'
      responses:
        '201':
          description: A value change
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/value_change_response'
              examples:
                AddsADivestmentValueChange:
                  summary: Adds a divestment value change
                  value:
                    type: divestment
                    date: '2026-01-08'
                    amount: '-12145.67'
                    description: null
                    externally_booked: false
                    asset_id: '475689078506914901'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/symbolic_error'
              examples:
                ReturnsA400IfTheDateIsNotAValidDate:
                  summary: Returns a 400 if the date is not a valid date
                  value:
                    error: Date is invalid
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/symbolic_error'
              examples:
                ReturnsA404IfTheAssetDoesNotExist:
                  summary: Returns a 404 if the asset does not exist
                  value:
                    error: 'Record not found for model name: asset'
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/symbolic_error'
                  - $ref: '#/components/schemas/non_symbolic_error'
              examples:
                ReturnsA422IfTheValueChangeIsInvalid:
                  summary: Returns a 422 if the value change is invalid
                  value:
                    error:
                      date:
                        - can not be before the commissioning date of the asset
                    details:
                      date:
                        - error: cannot_be_before_purchase_date
      operationId: post_administration_id_assets_id_value_changes_divestment
  /{administration_id}/assets/{id}/value_changes/full_depreciation{format}:
    post:
      summary: Create a full depreciation value change
      description: |-
        Creates a full depreciation value change for the asset at the given date.
        The remaining value of the asset will be taken from the balance sheet.
        The amount of the value change will automatically be set to the value of the asset at the given date.
        If the value change is created successfully, a disposal will be created for the asset.
        Any existing linear value changes after the given date will be removed.
      tags:
        - Assets
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - name: id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - $ref: '#/components/parameters/format'
      requestBody:
        required: true
        content:
          application/*:
            schema:
              type: object
              unevaluatedProperties: false
              properties:
                date:
                  type: string
                  format: date
                  description: Has to be after the purchase date of the asset, and cannot be in the future or in the locked period of the administration.
                description:
                  type: string
              required:
                - date
                - description
            examples:
              AddsAFullDepreciationValueChange:
                summary: Adds a full depreciation value change
                value:
                  date: '2026-01-08'
                  description: some description
      responses:
        '201':
          description: A value change
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/value_change_response'
              examples:
                AddsAFullDepreciationValueChange:
                  summary: Adds a full depreciation value change
                  value:
                    type: full_depreciation
                    date: '2026-01-08'
                    amount: '-12145.67'
                    description: some description
                    externally_booked: false
                    asset_id: '475689079643571436'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/symbolic_error'
              examples:
                ReturnsA400IfTheDateIsNotAValidDate:
                  summary: Returns a 400 if the date is not a valid date
                  value:
                    error: Date is invalid
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/symbolic_error'
              examples:
                ReturnsA404IfTheAssetDoesNotExist:
                  summary: Returns a 404 if the asset does not exist
                  value:
                    error: 'Record not found for model name: asset'
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/symbolic_error'
                  - $ref: '#/components/schemas/non_symbolic_error'
              examples:
                ReturnsA422IfTheValueChangeIsInvalid:
                  summary: Returns a 422 if the value change is invalid
                  value:
                    error:
                      date:
                        - can not be before the commissioning date of the asset
                    details:
                      date:
                        - error: cannot_be_before_purchase_date
      operationId: post_administration_id_assets_id_value_changes_full_depreciation
  /{administration_id}/assets/{id}/value_changes/manual{format}:
    post:
      summary: Create a manual value change
      description: |-
        Creates a manual value change for the asset at the given date.
        If the amount is larger than the value of the asset at the given date, a 422 error will be returned.
      tags:
        - Assets
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - name: id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - $ref: '#/components/parameters/format'
      requestBody:
        required: true
        content:
          application/*:
            schema:
              type: object
              unevaluatedProperties: false
              properties:
                date:
                  type: string
                  format: date
                  description: Has to be after the purchase date of the asset, and cannot be in the future or in the locked period of the administration.
                amount:
                  $ref: '#/components/schemas/number'
                  description: Note that a negative amount means the asset decreases in value while a positive amount means the asset increases in value.
                description:
                  type: string
                externally_booked:
                  type: boolean
                  description: Set to true if the value change is already externally booked and doesn't need to be booked by Moneybird.
                  default: false
              required:
                - date
                - amount
                - description
            examples:
              AddsAManualValueChange:
                summary: Adds a manual value change
                value:
                  date: '2026-01-08'
                  amount: -10
                  externally_booked: true
                  description: some description
      responses:
        '201':
          description: A value change
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/value_change_response'
              examples:
                AddsAManualValueChange:
                  summary: Adds a manual value change
                  value:
                    type: manual
                    date: '2026-01-08'
                    amount: '-10.0'
                    description: some description
                    externally_booked: true
                    asset_id: '475689074563221043'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/symbolic_error'
              examples:
                ReturnsA400IfTheDateIsNotAValidDate:
                  summary: Returns a 400 if the date is not a valid date
                  value:
                    error: Date is invalid
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/symbolic_error'
              examples:
                ReturnsA404IfTheAssetDoesNotExist:
                  summary: Returns a 404 if the asset does not exist
                  value:
                    error: 'Record not found for model name: asset'
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/symbolic_error'
                  - $ref: '#/components/schemas/non_symbolic_error'
              examples:
                ReturnsA422IfTheValueChangeIsInvalid:
                  summary: Returns a 422 if the value change is invalid
                  value:
                    error:
                      date:
                        - can not be before the commissioning date of the asset
                    details:
                      date:
                        - error: cannot_be_before_purchase_date
      operationId: post_administration_id_assets_id_value_changes_manual
  /{administration_id}/assets/{id}/value_changes/retroactive_linear_value_changes{format}:
    post:
      summary: Create linear value changes retroactively
      description: |-
        Creates linear value changes that were not created yet.
        Use this if a new asset has just been created or if an arbitrary value change was created and the missing linear value changes need to be recalculated and recreated.
        This will create missing value changes for all months between the purchase date of the asset or the date of the last arbitrary value change and the last month of the administration.
        Requires a asset with a value change plan (so no assets that belong to a land or building category).
        Also requires that the asset has remaining value, has missing value changes at the end of some months and that all missing linear value changes are outside the locked period.
        This process will be performed asynchronously so no result will be returned. Use `Get /assets/:id` to check the result after a while.
      tags:
        - Assets
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - name: id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - $ref: '#/components/parameters/format'
      responses:
        '204':
          $ref: '#/components/responses/204_no_content'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/symbolic_error'
              examples:
                ReturnsA404IfTheAssetDoesNotExist:
                  summary: Returns a 404 if the asset does not exist
                  value:
                    error: 'Record not found for model name: asset'
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/symbolic_error'
                  - $ref: '#/components/schemas/non_symbolic_error'
              examples:
                ReturnsA422IfTheAssetHasNoValueChangePlan:
                  summary: Returns a 422 if the asset has no value change plan
                  value:
                    error: Asset has no value change plan
                ReturnsA422IfTheAssetIsNotValidWithRetroactiveValueChangesScope:
                  summary: Returns a 422 if the asset is not valid with retroactive value changes scope
                  value:
                    error: The value change plan of the asset is not active
      operationId: post_administration_id_assets_id_value_changes_retroactive_linear_value_changes
  /{administration_id}/assets/{id}{format}:
    get:
      summary: Get an asset by ID
      description: Returns the asset with the given ID.
      tags:
        - Assets
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - name: id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - $ref: '#/components/parameters/format'
      responses:
        '200':
          description: An asset
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/asset_response'
              examples:
                ReturnsTheAsset:
                  summary: Returns the asset
                  value:
                    id: '475689081360090601'
                    ledger_account_id: '475689081354847720'
                    name: Asset 1
                    purchase_date: '2025-08-01'
                    purchase_value: '12345.67'
                    current_value: '12145.67'
                    value_change_plan:
                      lifespan_in_years: 5
                      residual_value: '10.0'
                      active: true
                      monthly_depreciation: '216.71'
                    disposal: null
                    value_changes:
                      - type: arbitrary
                        date: '2025-09-01'
                        amount: '-50.0'
                        description: Value change 1
                        externally_booked: false
                        asset_id: '475689081360090601'
                      - type: arbitrary
                        date: '2025-10-01'
                        amount: '-50.0'
                        description: Value change 2
                        externally_booked: false
                        asset_id: '475689081360090601'
                      - type: arbitrary
                        date: '2025-11-01'
                        amount: '-50.0'
                        description: Value change 3
                        externally_booked: false
                        asset_id: '475689081360090601'
                      - type: arbitrary
                        date: '2025-12-01'
                        amount: '-50.0'
                        description: Value change 4
                        externally_booked: false
                        asset_id: '475689081360090601'
                    sources: []
                ReturnsTheAssetWithADisposal:
                  summary: Returns the asset with a disposal
                  value:
                    id: '475689081654740501'
                    ledger_account_id: '475689081649497620'
                    name: Asset 1
                    purchase_date: '2020-01-08'
                    purchase_value: '12345.67'
                    current_value: '0.0'
                    value_change_plan:
                      lifespan_in_years: 5
                      residual_value: '10.0'
                      active: false
                      monthly_depreciation: '205.59'
                    disposal:
                      date: '2026-01-08'
                      reason: out_of_use
                      externally_booked: false
                      asset_id: '475689081654740501'
                    value_changes:
                      - type: manual
                        date: '2026-01-08'
                        amount: '-12345.67'
                        description: Depreciation
                        externally_booked: false
                        asset_id: '475689081654740501'
                    sources: []
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/symbolic_error'
              examples:
                ReturnsA404IfTheAssetDoesNotExist:
                  summary: Returns a 404 if the asset does not exist
                  value:
                    error: 'Record not found for model name: asset'
      operationId: get_administration_id_assets_id
    patch:
      summary: Update an asset
      description: |-
        Updates the asset with the given ID.
        If the asset is active (the purchase date is in the past), only the `name` can be updated.
      tags:
        - Assets
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - name: id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - $ref: '#/components/parameters/format'
      requestBody:
        required: true
        content:
          application/*:
            schema:
              type: object
              unevaluatedProperties: false
              properties:
                asset:
                  type: object
                  unevaluatedProperties: false
                  properties:
                    name:
                      type: string
                      description: The name of the asset
                    ledger_account_id:
                      $ref: '#/components/schemas/identifier'
                      description: The ID of the ledger account
                    purchase_date:
                      type: string
                      description: The purchase date of the asset
                    purchase_value:
                      $ref: '#/components/schemas/number'
                      description: The purchase value of the asset
                    value_change_plan_attributes:
                      unevaluatedProperties: false
                      properties:
                        lifespan_in_years:
                          $ref: '#/components/schemas/number'
                          description: The lifespan of the asset in years
                        residual_value:
                          $ref: '#/components/schemas/number'
                          description: The residual value of the asset at the end of the lifespan
              required:
                - asset
            examples:
              UpdatesTheAsset:
                summary: Updates the asset
                value:
                  asset:
                    name: New Name
              AllowsUpdatingEveryAttributeOfAPlannedAsset:
                summary: Allows updating every attribute of a planned asset
                value:
                  asset:
                    name: New Name
                    ledger_account_id: 475689081242650050
                    purchase_date: '2026-01-08'
                    purchase_value: 10000
                    value_change_plan_attributes:
                      lifespan_in_years: 10
                      residual_value: 500
      responses:
        '200':
          description: Asset updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/asset_response'
              examples:
                UpdatesTheAsset:
                  summary: Updates the asset
                  value:
                    id: '475689080925980077'
                    ledger_account_id: '475689080920737196'
                    name: New Name
                    purchase_date: '2025-08-01'
                    purchase_value: '12345.67'
                    current_value: '12145.67'
                    value_change_plan:
                      lifespan_in_years: 5
                      residual_value: '10.0'
                      active: true
                      monthly_depreciation: '216.71'
                    disposal: null
                    value_changes:
                      - type: arbitrary
                        date: '2025-09-01'
                        amount: '-50.0'
                        description: Value change 1
                        externally_booked: false
                        asset_id: '475689080925980077'
                      - type: arbitrary
                        date: '2025-10-01'
                        amount: '-50.0'
                        description: Value change 2
                        externally_booked: false
                        asset_id: '475689080925980077'
                      - type: arbitrary
                        date: '2025-11-01'
                        amount: '-50.0'
                        description: Value change 3
                        externally_booked: false
                        asset_id: '475689080925980077'
                      - type: arbitrary
                        date: '2025-12-01'
                        amount: '-50.0'
                        description: Value change 4
                        externally_booked: false
                        asset_id: '475689080925980077'
                    sources: []
                AllowsUpdatingEveryAttributeOfAPlannedAsset:
                  summary: Allows updating every attribute of a planned asset
                  value:
                    id: '475689081252087259'
                    ledger_account_id: '475689081242650073'
                    name: New Name
                    purchase_date: '2026-01-08'
                    purchase_value: '10000.0'
                    current_value: '10000.0'
                    value_change_plan:
                      lifespan_in_years: 10
                      residual_value: '500.0'
                      active: true
                      monthly_depreciation: '79.17'
                    disposal: null
                    value_changes: []
                    sources: []
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/symbolic_error'
              examples:
                ReturnsA400IfTheInputAttributesAreInvalid:
                  summary: Returns a 400 if the input attributes are invalid
                  value:
                    error: asset[purchase_value] does not have a valid value
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/symbolic_error'
              examples:
                ReturnsA404IfTheAssetDoesNotExist:
                  summary: Returns a 404 if the asset does not exist
                  value:
                    error: 'Record not found for model name: asset'
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/symbolic_error'
                  - $ref: '#/components/schemas/non_symbolic_error'
              examples:
                ReturnsA422IfAnActiveAssetGetsAnInvalidAttributeUpdate:
                  summary: Returns a 422 if an active asset gets an invalid attribute update
                  value:
                    error:
                      base:
                        - Cannot update asset when it has value changes
                    details:
                      base:
                        - error: cannot_update_with_value_changes
      operationId: patch_administration_id_assets_id
    delete:
      summary: Delete an asset
      description: Deletes the asset with the given ID.
      tags:
        - Assets
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - name: id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - $ref: '#/components/parameters/format'
      responses:
        '204':
          description: Asset deleted
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/symbolic_error'
              examples:
                ReturnsA404IfTheAssetDoesNotExist:
                  summary: Returns a 404 if the asset does not exist
                  value:
                    error: 'Record not found for model name: asset'
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/symbolic_error'
                  - $ref: '#/components/schemas/non_symbolic_error'
              examples:
                ReturnsA422IfTheAssetIsInTheLockedPeriod:
                  summary: Returns a 422 if the asset is in the locked period
                  value:
                    error: Asset cannot be deleted because there are journal entries in the locked period of the administration.
      operationId: delete_administration_id_assets_id
  /{administration_id}/assets{format}:
    get:
      summary: List all assets
      description: |-
        Returns a list of all assets.
        The list is paginated. Use the `per_page` and `page` parameters to control the pagination.
      tags:
        - Assets
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - $ref: '#/components/parameters/format'
        - name: ledger_account_id
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/identifier'
          description: Filter on the ID of the ledger account
          examples:
            ReturnsAListOfAssetsFilteredByLedgerAccount:
              summary: Returns a list of assets filtered by ledger account
              value: '475689084085340020'
        - name: active
          in: query
          required: false
          schema:
            type:
              - boolean
              - string
            default: true
          description: Whether to include only active assets
          examples:
            ReturnsAPaginatedListOfAssets:
              summary: Returns a paginated list of assets
              value: 'false'
        - $ref: '#/components/parameters/per_page'
        - $ref: '#/components/parameters/page'
      responses:
        '200':
          description: A list of assets
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/asset_response'
              examples:
                ReturnsAListOfAssetsFilteredByLedgerAccount:
                  summary: Returns a list of assets filtered by ledger account
                  value:
                    - id: '475689084091631477'
                      ledger_account_id: '475689084085340020'
                      name: Asset 3
                      purchase_date: '2025-08-01'
                      purchase_value: '12345.67'
                      current_value: '12145.67'
                      value_change_plan:
                        lifespan_in_years: 5
                        residual_value: '10.0'
                        active: true
                        monthly_depreciation: '216.71'
                      disposal: null
                      value_changes:
                        - type: arbitrary
                          date: '2025-09-01'
                          amount: '-50.0'
                          description: Value change 1
                          externally_booked: false
                          asset_id: '475689084091631477'
                        - type: arbitrary
                          date: '2025-10-01'
                          amount: '-50.0'
                          description: Value change 2
                          externally_booked: false
                          asset_id: '475689084091631477'
                        - type: arbitrary
                          date: '2025-11-01'
                          amount: '-50.0'
                          description: Value change 3
                          externally_booked: false
                          asset_id: '475689084091631477'
                        - type: arbitrary
                          date: '2025-12-01'
                          amount: '-50.0'
                          description: Value change 4
                          externally_booked: false
                          asset_id: '475689084091631477'
                      sources: []
                ReturnsAPaginatedListOfAssets:
                  summary: Returns a paginated list of assets
                  value:
                    - id: '475689084642133963'
                      ledger_account_id: '475689084637939658'
                      name: Asset 2
                      purchase_date: '2020-01-08'
                      purchase_value: '12345.67'
                      current_value: '0.0'
                      value_change_plan:
                        lifespan_in_years: 5
                        residual_value: '10.0'
                        active: false
                        monthly_depreciation: '205.59'
                      disposal:
                        date: '2026-01-08'
                        reason: out_of_use
                        externally_booked: false
                        asset_id: '475689084642133963'
                      value_changes:
                        - type: manual
                          date: '2026-01-08'
                          amount: '-12345.67'
                          description: Depreciation
                          externally_booked: false
                          asset_id: '475689084642133963'
                      sources: []
                ReturnsAListOfAllAssets:
                  summary: Returns a list of all assets
                  value:
                    - id: '475689084879112166'
                      ledger_account_id: '475689084873869285'
                      name: Asset 1
                      purchase_date: '2025-08-01'
                      purchase_value: '12345.67'
                      current_value: '12145.67'
                      value_change_plan:
                        lifespan_in_years: 5
                        residual_value: '10.0'
                        active: true
                        monthly_depreciation: '216.71'
                      disposal: null
                      value_changes:
                        - type: arbitrary
                          date: '2025-09-01'
                          amount: '-50.0'
                          description: Value change 1
                          externally_booked: false
                          asset_id: '475689084879112166'
                        - type: arbitrary
                          date: '2025-10-01'
                          amount: '-50.0'
                          description: Value change 2
                          externally_booked: false
                          asset_id: '475689084879112166'
                        - type: arbitrary
                          date: '2025-11-01'
                          amount: '-50.0'
                          description: Value change 3
                          externally_booked: false
                          asset_id: '475689084879112166'
                        - type: arbitrary
                          date: '2025-12-01'
                          amount: '-50.0'
                          description: Value change 4
                          externally_booked: false
                          asset_id: '475689084879112166'
                      sources: []
                    - id: '475689085189489682'
                      ledger_account_id: '475689085183198225'
                      name: Asset 2
                      purchase_date: '2020-01-08'
                      purchase_value: '12345.67'
                      current_value: '0.0'
                      value_change_plan:
                        lifespan_in_years: 5
                        residual_value: '10.0'
                        active: false
                        monthly_depreciation: '205.59'
                      disposal:
                        date: '2026-01-08'
                        reason: out_of_use
                        externally_booked: false
                        asset_id: '475689085189489682'
                      value_changes:
                        - type: manual
                          date: '2026-01-08'
                          amount: '-12345.67'
                          description: Depreciation
                          externally_booked: false
                          asset_id: '475689085189489682'
                      sources: []
                ReturnsAListOfActiveAssets:
                  summary: Returns a list of active assets
                  value:
                    - id: '475689085476799533'
                      ledger_account_id: '475689085470508076'
                      name: Asset 1
                      purchase_date: '2025-08-01'
                      purchase_value: '12345.67'
                      current_value: '12145.67'
                      value_change_plan:
                        lifespan_in_years: 5
                        residual_value: '10.0'
                        active: true
                        monthly_depreciation: '216.71'
                      disposal: null
                      value_changes:
                        - type: arbitrary
                          date: '2025-09-01'
                          amount: '-50.0'
                          description: Value change 1
                          externally_booked: false
                          asset_id: '475689085476799533'
                        - type: arbitrary
                          date: '2025-10-01'
                          amount: '-50.0'
                          description: Value change 2
                          externally_booked: false
                          asset_id: '475689085476799533'
                        - type: arbitrary
                          date: '2025-11-01'
                          amount: '-50.0'
                          description: Value change 3
                          externally_booked: false
                          asset_id: '475689085476799533'
                        - type: arbitrary
                          date: '2025-12-01'
                          amount: '-50.0'
                          description: Value change 4
                          externally_booked: false
                          asset_id: '475689085476799533'
                      sources: []
      operationId: get_administration_id_assets
    post:
      summary: Create a new asset
      description: Creates a new asset.
      tags:
        - Assets
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - $ref: '#/components/parameters/format'
      requestBody:
        required: true
        content:
          application/*:
            schema:
              type: object
              unevaluatedProperties: false
              properties:
                asset:
                  type: object
                  unevaluatedProperties: false
                  properties:
                    name:
                      type: string
                      description: The name of the asset
                    ledger_account_id:
                      $ref: '#/components/schemas/identifier'
                      description: The ID of the ledger account
                    purchase_date:
                      type: string
                      description: The purchase date of the asset
                    purchase_value:
                      $ref: '#/components/schemas/number'
                      description: The purchase value of the asset
                    value_change_plan_attributes:
                      unevaluatedProperties: false
                      properties:
                        lifespan_in_years:
                          $ref: '#/components/schemas/number'
                          description: The lifespan of the asset in years
                        residual_value:
                          $ref: '#/components/schemas/number'
                          description: The residual value of the asset at the end of the lifespan
                          default: 0
                      required:
                        - lifespan_in_years
                  required:
                    - name
                    - ledger_account_id
                    - purchase_date
                    - purchase_value
                    - value_change_plan_attributes
            examples:
              CreatesANewAsset:
                summary: Creates a new asset
                value:
                  asset:
                    name: Test Asset
                    ledger_account_id: 475689078393668700
                    purchase_date: '2026-01-08'
                    purchase_value: 1000
                    value_change_plan_attributes:
                      lifespan_in_years: 5
                      residual_value: 100
      responses:
        '201':
          description: Asset created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/asset_response'
              examples:
                CreatesANewAsset:
                  summary: Creates a new asset
                  value:
                    id: '475689078405203022'
                    ledger_account_id: '475689078393668685'
                    name: Test Asset
                    purchase_date: '2026-01-08'
                    purchase_value: '1000.0'
                    current_value: '1000.0'
                    value_change_plan:
                      lifespan_in_years: 5
                      residual_value: '100.0'
                      active: true
                      monthly_depreciation: '15.0'
                    disposal: null
                    value_changes: []
                    sources: []
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/symbolic_error'
              examples:
                ReturnsA400IfTheRequestWhenParametersAreMissing:
                  summary: Returns a 400 if the request when parameters are missing
                  value:
                    error: asset[name] is missing
                ReturnsA400IfTheParametersAreIncorrect:
                  summary: Returns a 400 if the parameters are incorrect
                  value:
                    error: asset[purchase_value] does not have a valid value, asset[value_change_plan_attributes][lifespan_in_years] does not have a valid value, asset[value_change_plan_attributes][residual_value] does not have a valid value
                ReturnsA400IfThePurchaseDateIsNotAValidDate:
                  summary: Returns a 400 if the purchase date is not a valid date
                  value:
                    error: asset[purchase_date] is invalid
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/symbolic_error'
                  - $ref: '#/components/schemas/non_symbolic_error'
              examples:
                ReturnsA422IfTheAssetIsNotValid:
                  summary: Returns a 422 if the asset is not valid
                  value:
                    error:
                      ledger_account:
                        - is invalid
                    details:
                      ledger_account:
                        - error: invalid
      operationId: post_administration_id_assets
  /{administration_id}/contacts/customer_id/{customer_id}{format}:
    get:
      summary: Get contact by customer id
      description: Returns all information about a contact by the given customer id
      tags:
        - Contacts
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - name: customer_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - $ref: '#/components/parameters/format'
      responses:
        '200':
          description: A contact
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/contact_response'
              examples:
                ReturnAContact:
                  summary: Return a contact
                  value:
                    id: '475689027310192221'
                    administration_id: 123
                    company_name: Foobar Holding B.V.
                    firstname: null
                    lastname: Appleseed
                    address1: Hoofdstraat 12
                    address2: ''
                    zipcode: 1234 AB
                    city: Amsterdam
                    country: NL
                    phone: ''
                    delivery_method: Email
                    customer_id: '1'
                    tax_number: ''
                    chamber_of_commerce: ''
                    bank_account: ''
                    is_trusted: false
                    max_transfer_amount: null
                    attention: ''
                    email: info@example.com
                    email_ubl: true
                    send_invoices_to_attention: ''
                    send_invoices_to_email: info@example.com
                    send_estimates_to_attention: ''
                    send_estimates_to_email: info@example.com
                    sepa_active: false
                    sepa_iban: ''
                    sepa_iban_account_name: ''
                    sepa_bic: ''
                    sepa_mandate_id: ''
                    sepa_mandate_date: null
                    sepa_sequence_type: RCUR
                    credit_card_number: ''
                    credit_card_reference: ''
                    credit_card_type: null
                    tax_number_validated_at: null
                    tax_number_valid: null
                    invoice_workflow_id: null
                    estimate_workflow_id: null
                    si_identifier: ''
                    si_identifier_type: null
                    moneybird_payments_mandate: false
                    created_at: '2026-01-08T11:40:29.662Z'
                    updated_at: '2026-01-08T11:40:29.679Z'
                    version: 1767872429
                    sales_invoices_url: https://moneybird.dev/123/sales_invoices/5b07f76cb1b2a7824d792a0d693192192ddddb78d5dc314de79f2fbc87e09822/all
                    notes: []
                    custom_fields: []
                    contact_people:
                      - id: '475689027314386527'
                        contact_id: '475689027310192221'
                        administration_id: 123
                        firstname: John
                        lastname: Appleseed
                        phone: null
                        email: null
                        department: null
                        created_at: '2026-01-08T11:40:29.666Z'
                        updated_at: '2026-01-08T11:40:29.666Z'
                        version: 1767872429
                    archived: false
                    events:
                      - administration_id: 123
                        user_id: 17678722914505
                        action: contact_created
                        link_entity_id: null
                        link_entity_type: null
                        data: {}
                        created_at: '2026-01-08T11:40:29.673Z'
                        updated_at: '2026-01-08T11:40:29.673Z'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/symbolic_error'
              examples:
                Returns404WhenContactDoesNotExist:
                  summary: Returns 404 when contact does not exist
                  value:
                    error: record not found
                    symbolic:
                      customer_id: not_found
      operationId: get_administration_id_contacts_customer_id_customer_id
  /{administration_id}/contacts/filter{format}:
    get:
      summary: Filter contacts
      description: |-
        Returns a paginated list of all contacts in the administration.

        The `filter` argument allows you to filter the list of contacts. Filters are a combination of keys and values,
        separated by a comma: `first_name:henk,last_name:jansen`. The available options for filtering are:

        | **Filter** | **Type** | **Default** | **Description** |
        | - | - | - | - |
        | created_after | `String` | | Select contacts created after the given time (exclusive). ISO 8601 formatted string. The time to compare with is in UTC timezone |
        | updated_after | `String` | | Select contacts updated after the given time (exclusive). ISO 8601 formatted string. The time to compare with is in UTC timezone |
        | first_name | `String` | | Select contacts with the given first name. Case-insensitive |
        | last_name | `String` | | Select contacts with the given last name. Case-insensitive |
        | estimate_workflow_id | `Integer` | | Filters contacts by a single Estimate workflow |
        | invoice_workflow_id | `Integer` | | Filters contacts by a single Invoice workflow |
        | contact_type | `String` | | The contact type. Possible values `all`, `company`, `private_individual` |
        | delivery_method | `String` | | The delivery method for invoices. Possible values. Possible values `all`, `email`, `post`, `manual`, `peppol`, `simplerinvoicing` |
        | trusted_type | `String` | | Whether the contact is trusted. Possible values `all`, `trusted`, `not_trusted` |
        | - | - | - | - |
      tags:
        - Contacts
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - $ref: '#/components/parameters/format'
        - name: filter
          in: query
          required: false
          schema:
            type: string
          examples:
            AllowsFilteringByFirstname:
              summary: Allows filtering by firstname
              value: first_name:piet
            ReturnsOnlyContactsUpdatedAfterGivenDatetime:
              summary: Returns only contacts updated after given datetime
              value: updated_after:2026-01-08 11:40:31 UTC
            ReturnsAllContactsCreatedAfterGivenDatetime:
              summary: Returns all contacts created after given datetime
              value: created_after:2026-01-07 11:40:27 UTC
        - name: include_archived
          in: query
          required: false
          schema:
            type:
              - boolean
              - string
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/per_page'
      responses:
        '200':
          description: A list of contacts
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/contact_response'
              examples:
                AllowsFilteringByFirstname:
                  summary: Allows filtering by firstname
                  value:
                    - id: '475689024319653832'
                      administration_id: 123
                      company_name: Relation 1
                      firstname: Piet
                      lastname: null
                      address1: null
                      address2: null
                      zipcode: null
                      city: null
                      country: NL
                      phone: null
                      delivery_method: Email
                      customer_id: customer-1
                      tax_number: null
                      chamber_of_commerce: null
                      bank_account: null
                      is_trusted: false
                      max_transfer_amount: null
                      attention: null
                      email: contact1@example.com
                      email_ubl: false
                      send_invoices_to_attention: null
                      send_invoices_to_email: contact1@example.com
                      send_estimates_to_attention: null
                      send_estimates_to_email: null
                      sepa_active: false
                      sepa_iban: null
                      sepa_iban_account_name: null
                      sepa_bic: null
                      sepa_mandate_id: null
                      sepa_mandate_date: null
                      sepa_sequence_type: RCUR
                      credit_card_number: null
                      credit_card_reference: null
                      credit_card_type: null
                      tax_number_validated_at: null
                      tax_number_valid: null
                      invoice_workflow_id: null
                      estimate_workflow_id: null
                      si_identifier: null
                      si_identifier_type: null
                      moneybird_payments_mandate: false
                      created_at: '2026-01-08T11:40:26.810Z'
                      updated_at: '2026-01-08T11:40:26.813Z'
                      version: 1767872426
                      sales_invoices_url: https://moneybird.dev/123/sales_invoices/0000000000000000000000000000000000000000000000000000000000000001/all
                      notes: []
                      custom_fields: []
                      contact_people: []
                      archived: false
                      events: []
                ReturnsOnlyContactsUpdatedAfterGivenDatetime:
                  summary: Returns only contacts updated after given datetime
                  value:
                    - id: '475689024431851485'
                      administration_id: 123
                      company_name: Foobar Holding B.V.
                      firstname: null
                      lastname: foo
                      address1: Hoofdstraat 12
                      address2: ''
                      zipcode: 1234 AB
                      city: Amsterdam
                      country: NL
                      phone: ''
                      delivery_method: Email
                      customer_id: '1'
                      tax_number: ''
                      chamber_of_commerce: ''
                      bank_account: ''
                      is_trusted: false
                      max_transfer_amount: null
                      attention: ''
                      email: info@example.com
                      email_ubl: true
                      send_invoices_to_attention: ''
                      send_invoices_to_email: info@example.com
                      send_estimates_to_attention: ''
                      send_estimates_to_email: info@example.com
                      sepa_active: false
                      sepa_iban: ''
                      sepa_iban_account_name: ''
                      sepa_bic: ''
                      sepa_mandate_id: ''
                      sepa_mandate_date: null
                      sepa_sequence_type: RCUR
                      credit_card_number: ''
                      credit_card_reference: ''
                      credit_card_type: null
                      tax_number_validated_at: null
                      tax_number_valid: null
                      invoice_workflow_id: null
                      estimate_workflow_id: null
                      si_identifier: ''
                      si_identifier_type: null
                      moneybird_payments_mandate: false
                      created_at: '2026-01-08T11:40:26.918Z'
                      updated_at: '2026-01-08T11:41:31.961Z'
                      version: 1767872491
                      sales_invoices_url: https://moneybird.dev/123/sales_invoices/336244ab75181847a78f5559fa89a6133991368d4e980a9dde5114293045388c/all
                      notes: []
                      custom_fields: []
                      contact_people:
                        - id: '475689024436045791'
                          contact_id: '475689024431851485'
                          administration_id: 123
                          firstname: John
                          lastname: Appleseed
                          phone: null
                          email: null
                          department: null
                          created_at: '2026-01-08T11:40:26.921Z'
                          updated_at: '2026-01-08T11:40:26.921Z'
                          version: 1767872426
                      archived: false
                      events:
                        - administration_id: 123
                          user_id: 17678722914505
                          action: contact_created
                          link_entity_id: null
                          link_entity_type: null
                          data: {}
                          created_at: '2026-01-08T11:40:26.927Z'
                          updated_at: '2026-01-08T11:40:26.927Z'
                ReturnsAllContactsCreatedAfterGivenDatetime:
                  summary: Returns all contacts created after given datetime
                  value:
                    - id: '475689024551389180'
                      administration_id: 123
                      company_name: Foobar Holding B.V.
                      firstname: ''
                      lastname: ''
                      address1: Hoofdstraat 12
                      address2: ''
                      zipcode: 1234AB
                      city: Amsterdam
                      country: NL
                      phone: ''
                      delivery_method: Email
                      customer_id: '3'
                      tax_number: ''
                      chamber_of_commerce: ''
                      bank_account: ''
                      is_trusted: false
                      max_transfer_amount: null
                      attention: ''
                      email: info@example.com
                      email_ubl: true
                      send_invoices_to_attention: ''
                      send_invoices_to_email: info@example.com
                      send_estimates_to_attention: ''
                      send_estimates_to_email: info@example.com
                      sepa_active: false
                      sepa_iban: ''
                      sepa_iban_account_name: ''
                      sepa_bic: ''
                      sepa_mandate_id: ''
                      sepa_mandate_date: null
                      sepa_sequence_type: RCUR
                      credit_card_number: ''
                      credit_card_reference: ''
                      credit_card_type: null
                      tax_number_validated_at: null
                      tax_number_valid: null
                      invoice_workflow_id: null
                      estimate_workflow_id: null
                      si_identifier: ''
                      si_identifier_type: null
                      moneybird_payments_mandate: false
                      created_at: '2026-01-08T11:40:27.031Z'
                      updated_at: '2026-01-08T11:40:27.031Z'
                      version: 1767872427
                      sales_invoices_url: https://moneybird.dev/123/sales_invoices/1b893f905bc578cd5f84a9e95e816740c27445c7c8fdeaa219d8df2a777100dd/all
                      notes: []
                      custom_fields: []
                      contact_people: []
                      archived: false
                      events:
                        - administration_id: 123
                          user_id: 17678722914505
                          action: contact_created
                          link_entity_id: null
                          link_entity_type: null
                          data: {}
                          created_at: '2026-01-08T11:40:27.034Z'
                          updated_at: '2026-01-08T11:40:27.034Z'
                    - id: '475689024512591855'
                      administration_id: 123
                      company_name: Foobar Holding B.V.
                      firstname: null
                      lastname: Appleseed
                      address1: Hoofdstraat 12
                      address2: ''
                      zipcode: 1234 AB
                      city: Amsterdam
                      country: NL
                      phone: ''
                      delivery_method: Email
                      customer_id: '1'
                      tax_number: ''
                      chamber_of_commerce: ''
                      bank_account: ''
                      is_trusted: false
                      max_transfer_amount: null
                      attention: ''
                      email: info@example.com
                      email_ubl: true
                      send_invoices_to_attention: ''
                      send_invoices_to_email: info@example.com
                      send_estimates_to_attention: ''
                      send_estimates_to_email: info@example.com
                      sepa_active: false
                      sepa_iban: ''
                      sepa_iban_account_name: ''
                      sepa_bic: ''
                      sepa_mandate_id: ''
                      sepa_mandate_date: null
                      sepa_sequence_type: RCUR
                      credit_card_number: ''
                      credit_card_reference: ''
                      credit_card_type: null
                      tax_number_validated_at: null
                      tax_number_valid: null
                      invoice_workflow_id: null
                      estimate_workflow_id: null
                      si_identifier: ''
                      si_identifier_type: null
                      moneybird_payments_mandate: false
                      created_at: '2026-01-08T11:40:26.994Z'
                      updated_at: '2026-01-08T11:40:27.008Z'
                      version: 1767872427
                      sales_invoices_url: https://moneybird.dev/123/sales_invoices/850750267a4daba05eb21726cad8416df390a37d5f71e4d08672edb1fea48f91/all
                      notes: []
                      custom_fields: []
                      contact_people:
                        - id: '475689024515737585'
                          contact_id: '475689024512591855'
                          administration_id: 123
                          firstname: John
                          lastname: Appleseed
                          phone: null
                          email: null
                          department: null
                          created_at: '2026-01-08T11:40:26.998Z'
                          updated_at: '2026-01-08T11:40:26.998Z'
                          version: 1767872426
                      archived: false
                      events:
                        - administration_id: 123
                          user_id: 17678722914505
                          action: contact_created
                          link_entity_id: null
                          link_entity_type: null
                          data: {}
                          created_at: '2026-01-08T11:40:27.003Z'
                          updated_at: '2026-01-08T11:40:27.003Z'
                    - id: '475689024534611958'
                      administration_id: 123
                      company_name: Foobar Holding B.V.
                      firstname: null
                      lastname: null
                      address1: 1 Infinite Loop
                      address2: ''
                      zipcode: '123456'
                      city: Redmond
                      country: NL
                      phone: ''
                      delivery_method: Email
                      customer_id: '2'
                      tax_number: ''
                      chamber_of_commerce: ''
                      bank_account: NL50TEST0166567191
                      is_trusted: false
                      max_transfer_amount: null
                      attention: ''
                      email: info@example.com
                      email_ubl: true
                      send_invoices_to_attention: ''
                      send_invoices_to_email: info@example.com
                      send_estimates_to_attention: ''
                      send_estimates_to_email: info@example.com
                      sepa_active: true
                      sepa_iban: NL50TEST0166567191
                      sepa_iban_account_name: Foobar Holding B.V.
                      sepa_bic: RABONL2U
                      sepa_mandate_id: MAN12313
                      sepa_mandate_date: '2014-01-01'
                      sepa_sequence_type: RCUR
                      credit_card_number: ''
                      credit_card_reference: ''
                      credit_card_type: null
                      tax_number_validated_at: null
                      tax_number_valid: null
                      invoice_workflow_id: null
                      estimate_workflow_id: null
                      si_identifier: ''
                      si_identifier_type: null
                      moneybird_payments_mandate: false
                      created_at: '2026-01-08T11:40:27.015Z'
                      updated_at: '2026-01-08T11:40:27.015Z'
                      version: 1767872427
                      sales_invoices_url: https://moneybird.dev/123/sales_invoices/6112f0aa53821f82fe31298c863f76a33454a11b23341a84f82619a41252547e/all
                      notes: []
                      custom_fields: []
                      contact_people:
                        - id: '475689024537757688'
                          contact_id: '475689024534611958'
                          administration_id: 123
                          firstname: John
                          lastname: Doe
                          phone: null
                          email: null
                          department: null
                          created_at: '2026-01-08T11:40:27.019Z'
                          updated_at: '2026-01-08T11:40:27.019Z'
                          version: 1767872427
                      archived: false
                      events:
                        - administration_id: 123
                          user_id: 17678722914505
                          action: contact_created
                          link_entity_id: null
                          link_entity_type: null
                          data: {}
                          created_at: '2026-01-08T11:40:27.023Z'
                          updated_at: '2026-01-08T11:40:27.023Z'
      operationId: get_administration_id_contacts_filter
  /{administration_id}/contacts/synchronization{format}:
    get:
      summary: List all ids and versions
      description: |-
        Returns all contacts in the administration. The list contains the contact id and the version of the contact.
        Check if the version of the contact is newer than the version you have stored locally, use the `POST`
        variant for fetching contacts with the given ids.
      tags:
        - Contacts
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - $ref: '#/components/parameters/format'
        - name: filter
          in: query
          required: false
          schema:
            type: string
          examples:
            RetrievesTheIdSForSynchronizationWithAFilter:
              summary: Retrieves the id's for synchronization with a filter
              value: first_name:henk
        - name: include_archived
          in: query
          required: false
          schema:
            type:
              - boolean
              - string
      responses:
        '200':
          description: IDs and versions of records
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  unevaluatedProperties: false
                  properties:
                    id:
                      type:
                        - integer
                        - string
                    version:
                      type:
                        - integer
                        - string
              examples:
                RetrievesTheIdSForSynchronizationWithAFilter:
                  summary: Retrieves the id's for synchronization with a filter
                  value:
                    - id: '475689026107475303'
                      version: 1767872428
                ReturnAListOfIdSAndVersionIdS:
                  summary: Return a list of id's and version id's
                  value:
                    - id: '475689026178778475'
                      version: 1767872428
                    - id: '475689026207090034'
                      version: 1767872428
      operationId: get_administration_id_contacts_synchronization
    post:
      summary: Fetch contacts with given ids
      description: |-
        Given a list of contact ids, returns the contact information belonging to the contacts.
        Returns a maximum of 100 contacts, even if more ids are provided.
      tags:
        - Contacts
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - $ref: '#/components/parameters/format'
      requestBody:
        required: true
        content:
          application/*:
            schema:
              unevaluatedProperties: false
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type:
                      - integer
                      - string
              required:
                - ids
            examples:
              ReturnAListOfGivenIds:
                summary: Return a list of given ids
                value:
                  ids:
                    - 475689029767005300
                    - 475689029797414000
      responses:
        '200':
          description: A list of contacts
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/contact_response'
              examples:
                ReturnAListOfGivenIds:
                  summary: Return a list of given ids
                  value:
                    - id: '475689029767005285'
                      administration_id: 123
                      company_name: Bar Foo
                      firstname: null
                      lastname: null
                      address1: Hoofdstraat 12
                      address2: ''
                      zipcode: 1234AB
                      city: Amsterdam
                      country: NL
                      phone: ''
                      delivery_method: Email
                      customer_id: '3'
                      tax_number: ''
                      chamber_of_commerce: ''
                      bank_account: ''
                      is_trusted: false
                      max_transfer_amount: null
                      attention: ''
                      email: info@example.com
                      email_ubl: true
                      send_invoices_to_attention: ''
                      send_invoices_to_email: info@example.com
                      send_estimates_to_attention: ''
                      send_estimates_to_email: info@example.com
                      sepa_active: false
                      sepa_iban: ''
                      sepa_iban_account_name: ''
                      sepa_bic: ''
                      sepa_mandate_id: ''
                      sepa_mandate_date: null
                      sepa_sequence_type: RCUR
                      credit_card_number: ''
                      credit_card_reference: ''
                      credit_card_type: null
                      tax_number_validated_at: null
                      tax_number_valid: null
                      invoice_workflow_id: null
                      estimate_workflow_id: null
                      si_identifier: ''
                      si_identifier_type: null
                      moneybird_payments_mandate: false
                      created_at: '2026-01-08T11:40:32.005Z'
                      updated_at: '2026-01-08T11:40:32.005Z'
                      version: 1767872432
                      sales_invoices_url: https://moneybird.dev/123/sales_invoices/ae140bbf451ff7730ec324b1a7de2072c7bf6a8d0eeba29591b0050860cdfabe/all
                      notes: []
                      custom_fields: []
                      contact_people:
                        - id: '475689029770151015'
                          contact_id: '475689029767005285'
                          administration_id: 123
                          firstname: John
                          lastname: Appleseed
                          phone: null
                          email: null
                          department: null
                          created_at: '2026-01-08T11:40:32.008Z'
                          updated_at: '2026-01-08T11:40:32.008Z'
                          version: 1767872432
                      archived: false
                      events:
                        - administration_id: 123
                          user_id: 17678722914505
                          action: contact_created
                          link_entity_id: null
                          link_entity_type: null
                          data: {}
                          created_at: '2026-01-08T11:40:32.014Z'
                          updated_at: '2026-01-08T11:40:32.014Z'
                    - id: '475689029797413998'
                      administration_id: 123
                      company_name: Foo Bar
                      firstname: null
                      lastname: null
                      address1: Hoofdstraat 12
                      address2: ''
                      zipcode: 1234AB
                      city: Amsterdam
                      country: NL
                      phone: ''
                      delivery_method: Email
                      customer_id: '5'
                      tax_number: ''
                      chamber_of_commerce: ''
                      bank_account: ''
                      is_trusted: false
                      max_transfer_amount: null
                      attention: ''
                      email: info@example.com
                      email_ubl: true
                      send_invoices_to_attention: ''
                      send_invoices_to_email: info@example.com
                      send_estimates_to_attention: ''
                      send_estimates_to_email: info@example.com
                      sepa_active: false
                      sepa_iban: ''
                      sepa_iban_account_name: ''
                      sepa_bic: ''
                      sepa_mandate_id: ''
                      sepa_mandate_date: null
                      sepa_sequence_type: RCUR
                      credit_card_number: ''
                      credit_card_reference: ''
                      credit_card_type: null
                      tax_number_validated_at: null
                      tax_number_valid: null
                      invoice_workflow_id: null
                      estimate_workflow_id: null
                      si_identifier: ''
                      si_identifier_type: null
                      moneybird_payments_mandate: false
                      created_at: '2026-01-08T11:40:32.034Z'
                      updated_at: '2026-01-08T11:40:32.034Z'
                      version: 1767872432
                      sales_invoices_url: https://moneybird.dev/123/sales_invoices/401b4ab545cc9927eb589a9b34ced91d51518f9aba8d73dec5c2769ee59a02cb/all
                      notes: []
                      custom_fields: []
                      contact_people:
                        - id: '475689029800559728'
                          contact_id: '475689029797413998'
                          administration_id: 123
                          firstname: Mark
                          lastname: van Vliet
                          phone: null
                          email: null
                          department: null
                          created_at: '2026-01-08T11:40:32.038Z'
                          updated_at: '2026-01-08T11:40:32.038Z'
                          version: 1767872432
                      archived: false
                      events:
                        - administration_id: 123
                          user_id: 17678722914505
                          action: contact_created
                          link_entity_id: null
                          link_entity_type: null
                          data: {}
                          created_at: '2026-01-08T11:40:32.043Z'
                          updated_at: '2026-01-08T11:40:32.043Z'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/symbolic_error'
              examples:
                ReturnsA400StatusWhenIdsAreNotProvided:
                  summary: Returns a 400 status when ids are not provided
                  value:
                    error: Ids is required
                    symbolic:
                      ids: required
      operationId: post_administration_id_contacts_synchronization
  /{administration_id}/contacts/{contact_id}/contact_people/{id}{format}:
    get:
      summary: Get contact person
      description: Returns all information about a contact person.
      tags:
        - Contacts
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - name: contact_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - name: id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - $ref: '#/components/parameters/format'
      responses:
        '200':
          description: A contact person
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/contact_person_response'
              examples:
                ReturnAContactPerson:
                  summary: Return a contact person
                  value:
                    id: '475689028467820369'
                    contact_id: '475689028463626063'
                    administration_id: 123
                    firstname: John
                    lastname: Appleseed
                    phone: null
                    email: null
                    department: null
[...]
