openapi: 3.1.0
info:
  title: Moneybird API
  description: The Moneybird API allows you to interact with a Moneybird account in a RESTful manner. For comprehensive and up-to-date information on authentication, endpoints, usage, webhooks, and best practices, please refer to the documentation at [developer.moneybird.com](https://developer.moneybird.com). All details, examples, and guides are available on their respective pages.
  version: v2-20260902-15767d4513
  termsOfService: https://www.moneybird.nl/terms/
  contact:
    name: Moneybird
    email: support@moneybird.com
    url: https://developer.moneybird.com
servers:
  - url: https://moneybird.com/api/v2
    description: Production server
security:
  - bearerAuth: []
tags:
  - name: Administrations
    description: |-
      Administrations are the top level entities in Moneybird. Use the following endpoints to get
      information about the administrations you have access to.
  - name: Assets
    description: |-
      Assets are significant purchases, like company cars, laptops or furniture, that are used over
      multiple years. They are recorded to manage depreciation and comply with tax regulations.
  - name: Contacts
    description: |-
      Contacts are the entities in Moneybird that represent your customers, suppliers or other
      business relations. Use the following endpoints to get information about contacts, create
      new contacts or update existing contacts.
  - name: Custom fields
    description: Custom fields can be used to add extra information to sales invoices, contacts and identities.
  - name: Customer contact portal
    description: |-
      The customer contact portal allows you to create temporary links to the customer contact
      portal. Allowing your customers to view their invoices, subscriptions and other related information.
  - name: Document styles
    description: |-
      Document styles are used to define the layout of documents, like invoices and estimates. You
      can have multiple document styles for different purposes.
  - name: Downloads
    description: |-
      Downloads are files that have been generated as exports from your administration. These can be
      CSV exports of contacts, sales invoices, time entries, or various financial reports. Use these
      endpoints to retrieve a list of available downloads and to download the files.
  - name: 'Documents: General documents'
    description: |-
      General documents are documents that are not invoices, estimates, or other specific document
      types. They can be used to store other financial documents.
  - name: 'Documents: General journal documents'
    description: |-
      General journal documents are used for manual bookkeeping entries, to correct errors or make
      adjustments.
  - name: 'Documents: Purchase invoices'
    description: Purchase invoices are invoices you receive from your suppliers.
  - name: 'Documents: Receipts'
    description: Receipts are proofs of payment for expenses.
  - name: 'Documents: Typeless documents'
    description: |-
      Typeless documents are documents of which the type is not yet known. For example, a document
      uploaded via email or via the bulk uploader. It is not possible to update a typeless
      document, except for adding attachments. You will need to set its type first. You cannot set
      the type of typeless documents using the API yet, but you can do this via the website.
  - name: Estimates
    description: |-
      Estimates (or quotes) are proposals for products or services that you can send to your
      clients.
  - name: External sales invoices
    description: |-
      External sales invoices are invoices created in other systems that you want to import into
      Moneybird for a complete overview of your revenue.
  - name: Financial accounts
    description: |-
      Financial accounts represent your bank accounts, credit cards, private withdrawals/deposits
      and other payment services. They are used to track payments and financial mutations.
  - name: Financial mutations
    description: Financial mutations are the transactions on your financial accounts.
  - name: Financial statements
    description: |-
      Financial statements are comprised of financial mutations that are booked on a financial
      account. They provide a detailed record of all transactions for a specific account.
  - name: Identities
    description: |-
      Identities are the different profiles or trade names under which you can send documents from
      your administration.
  - name: Ledger accounts
    description: |-
      Ledger accounts are the categories in your bookkeeping, like revenue, costs, assets, and
      liabilities.
  - name: Payments
    description: Payments are records of money being transferred for invoices.
  - name: Products
    description: Products are the goods or services you sell. You can add them to invoices and estimates.
  - name: Projects
    description: |-
      Projects allow you to group time entries and financials for specific projects you are working
      on.
  - name: Purchase transactions
    description: Purchase transactions are outgoing payments you initiate from Moneybird
  - name: Recurring sales invoices
    description: |-
      Recurring sales invoices are templates for invoices that are sent automatically at a
      recurring interval.
  - name: Reports
    description: |-
      Reports provide analytical data about your administration, such as revenue and expense
      breakdowns by various dimensions like projects, contacts, or time periods.
  - name: Sales invoices
    description: |-
      Sales invoices are the invoices you send to your customers for products or services you have
      delivered.
  - name: Subscription templates
    description: Subscription templates define the products and prices for subscriptions.
  - name: Subscriptions
    description: |-
      Subscriptions allow you to automatically invoice customers on a recurring basis for the
      services you provide.
  - name: Task lists
    description: |-
      Task lists help you organize and track work within an administration. They contain
      groups of tasks that can be assigned to users and tracked for completion.
  - name: Task list templates
    description: |-
      Task list templates are reusable blueprints for creating task lists with predefined
      groups and tasks.
  - name: Tax rates
    description: Tax rates are the VAT tariffs that apply to your products and services.
  - name: Time entries
    description: |-
      Time entries are used to track time spent on projects, which can then be billed to
      customers.
  - name: Users
    description: |-
      Administrations can have multiple users. Use the following endpoints to get information about
      the users in an administration.
  - name: Verifications
    description: |-
      Verifications are used to retrieve all verified information within an administration, such as
      e-mail addresses, bank account numbers, Chamber of Commerce numbers, and tax numbers.
  - name: Webhooks
    description: |-
      Webhooks are a way to subscribe to events that happen in Moneybird. When an event occurs,
      Moneybird will send a POST request to the URL you provided. This way, you can keep your own
      system in sync with Moneybird.

      For example, you can subscribe to the `contact_created` event to receive a notification when
      a new contact is created in Moneybird.

      For a full list of available events and event groups, see the [webhook events documentation](https://developer.moneybird.com/webhooks/events).
  - name: Workflows
    description: |-
      Workflows determine the settings of the invoice and estimate workflow. Use the following
      to get information about the workflows in an administration.
paths:
  /administrations{format}:
    get:
      summary: List all administrations
      description: Lists all administrations the current user has access to.
      tags:
        - Administrations
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/format'
      responses:
        '200':
          description: A list of administrations
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/administration_response'
              examples:
                ValidatesThatAUserHasAccessToMultipleAdministrationsViaDifferentWays:
                  summary: Validates that a user has access to multiple administrations via different ways
                  value:
                    - id: '178834768125916669'
                      name: Administratie
                      language: nl
                      currency: EUR
                      country: NL
                      time_zone: Europe/Amsterdam
                      access: accountant_company
                      suspended: false
                      period_locked_until: null
                      period_start_date: '2026-01-01'
                    - id: 123
                      name: Parkietje B.V.
                      language: nl
                      currency: EUR
                      country: NL
                      time_zone: Europe/Amsterdam
                      access: user
                      suspended: false
                      period_locked_until: null
                      period_start_date: '2026-01-01'
                ReturnAListOfAdministrationsThatUserHasAccessTo:
                  summary: Return a list of administrations that user has access to
                  value:
                    - id: '178834768114882697'
                      name: Administratie
                      language: nl
                      currency: EUR
                      country: NL
                      time_zone: Europe/Amsterdam
                      access: user
                      suspended: false
                      period_locked_until: null
                      period_start_date: '2026-01-01'
                    - id: 123
                      name: Parkietje B.V.
                      language: nl
                      currency: EUR
                      country: NL
                      time_zone: Europe/Amsterdam
                      access: user
                      suspended: false
                      period_locked_until: null
                      period_start_date: '2026-01-01'
                ReturnsAccessTypeUserWhenHavingDirectAccessToTheAdministration:
                  summary: Returns access type user when having direct access to the administration
                  value:
                    - id: '178834768227277765'
                      name: Parkietje B.V.
                      language: nl
                      currency: EUR
                      country: NL
                      time_zone: Europe/Amsterdam
                      access: user
                      suspended: false
                      period_locked_until: null
                      period_start_date: '2026-01-01'
      operationId: get_administrations
  /{administration_id}/assets/{id}/disposals{format}:
    post:
      summary: Create a disposal
      description: |-
        Creates a disposal for the asset at the given date.
        Requires the asset to not have a disposal already.
        Furthermore, the asset must be fully depreciated so the value of the asset at the disposal date must be zero.

        ### Required scope(s)
         `documents`
      tags:
        - Assets
      security:
        - bearerAuth:
            - documents
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - name: id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - $ref: '#/components/parameters/format'
      requestBody:
        required: true
        content:
          application/*:
            schema:
              type: object
              unevaluatedProperties: false
              properties:
                date:
                  type: string
                  format: date
                  description: Has to be after the purchase date of the asset, and cannot be in the future or in the locked period of the administration.
                reason:
                  type: string
                  enum:
                    - out_of_use
                    - sold
                    - private_withdrawal
                    - divested
              required:
                - date
                - reason
            examples:
              AddsADisposal:
                summary: Adds a disposal
                value:
                  date: '2026-09-02'
                  reason: out_of_use
      responses:
        '201':
          description: A disposal
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/disposal_response'
              examples:
                AddsADisposal:
                  summary: Adds a disposal
                  value:
                    date: '2026-09-02'
                    reason: out_of_use
                    externally_booked: false
                    asset_id: '497158934509914028'
                    reinvestment_reserve_sale: null
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/symbolic_error'
              examples:
                ReturnsA400IfTheReasonIsInvalid:
                  summary: Returns a 400 if the reason is invalid
                  value:
                    error: reason does not have a valid value
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/symbolic_error'
              examples:
                ReturnsA404IfTheAssetDoesNotExist:
                  summary: Returns a 404 if the asset does not exist
                  value:
                    error: 'Record not found for model name: asset'
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/symbolic_error'
                  - $ref: '#/components/schemas/non_symbolic_error'
              examples:
                ReturnsA422TheAssetIsNotInvalid:
                  summary: Returns a 422 the asset is not invalid
                  value:
                    error:
                      date:
                        - is invalid, asset is not fully depreciated on this date
                    details:
                      date:
                        - error: invalid_asset_not_fully_depreciated
      operationId: post_administration_id_assets_id_disposals
  /{administration_id}/assets/{id}/reinvestment_reserve_purchase{format}:
    post:
      summary: Create a reinvestment reserve purchase
      description: |-
        Records that part of the asset's purchase value is funded from the
        reinvestment reserve ("herinvesteringsreserve"). The amount cannot exceed
        the asset's depreciatable value (purchase value minus residual value), and
        the asset's purchase date may not lie in the locked period.

        ### Required scope(s)
         `documents`
      tags:
        - Assets
      security:
        - bearerAuth:
            - documents
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - name: id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - $ref: '#/components/parameters/format'
      requestBody:
        required: true
        content:
          application/*:
            schema:
              type: object
              unevaluatedProperties: false
              properties:
                amount:
                  $ref: '#/components/schemas/money'
                  description: The amount taken from the reinvestment reserve.
              required:
                - amount
            examples:
              CreatesAReinvestmentReservePurchase:
                summary: Creates a reinvestment reserve purchase
                value:
                  amount: 100
      responses:
        '201':
          description: A reinvestment reserve purchase
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/reinvestment_reserve_purchase_response'
              examples:
                CreatesAReinvestmentReservePurchase:
                  summary: Creates a reinvestment reserve purchase
                  value:
                    id: '497158953760720714'
                    amount: '100.0'
                    date: '2026-04-01'
                    asset_id: '497158953383233311'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/symbolic_error'
              examples:
                ReturnsA400IfTheAmountIsNegative:
                  summary: Returns a 400 if the amount is negative
                  value:
                    error: Amount does not have a valid value
                ReturnsA400IfTheAmountIsMissing:
                  summary: Returns a 400 if the amount is missing
                  value:
                    error: Amount is missing, Amount does not have a valid value
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/symbolic_error'
              examples:
                ReturnsA404IfTheAssetDoesNotExist:
                  summary: Returns a 404 if the asset does not exist
                  value:
                    error: 'Record not found for model name: asset'
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/symbolic_error'
                  - $ref: '#/components/schemas/non_symbolic_error'
              examples:
                ReturnsA422IfTheAmountExceedsTheDepreciatableValue:
                  summary: Returns a 422 if the amount exceeds the depreciatable value
                  value:
                    error:
                      amount:
                        - cannot exceed the purchase value minus the residual value
                        - cannot exceed the available reinvestment reserve
                    details:
                      amount:
                        - error: exceeds_depreciatable_value
                        - error: exceeds_available_reserve
      operationId: post_administration_id_assets_id_reinvestment_reserve_purchase
    delete:
      summary: Delete a reinvestment reserve purchase
      description: |-
        Removes the reinvestment reserve purchase from the asset.

        ### Required scope(s)
         `documents`
      tags:
        - Assets
      security:
        - bearerAuth:
            - documents
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - name: id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - $ref: '#/components/parameters/format'
      responses:
        '204':
          description: Reinvestment reserve purchase deleted
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/symbolic_error'
              examples:
                ReturnsA404IfTheAssetDoesNotExist:
                  summary: Returns a 404 if the asset does not exist
                  value:
                    error: 'Record not found for model name: asset'
                ReturnsA404IfTheAssetHasNoReinvestmentReservePurchase:
                  summary: Returns a 404 if the asset has no reinvestment reserve purchase
                  value:
                    error: Not Found
      operationId: delete_administration_id_assets_id_reinvestment_reserve_purchase
  /{administration_id}/assets/{id}/reinvestment_reserve_sale{format}:
    post:
      summary: Create a reinvestment reserve sale
      description: |-
        Books the book result of the asset's disposal to the reinvestment reserve
        ("herinvesteringsreserve"). Requires the asset to have a disposal already,
        and the disposal date may not lie in the locked period.

        ### Required scope(s)
         `documents`
      tags:
        - Assets
      security:
        - bearerAuth:
            - documents
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - name: id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - $ref: '#/components/parameters/format'
      requestBody:
        required: true
        content:
          application/*:
            schema:
              type: object
              unevaluatedProperties: false
              properties:
                amount:
                  $ref: '#/components/schemas/money'
                  description: The amount of the book result booked to the reinvestment reserve.
              required:
                - amount
            examples:
              CreatesAReinvestmentReserveSale:
                summary: Creates a reinvestment reserve sale
                value:
                  amount: 100
      responses:
        '201':
          description: A reinvestment reserve sale
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/reinvestment_reserve_sale_response'
              examples:
                CreatesAReinvestmentReserveSale:
                  summary: Creates a reinvestment reserve sale
                  value:
                    id: '497158951110968876'
                    amount: '100.0'
                    date: '2026-09-02'
                    disposal_id: '497158951091045924'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/symbolic_error'
              examples:
                ReturnsA400IfTheAmountIsNegative:
                  summary: Returns a 400 if the amount is negative
                  value:
                    error: Amount does not have a valid value
                ReturnsA400IfTheAmountIsMissing:
                  summary: Returns a 400 if the amount is missing
                  value:
                    error: Amount is missing, Amount does not have a valid value
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/symbolic_error'
              examples:
                ReturnsA404IfTheAssetDoesNotExist:
                  summary: Returns a 404 if the asset does not exist
                  value:
                    error: 'Record not found for model name: asset'
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/symbolic_error'
                  - $ref: '#/components/schemas/non_symbolic_error'
              examples:
                ReturnsA422IfTheAssetHasNoDisposal:
                  summary: Returns a 422 if the asset has no disposal
                  value:
                    error: Asset has no disposal
      operationId: post_administration_id_assets_id_reinvestment_reserve_sale
    delete:
      summary: Delete a reinvestment reserve sale
      description: |-
        Removes the reinvestment reserve sale from the asset's disposal.

        ### Required scope(s)
         `documents`
      tags:
        - Assets
      security:
        - bearerAuth:
            - documents
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - name: id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - $ref: '#/components/parameters/format'
      responses:
        '204':
          description: Reinvestment reserve sale deleted
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/symbolic_error'
              examples:
                ReturnsA404IfTheAssetDoesNotExist:
                  summary: Returns a 404 if the asset does not exist
                  value:
                    error: 'Record not found for model name: asset'
                ReturnsA404IfTheAssetHasNoDisposal:
                  summary: Returns a 404 if the asset has no disposal
                  value:
                    error: Not Found
                ReturnsA404IfTheAssetSDisposalHasNoReinvestmentReserveSale:
                  summary: Returns a 404 if the asset's disposal has no reinvestment reserve sale
                  value:
                    error: Not Found
      operationId: delete_administration_id_assets_id_reinvestment_reserve_sale
  /{administration_id}/assets/{id}/sources/{source_id}{format}:
    delete:
      summary: Delete a source
      description: |-
        Deletes a source from an asset. Does not delete the detail or the asset

        ### Required scope(s)
         `documents`
      tags:
        - Assets
      security:
        - bearerAuth:
            - documents
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - name: id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - name: source_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - $ref: '#/components/parameters/format'
      responses:
        '204':
          description: Source deleted
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/symbolic_error'
              examples:
                ReturnsA404IfTheAssetDoesNotExist:
                  summary: Returns a 404 if the asset does not exist
                  value:
                    error: 'Record not found for model name: asset'
                ReturnsA404IfTheSourceDoesNotExist:
                  summary: Returns a 404 if the source does not exist
                  value:
                    error: 'Record not found for model name: Source'
      operationId: delete_administration_id_assets_id_sources_source_id
  /{administration_id}/assets/{id}/sources{format}:
    post:
      summary: Add a source to an asset
      description: |-
        Adds a detail or general journal document entry as a source to an asset.
        The booking must have the same ledger account as the asset.

        ### Required scope(s)
         `documents`
      tags:
        - Assets
      security:
        - bearerAuth:
            - documents
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - name: id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - $ref: '#/components/parameters/format'
      requestBody:
        required: true
        content:
          application/*:
            schema:
              type: object
              unevaluatedProperties: false
              oneOf:
                - required:
                    - detail_id
                  properties:
                    detail_id:
                      $ref: '#/components/schemas/identifier'
                - required:
                    - general_journal_document_entry_id
                  properties:
                    general_journal_document_entry_id:
                      $ref: '#/components/schemas/identifier'
            examples:
              CreatesANewDetailSource:
                summary: Creates a new detail source
                value:
                  detail_id: 497158946624111740
              CreatesANewGeneralJournalDocumentSource:
                summary: Creates a new general journal document source
                value:
                  general_journal_document_entry_id: 497158948749575550
      responses:
        '201':
          description: A detail that is added as a source to an asset
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/source_response'
              examples:
                CreatesANewDetailSource:
                  summary: Creates a new detail source
                  value:
                    id: '497158946636694649'
                    asset_id: '497158946238235724'
                    detail_id: '497158946624111736'
                CreatesANewGeneralJournalDocumentSource:
                  summary: Creates a new general journal document source
                  value:
                    id: '497158948761109859'
                    asset_id: '497158948367893814'
                    general_journal_document_entry_id: '497158948749575522'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/symbolic_error'
              examples:
                ReturnsA400IfTheDetailIdIsNotAInteger:
                  summary: Returns a 400 if the detail id is not a integer
                  value:
                    error: detail_id is invalid
                ReturnsA400IfTheGeneralJournalDocumentEntryIdIsNotAnInteger:
                  summary: Returns a 400 if the general journal document entry id is not an integer
                  value:
                    error: general_journal_document_entry_id is invalid
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/symbolic_error'
              examples:
                ReturnsA404IfTheAssetDoesNotExist:
                  summary: Returns a 404 if the asset does not exist
                  value:
                    error: 'Record not found for model name: asset'
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/symbolic_error'
                  - $ref: '#/components/schemas/non_symbolic_error'
              examples:
                ReturnsA422IfTheDetailIsNotValid:
                  summary: Returns a 422 if the detail is not valid
                  value:
                    error:
                      booking:
                        - The ledger account of the source must be equal to the ledger account of the asset
                    details:
                      booking:
                        - error: not_equal_to_asset_ledger_account
                ReturnsA422IfTheEntryHasADifferentLedgerAccountThanTheAsset:
                  summary: Returns a 422 if the entry has a different ledger account than the asset
                  value:
                    error:
                      booking:
                        - The ledger account of the source must be equal to the ledger account of the asset
                    details:
                      booking:
                        - error: not_equal_to_asset_ledger_account
      operationId: post_administration_id_assets_id_sources
  /{administration_id}/assets/{id}/value_changes/arbitrary{format}:
    post:
      summary: Create an arbitrary value change
      description: |-
        Creates an arbitrary value change for the asset at the given date.
        If the amount is larger than the value of the asset at the given date, a 422 error will be returned.
        Any existing linear value changes after the given date will be removed.

        ### Required scope(s)
         `documents`
      tags:
        - Assets
      security:
        - bearerAuth:
            - documents
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - name: id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - $ref: '#/components/parameters/format'
      requestBody:
        required: true
        content:
          application/*:
            schema:
              type: object
              unevaluatedProperties: false
              properties:
                date:
                  type: string
                  format: date
                  description: Has to be after the purchase date of the asset, and cannot be in the future or in the locked period of the administration.
                amount:
                  $ref: '#/components/schemas/money'
                  description: Note that a negative amount means the asset decreases in value while a positive amount means the asset increases in value.
                description:
                  type: string
                externally_booked:
                  type: boolean
                  description: Set to true if the value change is already externally booked and doesn't need to be booked by Moneybird.
                  default: false
              required:
                - date
                - amount
                - description
            examples:
              AddsAArbitraryValueChange:
                summary: Adds a arbitrary value change
                value:
                  date: '2026-09-02'
                  amount: -10
                  externally_booked: true
                  description: some description
      responses:
        '201':
          description: A value change
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/value_change_response'
              examples:
                AddsAArbitraryValueChange:
                  summary: Adds a arbitrary value change
                  value:
                    type: arbitrary
                    date: '2026-09-02'
                    amount: '-10.0'
                    description: some description
                    externally_booked: true
                    asset_id: '497158940745795104'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/symbolic_error'
              examples:
                ReturnsA400IfTheDateIsNotAValidDate:
                  summary: Returns a 400 if the date is not a valid date
                  value:
                    error: Date is invalid
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/symbolic_error'
              examples:
                ReturnsA404IfTheAssetDoesNotExist:
                  summary: Returns a 404 if the asset does not exist
                  value:
                    error: 'Record not found for model name: asset'
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/symbolic_error'
                  - $ref: '#/components/schemas/non_symbolic_error'
              examples:
                ReturnsA422IfTheValueChangeIsInvalid:
                  summary: Returns a 422 if the value change is invalid
                  value:
                    error:
                      date:
                        - can not be before the commissioning date of the asset
                    details:
                      date:
                        - error: cannot_be_before_purchase_date
      operationId: post_administration_id_assets_id_value_changes_arbitrary
  /{administration_id}/assets/{id}/value_changes/divestment{format}:
    post:
      summary: Create a divestment value change
      description: |-
        Creates a divestment value change for the asset at the given date.
        The remaining value of the asset will be taken from the balance sheet and the profit will be booked as book result.
        The amount of the value change will automatically be set to the value of the asset at the given date.
        If the value change is created successfully, a disposal will be created for the asset.
        Any existing linear value changes after the given date will be removed.

        ### Required scope(s)
         `documents`
      tags:
        - Assets
      security:
        - bearerAuth:
            - documents
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - name: id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - $ref: '#/components/parameters/format'
      requestBody:
        required: true
        content:
          application/*:
            schema:
              type: object
              unevaluatedProperties: false
              properties:
                date:
                  type: string
                  format: date
                  description: Has to be after the purchase date of the asset, and cannot be in the future or in the locked period of the administration.
              required:
                - date
            examples:
              AddsADivestmentValueChange:
                summary: Adds a divestment value change
                value:
                  date: '2026-09-02'
      responses:
        '201':
          description: A value change
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/value_change_response'
              examples:
                AddsADivestmentValueChange:
                  summary: Adds a divestment value change
                  value:
                    type: divestment
                    date: '2026-09-02'
                    amount: '-12145.67'
                    description: null
                    externally_booked: false
                    asset_id: '497158945648935949'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/symbolic_error'
              examples:
                ReturnsA400IfTheDateIsNotAValidDate:
                  summary: Returns a 400 if the date is not a valid date
                  value:
                    error: Date is invalid
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/symbolic_error'
              examples:
                ReturnsA404IfTheAssetDoesNotExist:
                  summary: Returns a 404 if the asset does not exist
                  value:
                    error: 'Record not found for model name: asset'
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/symbolic_error'
                  - $ref: '#/components/schemas/non_symbolic_error'
              examples:
                ReturnsA422IfTheValueChangeIsInvalid:
                  summary: Returns a 422 if the value change is invalid
                  value:
                    error:
                      date:
                        - can not be before the commissioning date of the asset
                        - must be after the last arbitrary depreciation
                    details:
                      date:
                        - error: cannot_be_before_purchase_date
                        - error: after_arbitrary_changes
      operationId: post_administration_id_assets_id_value_changes_divestment
  /{administration_id}/assets/{id}/value_changes/full_depreciation{format}:
    post:
      summary: Create a full depreciation value change
      description: |-
        Creates a full depreciation value change for the asset at the given date.
        The remaining value of the asset will be taken from the balance sheet.
        The amount of the value change will automatically be set to the value of the asset at the given date.
        If the value change is created successfully, a disposal will be created for the asset.
        Any existing linear value changes after the given date will be removed.

        ### Required scope(s)
         `documents`
      tags:
        - Assets
      security:
        - bearerAuth:
            - documents
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - name: id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - $ref: '#/components/parameters/format'
      requestBody:
        required: true
        content:
          application/*:
            schema:
              type: object
              unevaluatedProperties: false
              properties:
                date:
                  type: string
                  format: date
                  description: Has to be after the purchase date of the asset, and cannot be in the future or in the locked period of the administration.
                description:
                  type: string
              required:
                - date
                - description
            examples:
              AddsAFullDepreciationValueChange:
                summary: Adds a full depreciation value change
                value:
                  date: '2026-09-02'
                  description: some description
      responses:
        '201':
          description: A value change
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/value_change_response'
              examples:
                AddsAFullDepreciationValueChange:
                  summary: Adds a full depreciation value change
                  value:
                    type: full_depreciation
                    date: '2026-09-02'
                    amount: '-12145.67'
                    description: some description
                    externally_booked: false
                    asset_id: '497158931987039893'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/symbolic_error'
              examples:
                ReturnsA400IfTheDateIsNotAValidDate:
                  summary: Returns a 400 if the date is not a valid date
                  value:
                    error: Date is invalid
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/symbolic_error'
              examples:
                ReturnsA404IfTheAssetDoesNotExist:
                  summary: Returns a 404 if the asset does not exist
                  value:
                    error: 'Record not found for model name: asset'
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/symbolic_error'
                  - $ref: '#/components/schemas/non_symbolic_error'
              examples:
                ReturnsA422IfTheValueChangeIsInvalid:
                  summary: Returns a 422 if the value change is invalid
                  value:
                    error:
                      date:
                        - can not be before the commissioning date of the asset
                        - must be after the last arbitrary depreciation
                    details:
                      date:
                        - error: cannot_be_before_purchase_date
                        - error: after_arbitrary_changes
      operationId: post_administration_id_assets_id_value_changes_full_depreciation
  /{administration_id}/assets/{id}/value_changes/manual{format}:
    post:
      summary: Create a manual value change
      description: |-
        Creates a manual value change for the asset at the given date.
        If the amount is larger than the value of the asset at the given date, a 422 error will be returned.

        ### Required scope(s)
         `documents`
      tags:
        - Assets
      security:
        - bearerAuth:
            - documents
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - name: id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - $ref: '#/components/parameters/format'
      requestBody:
        required: true
        content:
          application/*:
            schema:
              type: object
              unevaluatedProperties: false
              properties:
                date:
                  type: string
                  format: date
                  description: Has to be after the purchase date of the asset, and cannot be in the future or in the locked period of the administration.
                amount:
                  $ref: '#/components/schemas/money'
                  description: Note that a negative amount means the asset decreases in value while a positive amount means the asset increases in value.
                description:
                  type: string
                externally_booked:
                  type: boolean
                  description: Set to true if the value change is already externally booked and doesn't need to be booked by Moneybird.
                  default: false
              required:
                - date
                - amount
                - description
            examples:
              AddsAManualValueChange:
                summary: Adds a manual value change
                value:
                  date: '2026-09-02'
                  amount: -10
                  externally_booked: true
                  description: some description
      responses:
        '201':
          description: A value change
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/value_change_response'
              examples:
                AddsAManualValueChange:
                  summary: Adds a manual value change
                  value:
                    type: manual
                    date: '2026-09-02'
                    amount: '-10.0'
                    description: some description
                    externally_booked: true
                    asset_id: '497158944370722695'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/symbolic_error'
              examples:
                ReturnsA400IfTheDateIsNotAValidDate:
                  summary: Returns a 400 if the date is not a valid date
                  value:
                    error: Date is invalid
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/symbolic_error'
              examples:
                ReturnsA404IfTheAssetDoesNotExist:
                  summary: Returns a 404 if the asset does not exist
                  value:
                    error: 'Record not found for model name: asset'
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/symbolic_error'
                  - $ref: '#/components/schemas/non_symbolic_error'
              examples:
                ReturnsA422IfTheValueChangeIsInvalid:
                  summary: Returns a 422 if the value change is invalid
                  value:
                    error:
                      date:
                        - can not be before the commissioning date of the asset
                    details:
                      date:
                        - error: cannot_be_before_purchase_date
      operationId: post_administration_id_assets_id_value_changes_manual
  /{administration_id}/assets/{id}/value_changes/retroactive_linear_value_changes{format}:
    post:
      summary: Create linear value changes retroactively
      description: |-
        Creates linear value changes that were not created yet.
        Use this if a new asset has just been created or if an arbitrary value change was created and the missing linear value changes need to be recalculated and recreated.
        This will create missing value changes for all months between the purchase date of the asset or the date of the last arbitrary value change and the last month of the administration.
        Requires a asset with a value change plan (so no assets that belong to a land or building category).
        Also requires that the asset has remaining value, has missing value changes at the end of some months and that all missing linear value changes are outside the locked period.
        This process will be performed asynchronously so no result will be returned. Use `Get /assets/:id` to check the result after a while.

        ### Required scope(s)
         `documents`
      tags:
        - Assets
      security:
        - bearerAuth:
            - documents
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - name: id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - $ref: '#/components/parameters/format'
      responses:
        '204':
          $ref: '#/components/responses/204_no_content'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/symbolic_error'
              examples:
                ReturnsA404IfTheAssetDoesNotExist:
                  summary: Returns a 404 if the asset does not exist
                  value:
                    error: 'Record not found for model name: asset'
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/symbolic_error'
                  - $ref: '#/components/schemas/non_symbolic_error'
              examples:
                ReturnsA422IfTheAssetIsNotValidWithRetroactiveValueChangesScope:
                  summary: Returns a 422 if the asset is not valid with retroactive value changes scope
                  value:
                    error: The value change plan of the asset is not active
                ReturnsA422IfTheAssetHasNoValueChangePlan:
                  summary: Returns a 422 if the asset has no value change plan
                  value:
                    error: Asset has no value change plan
      operationId: post_administration_id_assets_id_value_changes_retroactive_linear_value_changes
  /{administration_id}/assets/{id}{format}:
    get:
      summary: Get an asset by ID
      description: |-
        Returns the asset with the given ID.

        ### Required scope(s)
         `documents`
      tags:
        - Assets
      security:
        - bearerAuth:
            - documents
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - name: id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - $ref: '#/components/parameters/format'
      responses:
        '200':
          description: An asset
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/asset_response'
              examples:
                ReturnsTheAsset:
                  summary: Returns the asset
                  value:
                    id: '497158933317683006'
                    ledger_account_id: '497158933310342973'
                    name: Asset 1
                    purchase_date: '2026-04-01'
                    purchase_value: '12345.67'
                    calculated_purchase_value: '12345.67'
                    current_value: '12145.67'
                    value_change_plan:
                      lifespan_in_years: 5
                      residual_value: '10.0'
                      active: true
                      monthly_depreciation: '216.71'
                    disposal: null
                    value_changes:
                      - type: arbitrary
                        date: '2026-05-01'
                        amount: '-50.0'
                        description: Value change 1
                        externally_booked: false
                        asset_id: '497158933317683006'
                      - type: arbitrary
                        date: '2026-06-01'
                        amount: '-50.0'
                        description: Value change 2
                        externally_booked: false
                        asset_id: '497158933317683006'
                      - type: arbitrary
                        date: '2026-07-01'
                        amount: '-50.0'
                        description: Value change 3
                        externally_booked: false
                        asset_id: '497158933317683006'
                      - type: arbitrary
                        date: '2026-08-01'
                        amount: '-50.0'
                        description: Value change 4
                        externally_booked: false
                        asset_id: '497158933317683006'
                    sources: []
                    reinvestment_reserve_purchase: null
                ExposesCalculatedPurchaseValueReducedByTheAppliedReinvestmentReservePurchase:
                  summary: Exposes calculated purchase value reduced by the applied reinvestment reserve purchase
                  value:
                    id: '497158933739210607'
                    ledger_account_id: '497158933732919150'
                    name: Asset 1
                    purchase_date: '2026-04-01'
                    purchase_value: '1000.0'
                    calculated_purchase_value: '700.0'
                    current_value: '700.0'
                    value_change_plan: null
                    disposal: null
                    value_changes: []
                    sources: []
                    reinvestment_reserve_purchase:
                      id: '497158933749696369'
                      amount: '300.0'
                      date: '2026-04-01'
                      asset_id: '497158933739210607'
                ReturnsTheAssetWithADisposal:
                  summary: Returns the asset with a disposal
                  value:
                    id: '497158933787445114'
                    ledger_account_id: '497158933781153657'
                    name: Asset 1
                    purchase_date: '2020-09-02'
                    purchase_value: '12345.67'
                    calculated_purchase_value: '12345.67'
                    current_value: '0.0'
                    value_change_plan:
                      lifespan_in_years: 5
                      residual_value: '10.0'
                      active: false
                      monthly_depreciation: '205.59'
                    disposal:
                      date: '2026-09-02'
                      reason: out_of_use
                      externally_booked: false
                      asset_id: '497158933787445114'
                      reinvestment_reserve_sale: null
                    value_changes:
                      - type: manual
                        date: '2026-09-02'
                        amount: '-12345.67'
                        description: Depreciation
                        externally_booked: false
                        asset_id: '497158933787445114'
                    sources: []
                    reinvestment_reserve_purchase: null
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/symbolic_error'
              examples:
                ReturnsA404IfTheAssetDoesNotExist:
                  summary: Returns a 404 if the asset does not exist
                  value:
                    error: 'Record not found for model name: asset'
      operationId: get_administration_id_assets_id
    patch:
      summary: Update an asset
      description: |-
        Updates the asset with the given ID.
        If the asset is active (the purchase date is in the past), only the `name` can be updated.

        ### Required scope(s)
         `documents`
      tags:
        - Assets
      security:
        - bearerAuth:
            - documents
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - name: id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - $ref: '#/components/parameters/format'
      requestBody:
        required: true
        content:
          application/*:
            schema:
              type: object
              unevaluatedProperties: false
              properties:
                asset:
                  type: object
                  unevaluatedProperties: false
                  properties:
                    name:
                      type: string
                      description: The name of the asset
                    ledger_account_id:
                      $ref: '#/components/schemas/identifier'
                      description: The ID of the ledger account
                    purchase_date:
                      type: string
                      description: The purchase date of the asset
                    purchase_value:
                      $ref: '#/components/schemas/money'
                      description: The purchase value of the asset
                    value_change_plan_attributes:
                      unevaluatedProperties: false
                      properties:
                        lifespan_in_years:
                          $ref: '#/components/schemas/number'
                          description: The lifespan of the asset in years
                        residual_value:
                          $ref: '#/components/schemas/money'
                          description: The residual value of the asset at the end of the lifespan
              required:
                - asset
            examples:
              AllowsUpdatingEveryAttributeOfAPlannedAsset:
                summary: Allows updating every attribute of a planned asset
                value:
                  asset:
                    name: New Name
                    ledger_account_id: 497158941209265700
                    purchase_date: '2026-09-02'
                    purchase_value: 10000
                    value_change_plan_attributes:
                      lifespan_in_years: 10
                      residual_value: 500
              UpdatesTheAsset:
                summary: Updates the asset
                value:
                  asset:
                    name: New Name
      responses:
        '200':
          description: Asset updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/asset_response'
              examples:
                AllowsUpdatingEveryAttributeOfAPlannedAsset:
                  summary: Allows updating every attribute of a planned asset
                  value:
                    id: '497158941218702932'
                    ledger_account_id: '497158941209265746'
                    name: New Name
                    purchase_date: '2026-09-02'
                    purchase_value: '10000.0'
                    calculated_purchase_value: '10000.0'
                    current_value: '10000.0'
                    value_change_plan:
                      lifespan_in_years: 10
                      residual_value: '500.0'
                      active: true
                      monthly_depreciation: '79.17'
                    disposal: null
                    value_changes: []
                    sources: []
                    reinvestment_reserve_purchase: null
                UpdatesTheAsset:
                  summary: Updates the asset
                  value:
                    id: '497158941690562185'
                    ledger_account_id: '497158941684270728'
                    name: New Name
                    purchase_date: '2026-04-01'
                    purchase_value: '12345.67'
                    calculated_purchase_value: '12345.67'
                    current_value: '12145.67'
                    value_change_plan:
                      lifespan_in_years: 5
                      residual_value: '10.0'
                      active: true
                      monthly_depreciation: '216.71'
                    disposal: null
                    value_changes:
                      - type: arbitrary
                        date: '2026-05-01'
                        amount: '-50.0'
                        description: Value change 1
                        externally_booked: false
                        asset_id: '497158941690562185'
                      - type: arbitrary
                        date: '2026-06-01'
                        amount: '-50.0'
                        description: Value change 2
                        externally_booked: false
                        asset_id: '497158941690562185'
                      - type: arbitrary
                        date: '2026-07-01'
                        amount: '-50.0'
                        description: Value change 3
                        externally_booked: false
                        asset_id: '497158941690562185'
                      - type: arbitrary
                        date: '2026-08-01'
                        amount: '-50.0'
                        description: Value change 4
                        externally_booked: false
                        asset_id: '497158941690562185'
                    sources: []
                    reinvestment_reserve_purchase: null
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/symbolic_error'
              examples:
                ReturnsA400IfTheInputAttributesAreInvalid:
                  summary: Returns a 400 if the input attributes are invalid
                  value:
                    error: asset[purchase_value] does not have a valid value
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/symbolic_error'
              examples:
                ReturnsA404IfTheAssetDoesNotExist:
                  summary: Returns a 404 if the asset does not exist
                  value:
                    error: 'Record not found for model name: asset'
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/symbolic_error'
                  - $ref: '#/components/schemas/non_symbolic_error'
              examples:
                ReturnsA422IfAnActiveAssetGetsAnInvalidAttributeUpdate:
                  summary: Returns a 422 if an active asset gets an invalid attribute update
                  value:
                    error:
                      base:
                        - Cannot update asset when it has value changes
                    details:
                      base:
                        - error: cannot_update_with_value_changes
      operationId: patch_administration_id_assets_id
    delete:
      summary: Delete an asset
      description: |-
        Deletes the asset with the given ID.

        ### Required scope(s)
         `documents`
      tags:
        - Assets
      security:
        - bearerAuth:
            - documents
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - name: id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - $ref: '#/components/parameters/format'
      responses:
        '204':
          description: Asset deleted
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/symbolic_error'
              examples:
                ReturnsA404IfTheAssetDoesNotExist:
                  summary: Returns a 404 if the asset does not exist
                  value:
                    error: 'Record not found for model name: asset'
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/symbolic_error'
                  - $ref: '#/components/schemas/non_symbolic_error'
              examples:
                ReturnsA422IfTheAssetIsInTheLockedPeriod:
                  summary: Returns a 422 if the asset is in the locked period
                  value:
                    error: Asset cannot be deleted because there are journal entries in the locked period of the administration.
      operationId: delete_administration_id_assets_id
  /{administration_id}/assets{format}:
    get:
      summary: List all assets
      description: |-
        Returns a list of all assets.
        The list is paginated. Use the `per_page` and `page` parameters to control the pagination.

        ### Required scope(s)
         `documents`
      tags:
        - Assets
      security:
        - bearerAuth:
            - documents
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - $ref: '#/components/parameters/format'
        - name: ledger_account_id
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/identifier'
          description: Filter on the ID of the ledger account
          examples:
            ReturnsAListOfAssetsFilteredByLedgerAccount:
              summary: Returns a list of assets filtered by ledger account
              value: '497158938808026454'
        - name: active
          in: query
          required: false
          schema:
            type:
              - boolean
              - string
            default: true
          description: Whether to include only active assets
          examples:
            ReturnsAListOfAllAssets:
              summary: Returns a list of all assets
              value: 'false'
        - $ref: '#/components/parameters/per_page'
        - $ref: '#/components/parameters/page'
      responses:
        '200':
          description: A list of assets
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/asset_response'
              examples:
                ReturnsAListOfAllAssets:
                  summary: Returns a list of all assets
                  value:
                    - id: '497158936561976450'
                      ledger_account_id: '497158936555684993'
                      name: Asset 1
                      purchase_date: '2026-04-01'
                      purchase_value: '12345.67'
                      calculated_purchase_value: '12345.67'
                      current_value: '12145.67'
                      value_change_plan:
                        lifespan_in_years: 5
                        residual_value: '10.0'
                        active: true
                        monthly_depreciation: '216.71'
                      disposal: null
                      value_changes:
                        - type: arbitrary
                          date: '2026-05-01'
                          amount: '-50.0'
                          description: Value change 1
                          externally_booked: false
                          asset_id: '497158936561976450'
                        - type: arbitrary
                          date: '2026-06-01'
                          amount: '-50.0'
                          description: Value change 2
                          externally_booked: false
                          asset_id: '497158936561976450'
                        - type: arbitrary
                          date: '2026-07-01'
                          amount: '-50.0'
                          description: Value change 3
                          externally_booked: false
                          asset_id: '497158936561976450'
                        - type: arbitrary
                          date: '2026-08-01'
                          amount: '-50.0'
                          description: Value change 4
                          externally_booked: false
                          asset_id: '497158936561976450'
                      sources: []
                      reinvestment_reserve_purchase: null
                    - id: '497158936959386798'
                      ledger_account_id: '497158936954143917'
                      name: Asset 2
                      purchase_date: '2020-09-02'
                      purchase_value: '12345.67'
                      calculated_purchase_value: '12345.67'
                      current_value: '0.0'
                      value_change_plan:
                        lifespan_in_years: 5
                        residual_value: '10.0'
                        active: false
                        monthly_depreciation: '205.59'
                      disposal:
                        date: '2026-09-02'
                        reason: out_of_use
                        externally_booked: false
                        asset_id: '497158936959386798'
                        reinvestment_reserve_sale: null
                      value_changes:
                        - type: manual
                          date: '2026-09-02'
                          amount: '-12345.67'
                          description: Depreciation
                          externally_booked: false
                          asset_id: '497158936959386798'
                      sources: []
                      reinvestment_reserve_purchase: null
                ReturnsAListOfActiveAssets:
                  summary: Returns a list of active assets
                  value:
                    - id: '497158937319048393'
                      ledger_account_id: '497158937312756936'
                      name: Asset 1
                      purchase_date: '2026-04-01'
                      purchase_value: '12345.67'
                      calculated_purchase_value: '12345.67'
                      current_value: '12145.67'
                      value_change_plan:
                        lifespan_in_years: 5
                        residual_value: '10.0'
                        active: true
                        monthly_depreciation: '216.71'
                      disposal: null
                      value_changes:
                        - type: arbitrary
                          date: '2026-05-01'
                          amount: '-50.0'
                          description: Value change 1
                          externally_booked: false
                          asset_id: '497158937319048393'
                        - type: arbitrary
                          date: '2026-06-01'
                          amount: '-50.0'
                          description: Value change 2
                          externally_booked: false
                          asset_id: '497158937319048393'
                        - type: arbitrary
                          date: '2026-07-01'
                          amount: '-50.0'
                          description: Value change 3
                          externally_booked: false
                          asset_id: '497158937319048393'
                        - type: arbitrary
                          date: '2026-08-01'
                          amount: '-50.0'
                          description: Value change 4
                          externally_booked: false
                          asset_id: '497158937319048393'
                      sources: []
                      reinvestment_reserve_purchase: null
                ReturnsAListOfAssetsFilteredByLedgerAccount:
                  summary: Returns a list of assets filtered by ledger account
                  value:
                    - id: '497158938814317911'
                      ledger_account_id: '497158938808026454'
                      name: Asset 3
                      purchase_date: '2026-04-01'
                      purchase_value: '12345.67'
                      calculated_purchase_value: '12345.67'
                      current_value: '12145.67'
                      value_change_plan:
                        lifespan_in_years: 5
                        residual_value: '10.0'
                        active: true
                        monthly_depreciation: '216.71'
                      disposal: null
                      value_changes:
                        - type: arbitrary
                          date: '2026-05-01'
                          amount: '-50.0'
                          description: Value change 1
                          externally_booked: false
                          asset_id: '497158938814317911'
                        - type: arbitrary
                          date: '2026-06-01'
                          amount: '-50.0'
                          description: Value change 2
                          externally_booked: false
                          asset_id: '497158938814317911'
                        - type: arbitrary
                          date: '2026-07-01'
                          amount: '-50.0'
                          description: Value change 3
                          externally_booked: false
                          asset_id: '497158938814317911'
                        - type: arbitrary
                          date: '2026-08-01'
                          amount: '-50.0'
                          description: Value change 4
                          externally_booked: false
                          asset_id: '497158938814317911'
                      sources: []
                      reinvestment_reserve_purchase: null
                ReturnsAPaginatedListOfAssets:
                  summary: Returns a paginated list of assets
                  value:
                    - id: '497158939583972781'
                      ledger_account_id: '497158939578729900'
                      name: Asset 2
                      purchase_date: '2020-09-02'
                      purchase_value: '12345.67'
                      calculated_purchase_value: '12345.67'
                      current_value: '0.0'
                      value_change_plan:
                        lifespan_in_years: 5
                        residual_value: '10.0'
                        active: false
                        monthly_depreciation: '205.59'
                      disposal:
                        date: '2026-09-02'
                        reason: out_of_use
                        externally_booked: false
                        asset_id: '497158939583972781'
                        reinvestment_reserve_sale: null
                      value_changes:
                        - type: manual
                          date: '2026-09-02'
                          amount: '-12345.67'
                          description: Depreciation
                          externally_booked: false
                          asset_id: '497158939583972781'
                      sources: []
                      reinvestment_reserve_purchase: null
      operationId: get_administration_id_assets
    post:
      summary: Create a new asset
      description: |-
        Creates a new asset.

        An asset on a land or building ledger account never has a depreciation plan. Leave out
        `value_change_plan_attributes` for those. Every other ledger account requires one.

        ### Required scope(s)
         `documents`
      tags:
        - Assets
      security:
        - bearerAuth:
            - documents
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - $ref: '#/components/parameters/format'
      requestBody:
        required: true
        content:
          application/*:
            schema:
              type: object
              unevaluatedProperties: false
              properties:
                asset:
                  type: object
                  unevaluatedProperties: false
                  properties:
                    name:
                      type: string
                      description: The name of the asset
                    ledger_account_id:
                      $ref: '#/components/schemas/identifier'
                      description: The ID of the ledger account
                    purchase_date:
                      type: string
                      description: The purchase date of the asset
                    purchase_value:
                      $ref: '#/components/schemas/money'
                      description: The purchase value of the asset
                    value_change_plan_attributes:
                      description: The depreciation plan of the asset. Required, except on a land or building ledger account, where a depreciation plan is not allowed.
                      unevaluatedProperties: false
                      properties:
                        lifespan_in_years:
                          $ref: '#/components/schemas/number'
                          description: The lifespan of the asset in years
                        residual_value:
                          $ref: '#/components/schemas/money'
                          description: The residual value of the asset at the end of the lifespan
                          default: 0
                      required:
                        - lifespan_in_years
                  required:
                    - name
                    - ledger_account_id
                    - purchase_date
                    - purchase_value
            examples:
              CreatesANewAssetWithoutADepreciationPlan:
                summary: Creates a new asset without a depreciation plan
                value:
                  asset:
                    name: Test Asset
                    ledger_account_id: 497158951937246850
                    purchase_date: '2026-09-02'
                    purchase_value: 1000
              CreatesANewAsset:
                summary: Creates a new asset
                value:
                  asset:
                    name: Test Asset
                    ledger_account_id: 497158951976044160
                    purchase_date: '2026-09-02'
                    purchase_value: 1000
                    value_change_plan_attributes:
                      lifespan_in_years: 5
                      residual_value: 100
      responses:
        '201':
          description: Asset created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/asset_response'
              examples:
                CreatesANewAssetWithoutADepreciationPlan:
                  summary: Creates a new asset without a depreciation plan
                  value:
                    id: '497158951952975470'
                    ledger_account_id: '497158951937246828'
                    name: Test Asset
                    purchase_date: '2026-09-02'
                    purchase_value: '1000.0'
                    calculated_purchase_value: '1000.0'
                    current_value: '1000.0'
                    value_change_plan: null
                    disposal: null
                    value_changes: []
                    sources: []
                    reinvestment_reserve_purchase: null
                CreatesANewAsset:
                  summary: Creates a new asset
                  value:
                    id: '497158951989675633'
                    ledger_account_id: '497158951976044144'
                    name: Test Asset
                    purchase_date: '2026-09-02'
                    purchase_value: '1000.0'
                    calculated_purchase_value: '1000.0'
                    current_value: '1000.0'
                    value_change_plan:
                      lifespan_in_years: 5
                      residual_value: '100.0'
                      active: true
                      monthly_depreciation: '15.0'
                    disposal: null
                    value_changes: []
                    sources: []
                    reinvestment_reserve_purchase: null
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/symbolic_error'
              examples:
                ReturnsA400IfTheRequestWhenParametersAreMissing:
                  summary: Returns a 400 if the request when parameters are missing
                  value:
                    error: asset[name] is missing
                ReturnsA400IfThePurchaseDateIsNotAValidDate:
                  summary: Returns a 400 if the purchase date is not a valid date
                  value:
                    error: asset[purchase_date] is invalid
                ReturnsA400IfTheParametersAreIncorrect:
                  summary: Returns a 400 if the parameters are incorrect
                  value:
                    error: asset[purchase_value] does not have a valid value, asset[value_change_plan_attributes][lifespan_in_years] does not have a valid value, asset[value_change_plan_attributes][residual_value] does not have a valid value
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/symbolic_error'
                  - $ref: '#/components/schemas/non_symbolic_error'
              examples:
                ReturnsA422IfADepreciationPlanIsRequiredForTheLedgerAccount:
                  summary: Returns a 422 if a depreciation plan is required for the ledger account
                  value:
                    error:
                      value_change_plan:
                        - can't be blank
                    details:
                      value_change_plan:
                        - error: blank
                ReturnsA422IfTheAssetIsNotValid:
                  summary: Returns a 422 if the asset is not valid
                  value:
                    error:
                      ledger_account:
                        - is invalid
                    details:
                      ledger_account:
                        - error: invalid
                ReturnsA422IfADepreciationPlanIsNotAllowedForTheLedgerAccount:
                  summary: Returns a 422 if a depreciation plan is not allowed for the ledger account
                  value:
                    error:
                      value_change_plan.base:
                        - Depreciations are not possible with this ledger account
                    details:
                      value_change_plan.base:
                        - error: value_change_plan_not_allowed_for_ledger_account
                ReturnsA422IfTheLedgerAccountHangsUnderAnotherCategory:
                  summary: Returns a 422 if the ledger account hangs under another category
                  value:
                    error:
                      ledger_account:
                        - cannot be a sub-category. Depreciation then lands in a different place on the balance sheet than the purchase value. Add a new category via 'Fixed assets'.
                    details:
                      ledger_account:
                        - error: cannot_be_a_child
      operationId: post_administration_id_assets
  /{administration_id}/contacts/customer_id/{customer_id}{format}:
    get:
      summary: Get contact by customer id
      description: |-
        Returns all information about a contact by the given customer id

        ### Required scope(s)
         Any of: `estimates`, `sales_invoices`, `documents`, `bank` or `settings`
      tags:
        - Contacts
      security:
        - bearerAuth:
            - estimates
        - bearerAuth:
            - sales_invoices
        - bearerAuth:
            - documents
        - bearerAuth:
            - bank
        - bearerAuth:
            - settings
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - name: customer_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - $ref: '#/components/parameters/format'
      responses:
        '200':
          description: A contact
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/contact_response'
              examples:
                ReturnAContact:
                  summary: Return a contact
                  value:
                    id: '497158895786001575'
                    administration_id: 123
                    company_name: Foobar Holding B.V.
                    firstname: null
                    lastname: Appleseed
                    address1: Hoofdstraat 12
                    address2: ''
                    zipcode: 1234 AB
                    city: Amsterdam
                    country: NL
                    phone: ''
                    delivery_method: Email
                    customer_id: '1'
                    tax_number: ''
                    chamber_of_commerce: ''
                    bank_account: ''
                    is_trusted: false
                    max_transfer_amount: null
                    attention: ''
                    email: info@example.com
                    email_ubl: true
                    send_invoices_to_attention: ''
                    send_invoices_to_email: info@example.com
                    send_estimates_to_attention: ''
                    send_estimates_to_email: info@example.com
                    direct_debit: false
                    sepa_active: false
                    sepa_iban: ''
                    sepa_iban_account_name: ''
                    sepa_bic: ''
                    sepa_mandate_id: ''
                    sepa_mandate_date: null
                    sepa_sequence_type: RCUR
                    credit_card_number: ''
                    credit_card_reference: ''
                    credit_card_type: null
                    tax_number_validated_at: null
                    tax_number_valid: null
                    invoice_workflow_id: null
                    estimate_workflow_id: null
                    si_identifier: ''
                    si_identifier_type: null
                    moneybird_payments_mandate: false
                    created_at: '2026-09-02T11:14:51.805Z'
                    updated_at: '2026-09-02T11:14:51.820Z'
                    version: 1788347691
                    sales_invoices_url: https://moneybird.dev/123/sales_invoices/d8a712bee1f448d7990b77936567171b29e7c8c490940a02cac940085b35f539/all
                    notes: []
                    custom_fields: []
                    contact_people:
                      - id: '497158895790195881'
                        contact_id: '497158895786001575'
                        administration_id: 123
                        firstname: John
                        lastname: Appleseed
                        phone: null
                        email: null
                        department: null
                        created_at: '2026-09-02T11:14:51.808Z'
                        updated_at: '2026-09-02T11:14:51.808Z'
                        version: 1788347691
                    archived: false
                    events:
                      - administration_id: 123
                        user_id: '497158736342680677'
                        action: contact_created
                        link_entity_id: null
                        link_entity_type: null
                        data: {}
                        created_at: '2026-09-02T11:14:51.814Z'
                        updated_at: '2026-09-02T11:14:51.814Z'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/symbolic_error'
              examples:
                Returns404WhenContactDoesNotExist:
                  summary: Returns 404 when contact does not exist
                  value:
                    error: record not found
                    symbolic:
                      customer_id: not_found
      operationId: get_administration_id_contacts_customer_id_customer_id
  /{administration_id}/contacts/filter{format}:
    get:
      summary: Filter contacts
      description: |-
        Returns a paginated list of all contacts in the administration.

        ### Required scope(s)
         Any of: `estimates`, `sales_invoices`, `documents`, `bank` or `settings`
      tags:
        - Contacts
      security:
        - bearerAuth:
            - estimates
        - bearerAuth:
            - sales_invoices
        - bearerAuth:
            - documents
        - bearerAuth:
            - bank
        - bearerAuth:
            - settings
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - $ref: '#/components/parameters/format'
        - name: filter
          in: query
          required: false
          description: |-
            Filters are `key:value` terms separated by commas (e.g. `first_name:henk,contact_type:company`). Any filter you pass replaces the defaults below entirely, so include every key you need. Available filters:

            | **Filter** | **Type** | **Default** | **Description** |
            | - | - | - | - |
            | created_after | `String` | | Select contacts created after the given time (exclusive). ISO 8601 formatted string. The time to compare with is in UTC timezone |
            | updated_after | `String` | | Select contacts updated after the given time (exclusive). ISO 8601 formatted string. The time to compare with is in UTC timezone |
            | first_name | `String` | | Select contacts with the given first name. Case-insensitive |
            | last_name | `String` | | Select contacts with the given last name. Case-insensitive |
            | estimate_workflow_id | `Integer` | | Filters contacts by a single Estimate workflow |
            | invoice_workflow_id | `Integer` | | Filters contacts by a single Invoice workflow |
            | contact_type | `String` | | The contact type. Possible values `all`, `company`, `private_individual` |
            | delivery_method | `String` | | The delivery method for invoices. Possible values. Possible values `all`, `email`, `post`, `manual`, `peppol`, `simplerinvoicing` |
            | trusted_type | `String` | | Whether the contact is trusted. Possible values `all`, `trusted`, `not_trusted` |
            | mandate_type | `String` | | The direct debit mandate of the contact. Possible values `all`, `manual` (the SEPA mandate fields are filled in), `adyen` (an accepted Moneybird mandate), `none` (no mandate at all) |
          schema:
            type: string
          examples:
            AllowsFilteringByFirstname:
              summary: Allows filtering by firstname
              value: first_name:piet
            ReturnsOnlyContactsUpdatedAfterGivenDatetime:
              summary: Returns only contacts updated after given datetime
              value: updated_after:2026-09-02 11:14:52 UTC
            ReturnsAllContactsCreatedAfterGivenDatetime:
              summary: Returns all contacts created after given datetime
              value: created_after:2026-09-01 11:14:47 UTC
        - name: query
          in: query
          required: false
          description: Free-text search across name, contact people, email, phone, customer id, tax number, chamber of commerce, IBAN, and address fields.
          schema:
            type: string
        - name: include_archived
          in: query
          required: false
          schema:
            type:
              - boolean
              - string
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/per_page'
      responses:
        '200':
          description: A list of contacts
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/contact_response'
              examples:
                AllowsFilteringByFirstname:
                  summary: Allows filtering by firstname
                  value:
                    - id: '497158890704602513'
                      administration_id: 123
                      company_name: Relation 1
                      firstname: Piet
                      lastname: null
                      address1: null
                      address2: null
                      zipcode: null
                      city: null
                      country: NL
                      phone: null
                      delivery_method: Email
                      customer_id: customer-2
                      tax_number: null
                      chamber_of_commerce: null
                      bank_account: null
                      is_trusted: false
                      max_transfer_amount: null
                      attention: null
                      email: contact1@example.com
                      email_ubl: false
                      send_invoices_to_attention: null
                      send_invoices_to_email: contact1@example.com
                      send_estimates_to_attention: null
                      send_estimates_to_email: null
                      direct_debit: false
                      sepa_active: false
                      sepa_iban: null
                      sepa_iban_account_name: null
                      sepa_bic: null
                      sepa_mandate_id: null
                      sepa_mandate_date: null
                      sepa_sequence_type: RCUR
                      credit_card_number: null
                      credit_card_reference: null
                      credit_card_type: null
                      tax_number_validated_at: null
                      tax_number_valid: null
                      invoice_workflow_id: null
                      estimate_workflow_id: null
                      si_identifier: null
                      si_identifier_type: null
                      moneybird_payments_mandate: false
                      created_at: '2026-09-02T11:14:46.958Z'
                      updated_at: '2026-09-02T11:14:46.961Z'
                      version: 1788347686
                      sales_invoices_url: https://moneybird.dev/123/sales_invoices/0000000000000000000000000000000000000000000000000000000000000002/all
                      notes: []
                      custom_fields: []
                      contact_people: []
                      archived: false
                      events: []
                ReturnsOnlyContactsUpdatedAfterGivenDatetime:
                  summary: Returns only contacts updated after given datetime
                  value:
                    - id: '497158890819945893'
                      administration_id: 123
                      company_name: Foobar Holding B.V.
                      firstname: null
                      lastname: foo
                      address1: Hoofdstraat 12
                      address2: ''
                      zipcode: 1234 AB
                      city: Amsterdam
                      country: NL
                      phone: ''
                      delivery_method: Email
                      customer_id: '1'
                      tax_number: ''
                      chamber_of_commerce: ''
                      bank_account: ''
                      is_trusted: false
                      max_transfer_amount: null
                      attention: ''
                      email: info@example.com
                      email_ubl: true
                      send_invoices_to_attention: ''
                      send_invoices_to_email: info@example.com
                      send_estimates_to_attention: ''
                      send_estimates_to_email: info@example.com
                      direct_debit: false
                      sepa_active: false
                      sepa_iban: ''
                      sepa_iban_account_name: ''
                      sepa_bic: ''
                      sepa_mandate_id: ''
                      sepa_mandate_date: null
                      sepa_sequence_type: RCUR
                      credit_card_number: ''
                      credit_card_reference: ''
                      credit_card_type: null
                      tax_number_validated_at: null
                      tax_number_valid: null
                      invoice_workflow_id: null
                      estimate_workflow_id: null
                      si_identifier: ''
                      si_identifier_type: null
                      moneybird_payments_mandate: false
                      created_at: '2026-09-02T11:14:47.068Z'
                      updated_at: '2026-09-02T11:15:52.106Z'
                      version: 1788347752
                      sales_invoices_url: https://moneybird.dev/123/sales_invoices/765dae744c6f438b24cf71e968b103e54bd51ca064d829b4d35c20eecace08a0/all
                      notes: []
                      custom_fields: []
                      contact_people:
                        - id: '497158890823091623'
                          contact_id: '497158890819945893'
                          administration_id: 123
                          firstname: John
                          lastname: Appleseed
                          phone: null
                          email: null
                          department: null
                          created_at: '2026-09-02T11:14:47.071Z'
                          updated_at: '2026-09-02T11:14:47.071Z'
                          version: 1788347687
                      archived: false
                      events:
                        - administration_id: 123
                          user_id: '497158736342680677'
                          action: contact_created
                          link_entity_id: null
                          link_entity_type: null
                          data: {}
[...]
