{
  "openapi": "3.1.0",
  "info": {
    "title": "Moneybird API",
    "description": "The Moneybird API allows you to interact with a Moneybird account in a RESTful manner. For comprehensive and up-to-date information on authentication, endpoints, usage, webhooks, and best practices, please refer to the documentation at [developer.moneybird.com](https://developer.moneybird.com). All details, examples, and guides are available on their respective pages.",
    "version": "v2-20260528-c9bc3040e5",
    "termsOfService": "https://www.moneybird.nl/terms/",
    "contact": {
      "name": "Moneybird",
      "email": "support@moneybird.com",
      "url": "https://developer.moneybird.com"
    }
  },
  "servers": [
    {
      "url": "https://moneybird.com/api/v2",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Administrations",
      "description": "Administrations are the top level entities in Moneybird. Use the following endpoints to get\ninformation about the administrations you have access to."
    },
    {
      "name": "Assets",
      "description": "Assets are significant purchases, like company cars, laptops or furniture, that are used over\nmultiple years. They are recorded to manage depreciation and comply with tax regulations."
    },
    {
      "name": "Contacts",
      "description": "Contacts are the entities in Moneybird that represent your customers, suppliers or other\nbusiness relations. Use the following endpoints to get information about contacts, create\nnew contacts or update existing contacts."
    },
    {
      "name": "Custom fields",
      "description": "Custom fields can be used to add extra information to sales invoices, contacts and identities."
    },
    {
      "name": "Customer contact portal",
      "description": "The customer contact portal allows you to create temporary links to the customer contact\nportal. Allowing your customers to view their invoices, subscriptions and other related information."
    },
    {
      "name": "Document styles",
      "description": "Document styles are used to define the layout of documents, like invoices and estimates. You\ncan have multiple document styles for different purposes."
    },
    {
      "name": "Downloads",
      "description": "Downloads are files that have been generated as exports from your administration. These can be\nCSV exports of contacts, sales invoices, time entries, or various financial reports. Use these\nendpoints to retrieve a list of available downloads and to download the files."
    },
    {
      "name": "Documents: General documents",
      "description": "General documents are documents that are not invoices, estimates, or other specific document\ntypes. They can be used to store other financial documents."
    },
    {
      "name": "Documents: General journal documents",
      "description": "General journal documents are used for manual bookkeeping entries, to correct errors or make\nadjustments."
    },
    {
      "name": "Documents: Purchase invoices",
      "description": "Purchase invoices are invoices you receive from your suppliers."
    },
    {
      "name": "Documents: Receipts",
      "description": "Receipts are proofs of payment for expenses."
    },
    {
      "name": "Documents: Typeless documents",
      "description": "Typeless documents are documents of which the type is not yet known. For example, a document\nuploaded via email or via the bulk uploader. It is not possible to update a typeless\ndocument, except for adding attachments. You will need to set its type first. You cannot set\nthe type of typeless documents using the API yet, but you can do this via the website."
    },
    {
      "name": "Estimates",
      "description": "Estimates (or quotes) are proposals for products or services that you can send to your\nclients."
    },
    {
      "name": "External sales invoices",
      "description": "External sales invoices are invoices created in other systems that you want to import into\nMoneybird for a complete overview of your revenue."
    },
    {
      "name": "Financial accounts",
      "description": "Financial accounts represent your bank accounts, credit cards, private withdrawals/deposits\nand other payment services. They are used to track payments and financial mutations."
    },
    {
      "name": "Financial mutations",
      "description": "Financial mutations are the transactions on your financial accounts."
    },
    {
      "name": "Financial statements",
      "description": "Financial statements are comprised of financial mutations that are booked on a financial\naccount. They provide a detailed record of all transactions for a specific account."
    },
    {
      "name": "Identities",
      "description": "Identities are the different profiles or trade names under which you can send documents from\nyour administration."
    },
    {
      "name": "Ledger accounts",
      "description": "Ledger accounts are the categories in your bookkeeping, like revenue, costs, assets, and\nliabilities."
    },
    {
      "name": "Payments",
      "description": "Payments are records of money being transferred for invoices."
    },
    {
      "name": "Products",
      "description": "Products are the goods or services you sell. You can add them to invoices and estimates."
    },
    {
      "name": "Projects",
      "description": "Projects allow you to group time entries and financials for specific projects you are working\non."
    },
    {
      "name": "Purchase transactions",
      "description": "Purchase transactions are outgoing payments you initiate from Moneybird"
    },
    {
      "name": "Recurring sales invoices",
      "description": "Recurring sales invoices are templates for invoices that are sent automatically at a\nrecurring interval."
    },
    {
      "name": "Reports",
      "description": "Reports provide analytical data about your administration, such as revenue and expense\nbreakdowns by various dimensions like projects, contacts, or time periods."
    },
    {
      "name": "Sales invoices",
      "description": "Sales invoices are the invoices you send to your customers for products or services you have\ndelivered."
    },
    {
      "name": "Subscription templates",
      "description": "Subscription templates define the products and prices for subscriptions."
    },
    {
      "name": "Subscriptions",
      "description": "Subscriptions allow you to automatically invoice customers on a recurring basis for the\nservices you provide."
    },
    {
      "name": "Task lists",
      "description": "Task lists help you organize and track work within an administration. They contain\ngroups of tasks that can be assigned to users and tracked for completion."
    },
    {
      "name": "Task list templates",
      "description": "Task list templates are reusable blueprints for creating task lists with predefined\ngroups and tasks."
    },
    {
      "name": "Tax rates",
      "description": "Tax rates are the VAT tariffs that apply to your products and services."
    },
    {
      "name": "Time entries",
      "description": "Time entries are used to track time spent on projects, which can then be billed to\ncustomers."
    },
    {
      "name": "Users",
      "description": "Administrations can have multiple users. Use the following endpoints to get information about\nthe users in an administration."
    },
    {
      "name": "Verifications",
      "description": "Verifications are used to retrieve all verified information within an administration, such as\ne-mail addresses, bank account numbers, Chamber of Commerce numbers, and tax numbers."
    },
    {
      "name": "Webhooks",
      "description": "Webhooks are a way to subscribe to events that happen in Moneybird. When an event occurs,\nMoneybird will send a POST request to the URL you provided. This way, you can keep your own\nsystem in sync with Moneybird.\n\nFor example, you can subscribe to the `contact_created` event to receive a notification when\na new contact is created in Moneybird.\n\nFor a full list of available events and event groups, see the [webhook events documentation](https://developer.moneybird.com/webhooks/events)."
    },
    {
      "name": "Workflows",
      "description": "Workflows determine the settings of the invoice and estimate workflow. Use the following\nto get information about the workflows in an administration."
    }
  ],
  "paths": {
    "/administrations{format}": {
      "get": {
        "summary": "List all administrations",
        "description": "Lists all administrations the current user has access to.",
        "tags": [
          "Administrations"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/format"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of administrations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/administration_response"
                  }
                },
                "examples": {
                  "ValidatesThatAUserHasAccessToMultipleAdministrationsViaDifferentWays": {
                    "summary": "Validates that a user has access to multiple administrations via different ways",
                    "value": [
                      {
                        "id": "177998249542308053",
                        "name": "Administratie",
                        "language": "nl",
                        "currency": "EUR",
                        "country": "NL",
                        "time_zone": "Europe/Amsterdam",
                        "access": "accountant_company",
                        "suspended": false,
                        "period_locked_until": null,
                        "period_start_date": "2026-01-01"
                      },
                      {
                        "id": 123,
                        "name": "Parkietje B.V.",
                        "language": "nl",
                        "currency": "EUR",
                        "country": "NL",
                        "time_zone": "Europe/Amsterdam",
                        "access": "user",
                        "suspended": false,
                        "period_locked_until": null,
                        "period_start_date": "2026-01-01"
                      }
                    ]
                  },
                  "ReturnsAccessTypeUserWhenHavingDirectAccessToTheAdministration": {
                    "summary": "Returns access type user when having direct access to the administration",
                    "value": [
                      {
                        "id": "177998249622776768",
                        "name": "Parkietje B.V.",
                        "language": "nl",
                        "currency": "EUR",
                        "country": "NL",
                        "time_zone": "Europe/Amsterdam",
                        "access": "user",
                        "suspended": false,
                        "period_locked_until": null,
                        "period_start_date": "2026-01-01"
                      }
                    ]
                  },
                  "ReturnAListOfAdministrationsThatUserHasAccessTo": {
                    "summary": "Return a list of administrations that user has access to",
                    "value": [
                      {
                        "id": "177998249688983242",
                        "name": "Administratie",
                        "language": "nl",
                        "currency": "EUR",
                        "country": "NL",
                        "time_zone": "Europe/Amsterdam",
                        "access": "user",
                        "suspended": false,
                        "period_locked_until": null,
                        "period_start_date": "2026-01-01"
                      },
                      {
                        "id": 123,
                        "name": "Parkietje B.V.",
                        "language": "nl",
                        "currency": "EUR",
                        "country": "NL",
                        "time_zone": "Europe/Amsterdam",
                        "access": "user",
                        "suspended": false,
                        "period_locked_until": null,
                        "period_start_date": "2026-01-01"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "operationId": "get_administrations"
      }
    },
    "/{administration_id}/assets/{id}/disposals{format}": {
      "post": {
        "summary": "Create a disposal",
        "description": "Creates a disposal for the asset at the given date.\nRequires the asset to not have a disposal already.\nFurthermore, the asset must be fully depreciated so the value of the asset at the disposal date must be zero.",
        "tags": [
          "Assets"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/administration_id"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/identifier"
            }
          },
          {
            "$ref": "#/components/parameters/format"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/*": {
              "schema": {
                "type": "object",
                "unevaluatedProperties": false,
                "properties": {
                  "date": {
                    "type": "string",
                    "format": "date",
                    "description": "Has to be after the purchase date of the asset, and cannot be in the future or in the locked period of the administration."
                  },
                  "reason": {
                    "type": "string",
                    "enum": [
                      "out_of_use",
                      "sold",
                      "private_withdrawal",
                      "divested"
                    ]
                  }
                },
                "required": [
                  "date",
                  "reason"
                ]
              },
              "examples": {
                "AddsADisposal": {
                  "summary": "Adds a disposal",
                  "value": {
                    "date": "2026-05-28",
                    "reason": "out_of_use"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "A disposal",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/disposal_response"
                },
                "examples": {
                  "AddsADisposal": {
                    "summary": "Adds a disposal",
                    "value": {
                      "date": "2026-05-28",
                      "reason": "out_of_use",
                      "externally_booked": false,
                      "asset_id": "488387416986485798"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/symbolic_error"
                },
                "examples": {
                  "ReturnsA400IfTheReasonIsInvalid": {
                    "summary": "Returns a 400 if the reason is invalid",
                    "value": {
                      "error": "reason does not have a valid value"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/symbolic_error"
                },
                "examples": {
                  "ReturnsA404IfTheAssetDoesNotExist": {
                    "summary": "Returns a 404 if the asset does not exist",
                    "value": {
                      "error": "Record not found for model name: asset"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/symbolic_error"
                    },
                    {
                      "$ref": "#/components/schemas/non_symbolic_error"
                    }
                  ]
                },
                "examples": {
                  "ReturnsA422TheAssetIsNotInvalid": {
                    "summary": "Returns a 422 the asset is not invalid",
                    "value": {
                      "error": {
                        "date": [
                          "is invalid, asset is not fully depreciated on this date"
                        ]
                      },
                      "details": {
                        "date": [
                          {
                            "error": "invalid_asset_not_fully_depreciated"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "post_administration_id_assets_id_disposals"
      }
    },
    "/{administration_id}/assets/{id}/sources/{detail_id}{format}": {
      "delete": {
        "summary": "Delete a source",
        "description": "Deletes a source from an asset. Does not delete the detail or the asset",
        "tags": [
          "Assets"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/administration_id"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/identifier"
            }
          },
          {
            "name": "detail_id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/identifier"
            }
          },
          {
            "$ref": "#/components/parameters/format"
          }
        ],
        "responses": {
          "204": {
            "description": "Source deleted"
          },
          "404": {
            "$ref": "#/components/responses/404_not_found"
          }
        },
        "operationId": "delete_administration_id_assets_id_sources_detail_id"
      }
    },
    "/{administration_id}/assets/{id}/sources{format}": {
      "post": {
        "summary": "Add a source to an asset",
        "description": "Adds a detail as a source to an asset.\nThe detail must have the same ledger account as the asset.",
        "tags": [
          "Assets"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/administration_id"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/identifier"
            }
          },
          {
            "$ref": "#/components/parameters/format"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/*": {
              "schema": {
                "type": "object",
                "unevaluatedProperties": false,
                "properties": {
                  "detail_id": {
                    "$ref": "#/components/schemas/identifier"
                  }
                },
                "required": [
                  "detail_id"
                ]
              },
              "examples": {
                "CreatesANewSource": {
                  "summary": "Creates a new source",
                  "value": {
                    "detail_id": 488387421367436600
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "A detail that is added as a source to an asset",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/source_response"
                },
                "examples": {
                  "CreatesANewSource": {
                    "summary": "Creates a new source",
                    "value": {
                      "id": "488387421391553865",
                      "asset_id": "488387420763456795",
                      "detail_id": "488387421367436616"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/symbolic_error"
                },
                "examples": {
                  "ReturnsA400IfTheDetailIdIsNotAInteger": {
                    "summary": "Returns a 400 if the detail id is not a integer",
                    "value": {
                      "error": "detail_id is invalid"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/symbolic_error"
                },
                "examples": {
                  "ReturnsA404IfTheAssetDoesNotExist": {
                    "summary": "Returns a 404 if the asset does not exist",
                    "value": {
                      "error": "Record not found for model name: asset"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/symbolic_error"
                    },
                    {
                      "$ref": "#/components/schemas/non_symbolic_error"
                    }
                  ]
                },
                "examples": {
                  "ReturnsA422IfTheDetailIsNotValid": {
                    "summary": "Returns a 422 if the detail is not valid",
                    "value": {
                      "error": {
                        "booking": [
                          "The ledger account of the detail must be equal to the ledger account of the asset"
                        ]
                      },
                      "details": {
                        "booking": [
                          {
                            "error": "not_equal_to_asset_ledger_account"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "post_administration_id_assets_id_sources"
      }
    },
    "/{administration_id}/assets/{id}/value_changes/arbitrary{format}": {
      "post": {
        "summary": "Create an arbitrary value change",
        "description": "Creates an arbitrary value change for the asset at the given date.\nIf the amount is larger than the value of the asset at the given date, a 422 error will be returned.\nAny existing linear value changes after the given date will be removed.",
        "tags": [
          "Assets"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/administration_id"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/identifier"
            }
          },
          {
            "$ref": "#/components/parameters/format"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/*": {
              "schema": {
                "type": "object",
                "unevaluatedProperties": false,
                "properties": {
                  "date": {
                    "type": "string",
                    "format": "date",
                    "description": "Has to be after the purchase date of the asset, and cannot be in the future or in the locked period of the administration."
                  },
                  "amount": {
                    "$ref": "#/components/schemas/number",
                    "description": "Note that a negative amount means the asset decreases in value while a positive amount means the asset increases in value."
                  },
                  "description": {
                    "type": "string"
                  },
                  "externally_booked": {
                    "type": "boolean",
                    "description": "Set to true if the value change is already externally booked and doesn't need to be booked by Moneybird.",
                    "default": false
                  }
                },
                "required": [
                  "date",
                  "amount",
                  "description"
                ]
              },
              "examples": {
                "AddsAArbitraryValueChange": {
                  "summary": "Adds a arbitrary value change",
                  "value": {
                    "date": "2026-05-28",
                    "amount": -10,
                    "externally_booked": true,
                    "description": "some description"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "A value change",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/value_change_response"
                },
                "examples": {
                  "AddsAArbitraryValueChange": {
                    "summary": "Adds a arbitrary value change",
                    "value": {
                      "type": "arbitrary",
                      "date": "2026-05-28",
                      "amount": "-10.0",
                      "description": "some description",
                      "externally_booked": true,
                      "asset_id": "488387424275138064"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/symbolic_error"
                },
                "examples": {
                  "ReturnsA400IfTheDateIsNotAValidDate": {
                    "summary": "Returns a 400 if the date is not a valid date",
                    "value": {
                      "error": "Date is invalid"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/symbolic_error"
                },
                "examples": {
                  "ReturnsA404IfTheAssetDoesNotExist": {
                    "summary": "Returns a 404 if the asset does not exist",
                    "value": {
                      "error": "Record not found for model name: asset"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/symbolic_error"
                    },
                    {
                      "$ref": "#/components/schemas/non_symbolic_error"
                    }
                  ]
                },
                "examples": {
                  "ReturnsA422IfTheValueChangeIsInvalid": {
                    "summary": "Returns a 422 if the value change is invalid",
                    "value": {
                      "error": {
                        "date": [
                          "can not be before the commissioning date of the asset"
                        ]
                      },
                      "details": {
                        "date": [
                          {
                            "error": "cannot_be_before_purchase_date"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "post_administration_id_assets_id_value_changes_arbitrary"
      }
    },
    "/{administration_id}/assets/{id}/value_changes/divestment{format}": {
      "post": {
        "summary": "Create a divestment value change",
        "description": "Creates a divestment value change for the asset at the given date.\nThe remaining value of the asset will be taken from the balance sheet and the profit will be booked as book result.\nThe amount of the value change will automatically be set to the value of the asset at the given date.\nIf the value change is created successfully, a disposal will be created for the asset.\nAny existing linear value changes after the given date will be removed.",
        "tags": [
          "Assets"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/administration_id"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/identifier"
            }
          },
          {
            "$ref": "#/components/parameters/format"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/*": {
              "schema": {
                "type": "object",
                "unevaluatedProperties": false,
                "properties": {
                  "date": {
                    "type": "string",
                    "format": "date",
                    "description": "Has to be after the purchase date of the asset, and cannot be in the future or in the locked period of the administration."
                  }
                },
                "required": [
                  "date"
                ]
              },
              "examples": {
                "AddsADivestmentValueChange": {
                  "summary": "Adds a divestment value change",
                  "value": {
                    "date": "2026-05-28"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "A value change",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/value_change_response"
                },
                "examples": {
                  "AddsADivestmentValueChange": {
                    "summary": "Adds a divestment value change",
                    "value": {
                      "type": "divestment",
                      "date": "2026-05-28",
                      "amount": "-12145.67",
                      "description": null,
                      "externally_booked": false,
                      "asset_id": "488387419867972828"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/symbolic_error"
                },
                "examples": {
                  "ReturnsA400IfTheDateIsNotAValidDate": {
                    "summary": "Returns a 400 if the date is not a valid date",
                    "value": {
                      "error": "Date is invalid"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/symbolic_error"
                },
                "examples": {
                  "ReturnsA404IfTheAssetDoesNotExist": {
                    "summary": "Returns a 404 if the asset does not exist",
                    "value": {
                      "error": "Record not found for model name: asset"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/symbolic_error"
                    },
                    {
                      "$ref": "#/components/schemas/non_symbolic_error"
                    }
                  ]
                },
                "examples": {
                  "ReturnsA422IfTheValueChangeIsInvalid": {
                    "summary": "Returns a 422 if the value change is invalid",
                    "value": {
                      "error": {
                        "date": [
                          "can not be before the commissioning date of the asset",
                          "must be after the last arbitrary depreciation"
                        ]
                      },
                      "details": {
                        "date": [
                          {
                            "error": "cannot_be_before_purchase_date"
                          },
                          {
                            "error": "after_arbitrary_changes"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "post_administration_id_assets_id_value_changes_divestment"
      }
    },
    "/{administration_id}/assets/{id}/value_changes/full_depreciation{format}": {
      "post": {
        "summary": "Create a full depreciation value change",
        "description": "Creates a full depreciation value change for the asset at the given date.\nThe remaining value of the asset will be taken from the balance sheet.\nThe amount of the value change will automatically be set to the value of the asset at the given date.\nIf the value change is created successfully, a disposal will be created for the asset.\nAny existing linear value changes after the given date will be removed.",
        "tags": [
          "Assets"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/administration_id"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/identifier"
            }
          },
          {
            "$ref": "#/components/parameters/format"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/*": {
              "schema": {
                "type": "object",
                "unevaluatedProperties": false,
                "properties": {
                  "date": {
                    "type": "string",
                    "format": "date",
                    "description": "Has to be after the purchase date of the asset, and cannot be in the future or in the locked period of the administration."
                  },
                  "description": {
                    "type": "string"
                  }
                },
                "required": [
                  "date",
                  "description"
                ]
              },
              "examples": {
                "AddsAFullDepreciationValueChange": {
                  "summary": "Adds a full depreciation value change",
                  "value": {
                    "date": "2026-05-28",
                    "description": "some description"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "A value change",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/value_change_response"
                },
                "examples": {
                  "AddsAFullDepreciationValueChange": {
                    "summary": "Adds a full depreciation value change",
                    "value": {
                      "type": "full_depreciation",
                      "date": "2026-05-28",
                      "amount": "-12145.67",
                      "description": "some description",
                      "externally_booked": false,
                      "asset_id": "488387426953201376"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/symbolic_error"
                },
                "examples": {
                  "ReturnsA400IfTheDateIsNotAValidDate": {
                    "summary": "Returns a 400 if the date is not a valid date",
                    "value": {
                      "error": "Date is invalid"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/symbolic_error"
                },
                "examples": {
                  "ReturnsA404IfTheAssetDoesNotExist": {
                    "summary": "Returns a 404 if the asset does not exist",
                    "value": {
                      "error": "Record not found for model name: asset"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/symbolic_error"
                    },
                    {
                      "$ref": "#/components/schemas/non_symbolic_error"
                    }
                  ]
                },
                "examples": {
                  "ReturnsA422IfTheValueChangeIsInvalid": {
                    "summary": "Returns a 422 if the value change is invalid",
                    "value": {
                      "error": {
                        "date": [
                          "can not be before the commissioning date of the asset",
                          "must be after the last arbitrary depreciation"
                        ]
                      },
                      "details": {
                        "date": [
                          {
                            "error": "cannot_be_before_purchase_date"
                          },
                          {
                            "error": "after_arbitrary_changes"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "post_administration_id_assets_id_value_changes_full_depreciation"
      }
    },
    "/{administration_id}/assets/{id}/value_changes/manual{format}": {
      "post": {
        "summary": "Create a manual value change",
        "description": "Creates a manual value change for the asset at the given date.\nIf the amount is larger than the value of the asset at the given date, a 422 error will be returned.",
        "tags": [
          "Assets"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/administration_id"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/identifier"
            }
          },
          {
            "$ref": "#/components/parameters/format"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/*": {
              "schema": {
                "type": "object",
                "unevaluatedProperties": false,
                "properties": {
                  "date": {
                    "type": "string",
                    "format": "date",
                    "description": "Has to be after the purchase date of the asset, and cannot be in the future or in the locked period of the administration."
                  },
                  "amount": {
                    "$ref": "#/components/schemas/number",
                    "description": "Note that a negative amount means the asset decreases in value while a positive amount means the asset increases in value."
                  },
                  "description": {
                    "type": "string"
                  },
                  "externally_booked": {
                    "type": "boolean",
                    "description": "Set to true if the value change is already externally booked and doesn't need to be booked by Moneybird.",
                    "default": false
                  }
                },
                "required": [
                  "date",
                  "amount",
                  "description"
                ]
              },
              "examples": {
                "AddsAManualValueChange": {
                  "summary": "Adds a manual value change",
                  "value": {
                    "date": "2026-05-28",
                    "amount": -10,
                    "externally_booked": true,
                    "description": "some description"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "A value change",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/value_change_response"
                },
                "examples": {
                  "AddsAManualValueChange": {
                    "summary": "Adds a manual value change",
                    "value": {
                      "type": "manual",
                      "date": "2026-05-28",
                      "amount": "-10.0",
                      "description": "some description",
                      "externally_booked": true,
                      "asset_id": "488387412151502549"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/symbolic_error"
                },
                "examples": {
                  "ReturnsA400IfTheDateIsNotAValidDate": {
                    "summary": "Returns a 400 if the date is not a valid date",
                    "value": {
                      "error": "Date is invalid"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/symbolic_error"
                },
                "examples": {
                  "ReturnsA404IfTheAssetDoesNotExist": {
                    "summary": "Returns a 404 if the asset does not exist",
                    "value": {
                      "error": "Record not found for model name: asset"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/symbolic_error"
                    },
                    {
                      "$ref": "#/components/schemas/non_symbolic_error"
                    }
                  ]
                },
                "examples": {
                  "ReturnsA422IfTheValueChangeIsInvalid": {
                    "summary": "Returns a 422 if the value change is invalid",
                    "value": {
                      "error": {
                        "date": [
                          "can not be before the commissioning date of the asset"
                        ]
                      },
                      "details": {
                        "date": [
                          {
                            "error": "cannot_be_before_purchase_date"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "post_administration_id_assets_id_value_changes_manual"
      }
    },
    "/{administration_id}/assets/{id}/value_changes/retroactive_linear_value_changes{format}": {
      "post": {
        "summary": "Create linear value changes retroactively",
        "description": "Creates linear value changes that were not created yet.\nUse this if a new asset has just been created or if an arbitrary value change was created and the missing linear value changes need to be recalculated and recreated.\nThis will create missing value changes for all months between the purchase date of the asset or the date of the last arbitrary value change and the last month of the administration.\nRequires a asset with a value change plan (so no assets that belong to a land or building category).\nAlso requires that the asset has remaining value, has missing value changes at the end of some months and that all missing linear value changes are outside the locked period.\nThis process will be performed asynchronously so no result will be returned. Use `Get /assets/:id` to check the result after a while.",
        "tags": [
          "Assets"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/administration_id"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/identifier"
            }
          },
          {
            "$ref": "#/components/parameters/format"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/204_no_content"
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/symbolic_error"
                },
                "examples": {
                  "ReturnsA404IfTheAssetDoesNotExist": {
                    "summary": "Returns a 404 if the asset does not exist",
                    "value": {
                      "error": "Record not found for model name: asset"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/symbolic_error"
                    },
                    {
                      "$ref": "#/components/schemas/non_symbolic_error"
                    }
                  ]
                },
                "examples": {
                  "ReturnsA422IfTheAssetHasNoValueChangePlan": {
                    "summary": "Returns a 422 if the asset has no value change plan",
                    "value": {
                      "error": "Asset has no value change plan"
                    }
                  },
                  "ReturnsA422IfTheAssetIsNotValidWithRetroactiveValueChangesScope": {
                    "summary": "Returns a 422 if the asset is not valid with retroactive value changes scope",
                    "value": {
                      "error": "The value change plan of the asset is not active"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "post_administration_id_assets_id_value_changes_retroactive_linear_value_changes"
      }
    },
    "/{administration_id}/assets/{id}{format}": {
      "get": {
        "summary": "Get an asset by ID",
        "description": "Returns the asset with the given ID.",
        "tags": [
          "Assets"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/administration_id"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/identifier"
            }
          },
          {
            "$ref": "#/components/parameters/format"
          }
        ],
        "responses": {
          "200": {
            "description": "An asset",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/asset_response"
                },
                "examples": {
                  "ReturnsTheAssetWithADisposal": {
                    "summary": "Returns the asset with a disposal",
                    "value": {
                      "id": "488387403618190550",
                      "ledger_account_id": "488387403609801941",
                      "name": "Asset 1",
                      "purchase_date": "2020-05-28",
                      "purchase_value": "12345.67",
                      "current_value": "0.0",
                      "value_change_plan": {
                        "lifespan_in_years": 5,
                        "residual_value": "10.0",
                        "active": false,
                        "monthly_depreciation": "205.59"
                      },
                      "disposal": {
                        "date": "2026-05-28",
                        "reason": "out_of_use",
                        "externally_booked": false,
                        "asset_id": "488387403618190550"
                      },
                      "value_changes": [
                        {
                          "type": "manual",
                          "date": "2026-05-28",
                          "amount": "-12345.67",
                          "description": "Depreciation",
                          "externally_booked": false,
                          "asset_id": "488387403618190550"
                        }
                      ],
                      "sources": []
                    }
                  },
                  "ReturnsTheAsset": {
                    "summary": "Returns the asset",
                    "value": {
                      "id": "488387404208538867",
                      "ledger_account_id": "488387404200150258",
                      "name": "Asset 1",
                      "purchase_date": "2025-12-01",
                      "purchase_value": "12345.67",
                      "current_value": "12145.67",
                      "value_change_plan": {
                        "lifespan_in_years": 5,
                        "residual_value": "10.0",
                        "active": true,
                        "monthly_depreciation": "216.71"
                      },
                      "disposal": null,
                      "value_changes": [
                        {
                          "type": "arbitrary",
                          "date": "2026-01-01",
                          "amount": "-50.0",
                          "description": "Value change 1",
                          "externally_booked": false,
                          "asset_id": "488387404208538867"
                        },
                        {
                          "type": "arbitrary",
                          "date": "2026-02-01",
                          "amount": "-50.0",
                          "description": "Value change 2",
                          "externally_booked": false,
                          "asset_id": "488387404208538867"
                        },
                        {
                          "type": "arbitrary",
                          "date": "2026-03-01",
                          "amount": "-50.0",
                          "description": "Value change 3",
                          "externally_booked": false,
                          "asset_id": "488387404208538867"
                        },
                        {
                          "type": "arbitrary",
                          "date": "2026-04-01",
                          "amount": "-50.0",
                          "description": "Value change 4",
                          "externally_booked": false,
                          "asset_id": "488387404208538867"
                        }
                      ],
                      "sources": []
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/symbolic_error"
                },
                "examples": {
                  "ReturnsA404IfTheAssetDoesNotExist": {
                    "summary": "Returns a 404 if the asset does not exist",
                    "value": {
                      "error": "Record not found for model name: asset"
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get_administration_id_assets_id"
      },
      "patch": {
        "summary": "Update an asset",
        "description": "Updates the asset with the given ID.\nIf the asset is active (the purchase date is in the past), only the `name` can be updated.",
        "tags": [
          "Assets"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/administration_id"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/identifier"
            }
          },
          {
            "$ref": "#/components/parameters/format"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/*": {
              "schema": {
                "type": "object",
                "unevaluatedProperties": false,
                "properties": {
                  "asset": {
                    "type": "object",
                    "unevaluatedProperties": false,
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "The name of the asset"
                      },
                      "ledger_account_id": {
                        "$ref": "#/components/schemas/identifier",
                        "description": "The ID of the ledger account"
                      },
                      "purchase_date": {
                        "type": "string",
                        "description": "The purchase date of the asset"
                      },
                      "purchase_value": {
                        "$ref": "#/components/schemas/number",
                        "description": "The purchase value of the asset"
                      },
                      "value_change_plan_attributes": {
                        "unevaluatedProperties": false,
                        "properties": {
                          "lifespan_in_years": {
                            "$ref": "#/components/schemas/number",
                            "description": "The lifespan of the asset in years"
                          },
                          "residual_value": {
                            "$ref": "#/components/schemas/number",
                            "description": "The residual value of the asset at the end of the lifespan"
                          }
                        }
                      }
                    }
                  }
                },
                "required": [
                  "asset"
                ]
              },
              "examples": {
                "AllowsUpdatingEveryAttributeOfAPlannedAsset": {
                  "summary": "Allows updating every attribute of a planned asset",
                  "value": {
                    "asset": {
                      "name": "New Name",
                      "ledger_account_id": 488387413515700030,
                      "purchase_date": "2026-05-28",
                      "purchase_value": 10000,
                      "value_change_plan_attributes": {
                        "lifespan_in_years": 10,
                        "residual_value": 500
                      }
                    }
                  }
                },
                "UpdatesTheAsset": {
                  "summary": "Updates the asset",
                  "value": {
                    "asset": {
                      "name": "New Name"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Asset updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/asset_response"
                },
                "examples": {
                  "AllowsUpdatingEveryAttributeOfAPlannedAsset": {
                    "summary": "Allows updating every attribute of a planned asset",
                    "value": {
                      "id": "488387413530380085",
                      "ledger_account_id": "488387413515700019",
                      "name": "New Name",
                      "purchase_date": "2026-05-28",
                      "purchase_value": "10000.0",
                      "current_value": "10000.0",
                      "value_change_plan": {
                        "lifespan_in_years": 10,
                        "residual_value": "500.0",
                        "active": true,
                        "monthly_depreciation": "79.17"
                      },
                      "disposal": null,
                      "value_changes": [],
                      "sources": []
                    }
                  },
                  "UpdatesTheAsset": {
                    "summary": "Updates the asset",
                    "value": {
                      "id": "488387413660403518",
                      "ledger_account_id": "488387413650966333",
                      "name": "New Name",
                      "purchase_date": "2025-12-01",
                      "purchase_value": "12345.67",
                      "current_value": "12145.67",
                      "value_change_plan": {
                        "lifespan_in_years": 5,
                        "residual_value": "10.0",
                        "active": true,
                        "monthly_depreciation": "216.71"
                      },
                      "disposal": null,
                      "value_changes": [
                        {
                          "type": "arbitrary",
                          "date": "2026-01-01",
                          "amount": "-50.0",
                          "description": "Value change 1",
                          "externally_booked": false,
                          "asset_id": "488387413660403518"
                        },
                        {
                          "type": "arbitrary",
                          "date": "2026-02-01",
                          "amount": "-50.0",
                          "description": "Value change 2",
                          "externally_booked": false,
                          "asset_id": "488387413660403518"
                        },
                        {
                          "type": "arbitrary",
                          "date": "2026-03-01",
                          "amount": "-50.0",
                          "description": "Value change 3",
                          "externally_booked": false,
                          "asset_id": "488387413660403518"
                        },
                        {
                          "type": "arbitrary",
                          "date": "2026-04-01",
                          "amount": "-50.0",
                          "description": "Value change 4",
                          "externally_booked": false,
                          "asset_id": "488387413660403518"
                        }
                      ],
                      "sources": []
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/symbolic_error"
                },
                "examples": {
                  "ReturnsA400IfTheInputAttributesAreInvalid": {
                    "summary": "Returns a 400 if the input attributes are invalid",
                    "value": {
                      "error": "asset[purchase_value] does not have a valid value"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/symbolic_error"
                },
                "examples": {
                  "ReturnsA404IfTheAssetDoesNotExist": {
                    "summary": "Returns a 404 if the asset does not exist",
                    "value": {
                      "error": "Record not found for model name: asset"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/symbolic_error"
                    },
                    {
                      "$ref": "#/components/schemas/non_symbolic_error"
                    }
                  ]
                },
                "examples": {
                  "ReturnsA422IfAnActiveAssetGetsAnInvalidAttributeUpdate": {
                    "summary": "Returns a 422 if an active asset gets an invalid attribute update",
                    "value": {
                      "error": {
                        "base": [
                          "Cannot update asset when it has value changes"
                        ]
                      },
                      "details": {
                        "base": [
                          {
                            "error": "cannot_update_with_value_changes"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "patch_administration_id_assets_id"
      },
      "delete": {
        "summary": "Delete an asset",
        "description": "Deletes the asset with the given ID.",
        "tags": [
          "Assets"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/administration_id"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/identifier"
            }
          },
          {
            "$ref": "#/components/parameters/format"
          }
        ],
        "responses": {
          "204": {
            "description": "Asset deleted"
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/symbolic_error"
                },
                "examples": {
                  "ReturnsA404IfTheAssetDoesNotExist": {
                    "summary": "Returns a 404 if the asset does not exist",
                    "value": {
                      "error": "Record not found for model name: asset"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/symbolic_error"
                    },
                    {
                      "$ref": "#/components/schemas/non_symbolic_error"
                    }
                  ]
                },
                "examples": {
                  "ReturnsA422IfTheAssetIsInTheLockedPeriod": {
                    "summary": "Returns a 422 if the asset is in the locked period",
                    "value": {
                      "error": "Asset cannot be deleted because there are journal entries in the locked period of the administration."
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "delete_administration_id_assets_id"
      }
    },
    "/{administration_id}/assets{format}": {
      "get": {
        "summary": "List all assets",
        "description": "Returns a list of all assets.\nThe list is paginated. Use the `per_page` and `page` parameters to control the pagination.",
        "tags": [
          "Assets"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/administration_id"
          },
          {
            "$ref": "#/components/parameters/format"
          },
          {
            "name": "ledger_account_id",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/identifier"
            },
            "description": "Filter on the ID of the ledger account",
            "examples": {
              "ReturnsAListOfAssetsFilteredByLedgerAccount": {
                "summary": "Returns a list of assets filtered by ledger account",
                "value": "488387408462611955"
              }
            }
          },
          {
            "name": "active",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "boolean",
                "string"
              ],
              "default": true
            },
            "description": "Whether to include only active assets",
            "examples": {
              "ReturnsAListOfAllAssets": {
                "summary": "Returns a list of all assets",
                "value": "false"
              }
            }
          },
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of assets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/asset_response"
                  }
                },
                "examples": {
                  "ReturnsAListOfActiveAssets": {
                    "summary": "Returns a list of active assets",
                    "value": [
                      {
                        "id": "488387404889064735",
                        "ledger_account_id": "488387404880676126",
                        "name": "Asset 1",
                        "purchase_date": "2025-12-01",
                        "purchase_value": "12345.67",
                        "current_value": "12145.67",
                        "value_change_plan": {
                          "lifespan_in_years": 5,
                          "residual_value": "10.0",
                          "active": true,
                          "monthly_depreciation": "216.71"
                        },
                        "disposal": null,
                        "value_changes": [
                          {
                            "type": "arbitrary",
                            "date": "2026-01-01",
                            "amount": "-50.0",
                            "description": "Value change 1",
                            "externally_booked": false,
                            "asset_id": "488387404889064735"
                          },
                          {
                            "type": "arbitrary",
                            "date": "2026-02-01",
                            "amount": "-50.0",
                            "description": "Value change 2",
                            "externally_booked": false,
                            "asset_id": "488387404889064735"
                          },
                          {
                            "type": "arbitrary",
                            "date": "2026-03-01",
                            "amount": "-50.0",
                            "description": "Value change 3",
                            "externally_booked": false,
                            "asset_id": "488387404889064735"
                          },
                          {
                            "type": "arbitrary",
                            "date": "2026-04-01",
                            "amount": "-50.0",
                            "description": "Value change 4",
                            "externally_booked": false,
                            "asset_id": "488387404889064735"
                          }
                        ],
                        "sources": []
                      }
                    ]
                  },
                  "ReturnsAListOfAllAssets": {
                    "summary": "Returns a list of all assets",
                    "value": [
                      {
                        "id": "488387406072907110",
                        "ledger_account_id": "488387406063469925",
                        "name": "Asset 1",
                        "purchase_date": "2025-12-01",
                        "purchase_value": "12345.67",
                        "current_value": "12145.67",
                        "value_change_plan": {
                          "lifespan_in_years": 5,
                          "residual_value": "10.0",
                          "active": true,
                          "monthly_depreciation": "216.71"
                        },
                        "disposal": null,
                        "value_changes": [
                          {
                            "type": "arbitrary",
                            "date": "2026-01-01",
                            "amount": "-50.0",
                            "description": "Value change 1",
                            "externally_booked": false,
                            "asset_id": "488387406072907110"
                          },
                          {
                            "type": "arbitrary",
                            "date": "2026-02-01",
                            "amount": "-50.0",
                            "description": "Value change 2",
                            "externally_booked": false,
                            "asset_id": "488387406072907110"
                          },
                          {
                            "type": "arbitrary",
                            "date": "2026-03-01",
                            "amount": "-50.0",
                            "description": "Value change 3",
                            "externally_booked": false,
                            "asset_id": "488387406072907110"
                          },
                          {
                            "type": "arbitrary",
                            "date": "2026-04-01",
                            "amount": "-50.0",
                            "description": "Value change 4",
                            "externally_booked": false,
                            "asset_id": "488387406072907110"
                          }
                        ],
                        "sources": []
                      },
                      {
                        "id": "488387406656963986",
                        "ledger_account_id": "488387406650672529",
                        "name": "Asset 2",
                        "purchase_date": "2020-05-28",
                        "purchase_value": "12345.67",
                        "current_value": "0.0",
                        "value_change_plan": {
                          "lifespan_in_years": 5,
                          "residual_value": "10.0",
                          "active": false,
                          "monthly_depreciation": "205.59"
                        },
                        "disposal": {
                          "date": "2026-05-28",
                          "reason": "out_of_use",
                          "externally_booked": false,
                          "asset_id": "488387406656963986"
                        },
                        "value_changes": [
                          {
                            "type": "manual",
                            "date": "2026-05-28",
                            "amount": "-12345.67",
                            "description": "Depreciation",
                            "externally_booked": false,
                            "asset_id": "488387406656963986"
                          }
                        ],
                        "sources": []
                      }
                    ]
                  },
                  "ReturnsAListOfAssetsFilteredByLedgerAccount": {
                    "summary": "Returns a list of assets filtered by ledger account",
                    "value": [
                      {
                        "id": "488387408472049140",
                        "ledger_account_id": "488387408462611955",
                        "name": "Asset 3",
                        "purchase_date": "2025-12-01",
                        "purchase_value": "12345.67",
                        "current_value": "12145.67",
                        "value_change_plan": {
                          "lifespan_in_years": 5,
                          "residual_value": "10.0",
                          "active": true,
                          "monthly_depreciation": "216.71"
                        },
                        "disposal": null,
                        "value_changes": [
                          {
                            "type": "arbitrary",
                            "date": "2026-01-01",
                            "amount": "-50.0",
                            "description": "Value change 1",
                            "externally_booked": false,
                            "asset_id": "488387408472049140"
                          },
                          {
                            "type": "arbitrary",
                            "date": "2026-02-01",
                            "amount": "-50.0",
                            "description": "Value change 2",
                            "externally_booked": false,
                            "asset_id": "488387408472049140"
                          },
                          {
                            "type": "arbitrary",
                            "date": "2026-03-01",
                            "amount": "-50.0",
                            "description": "Value change 3",
                            "externally_booked": false,
                            "asset_id": "488387408472049140"
                          },
                          {
                            "type": "arbitrary",
                            "date": "2026-04-01",
                            "amount": "-50.0",
                            "description": "Value change 4",
                            "externally_booked": false,
                            "asset_id": "488387408472049140"
                          }
                        ],
                        "sources": []
                      }
                    ]
                  },
                  "ReturnsAPaginatedListOfAssets": {
                    "summary": "Returns a paginated list of assets",
                    "value": [
                      {
                        "id": "488387409670571594",
                        "ledger_account_id": "488387409662182985",
                        "name": "Asset 2",
                        "purchase_date": "2020-05-28",
                        "purchase_value": "12345.67",
                        "current_value": "0.0",
                        "value_change_plan": {
                          "lifespan_in_years": 5,
                          "residual_value": "10.0",
                          "active": false,
                          "monthly_depreciation": "205.59"
                        },
                        "disposal": {
                          "date": "2026-05-28",
                          "reason": "out_of_use",
                          "externally_booked": false,
                          "asset_id": "488387409670571594"
                        },
                        "value_changes": [
                          {
                            "type": "manual",
                            "date": "2026-05-28",
                            "amount": "-12345.67",
                            "description": "Depreciation",
                            "externally_booked": false,
                            "asset_id": "488387409670571594"
                          }
                        ],
                        "sources": []
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "operationId": "get_administration_id_assets"
      },
      "post": {
        "summary": "Create a new asset",
        "description": "Creates a new asset.",
        "tags": [
          "Assets"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/administration_id"
          },
          {
            "$ref": "#/components/parameters/format"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/*": {
              "schema": {
                "type": "object",
                "unevaluatedProperties": false,
                "properties": {
                  "asset": {
                    "type": "object",
                    "unevaluatedProperties": false,
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "The name of the asset"
                      },
                      "ledger_account_id": {
                        "$ref": "#/components/schemas/identifier",
                        "description": "The ID of the ledger account"
                      },
                      "purchase_date": {
                        "type": "string",
                        "description": "The purchase date of the asset"
                      },
                      "purchase_value": {
                        "$ref": "#/components/schemas/number",
                        "description": "The purchase value of the asset"
                      },
                      "value_change_plan_attributes": {
                        "unevaluatedProperties": false,
                        "properties": {
                          "lifespan_in_years": {
                            "$ref": "#/components/schemas/number",
                            "description": "The lifespan of the asset in years"
                          },
                          "residual_value": {
                            "$ref": "#/components/schemas/number",
                            "description": "The residual value of the asset at the end of the lifespan",
                            "default": 0
                          }
                        },
                        "required": [
                          "lifespan_in_years"
                        ]
                      }
                    },
                    "required": [
                      "name",
                      "ledger_account_id",
                      "purchase_date",
                      "purchase_value",
                      "value_change_plan_attributes"
                    ]
                  }
                }
              },
              "examples": {
                "CreatesANewAsset": {
                  "summary": "Creates a new asset",
                  "value": {
                    "asset": {
                      "name": "Test Asset",
                      "ledger_account_id": 488387423399577000,
                      "purchase_date": "2026-05-28",
                      "purchase_value": 1000,
                      "value_change_plan_attributes": {
                        "lifespan_in_years": 5,
                        "residual_value": 100
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Asset created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/asset_response"
                },
                "examples": {
                  "CreatesANewAsset": {
                    "summary": "Creates a new asset",
                    "value": {
                      "id": "488387423420548570",
                      "ledger_account_id": "488387423399577049",
                      "name": "Test Asset",
                      "purchase_date": "2026-05-28",
                      "purchase_value": "1000.0",
                      "current_value": "1000.0",
                      "value_change_plan": {
                        "lifespan_in_years": 5,
                        "residual_value": "100.0",
                        "active": true,
                        "monthly_depreciation": "15.0"
                      },
                      "disposal": null,
                      "value_changes": [],
                      "sources": []
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/symbolic_error"
                },
                "examples": {
                  "ReturnsA400IfTheRequestWhenParametersAreMissing": {
                    "summary": "Returns a 400 if the request when parameters are missing",
                    "value": {
                      "error": "asset[name] is missing"
                    }
                  },
                  "ReturnsA400IfTheParametersAreIncorrect": {
                    "summary": "Returns a 400 if the parameters are incorrect",
                    "value": {
                      "error": "asset[purchase_value] does not have a valid value, asset[value_change_plan_attributes][lifespan_in_years] does not have a valid value, asset[value_change_plan_attributes][residual_value] does not have a valid value"
                    }
                  },
                  "ReturnsA400IfThePurchaseDateIsNotAValidDate": {
                    "summary": "Returns a 400 if the purchase date is not a valid date",
                    "value": {
                      "error": "asset[purchase_date] is invalid"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/symbolic_error"
                    },
                    {
                      "$ref": "#/components/schemas/non_symbolic_error"
                    }
                  ]
                },
                "examples": {
                  "ReturnsA422IfTheAssetIsNotValid": {
                    "summary": "Returns a 422 if the asset is not valid",
                    "value": {
                      "error": {
                        "ledger_account": [
                          "is invalid"
                        ]
                      },
                      "details": {
                        "ledger_account": [
                          {
                            "error": "invalid"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "post_administration_id_assets"
      }
    },
    "/{administration_id}/contacts/customer_id/{customer_id}{format}": {
      "get": {
        "summary": "Get contact by customer id",
        "description": "Returns all information about a contact by the given customer id",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/administration_id"
          },
          {
            "name": "customer_id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/identifier"
            }
          },
          {
            "$ref": "#/components/parameters/format"
          }
        ],
        "responses": {
          "200": {
            "description": "A contact",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/contact_response"
                },
                "examples": {
                  "ReturnAContact": {
                    "summary": "Return a contact",
                    "value": {
                      "id": "488387287704405002",
                      "administration_id": 123,
                      "company_name": "Foobar Holding B.V.",
                      "firstname": null,
                      "lastname": "Appleseed",
                      "address1": "Hoofdstraat 12",
                      "address2": "",
                      "zipcode": "1234 AB",
                      "city": "Amsterdam",
                      "country": "NL",
                      "phone": "",
                      "delivery_method": "Email",
                      "customer_id": "1",
                      "tax_number": "",
                      "chamber_of_commerce": "",
                      "bank_account": "",
                      "is_trusted": false,
                      "max_transfer_amount": null,
                      "attention": "",
                      "email": "info@example.com",
                      "email_ubl": true,
                      "send_invoices_to_attention": "",
                      "send_invoices_to_email": "info@example.com",
                      "send_estimates_to_attention": "",
                      "send_estimates_to_email": "info@example.com",
                      "direct_debit": false,
                      "sepa_active": false,
                      "sepa_iban": "",
                      "sepa_iban_account_name": "",
                      "sepa_bic": "",
                      "sepa_mandate_id": "",
                      "sepa_mandate_date": null,
                      "sepa_sequence_type": "RCUR",
                      "credit_card_number": "",
                      "credit_card_reference": "",
                      "credit_card_type": null,
                      "tax_number_validated_at": null,
                      "tax_number_valid": null,
                      "invoice_workflow_id": null,
                      "estimate_workflow_id": null,
                      "si_identifier": "",
                      "si_identifier_type": null,
                      "moneybird_payments_mandate": false,
                      "created_at": "2026-05-28T15:33:54.463Z",
                      "updated_at": "2026-05-28T15:33:54.489Z",
                      "version": 1779982434,
                      "sales_invoices_url": "https://moneybird.dev/123/sales_invoices/05d9a96cc404320ed9721ace1f91b508eb2ed349178f8542cb1d7141db7d923e/all",
                      "notes": [],
                      "custom_fields": [],
                      "contact_people": [
                        {
                          "id": "488387287709647884",
                          "contact_id": "488387287704405002",
                          "administration_id": 123,
                          "firstname": "John",
                          "lastname": "Appleseed",
                          "phone": null,
                          "email": null,
                          "department": null,
                          "created_at": "2026-05-28T15:33:54.468Z",
                          "updated_at": "2026-05-28T15:33:54.468Z",
                          "version": 1779982434
                        }
                      ],
                      "archived": false,
                      "events": [
                        {
                          "administration_id": 123,
                          "user_id": "488387134100604005",
                          "action": "contact_created",
                          "link_entity_id": null,
                          "link_entity_type": null,
                          "data": {},
                          "created_at": "2026-05-28T15:33:54.478Z",
                          "updated_at": "2026-05-28T15:33:54.478Z"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/symbolic_error"
                },
                "examples": {
                  "Returns404WhenContactDoesNotExist": {
                    "summary": "Returns 404 when contact does not exist",
                    "value": {
                      "error": "record not found",
                      "symbolic": {
                        "customer_id": "not_found"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "operationId": "get_administration_id_contacts_customer_id_customer_id"
      }
    },
    "/{administration_id}/contacts/filter{format}": {
      "get": {
        "summary": "Filter contacts",
        "description": "Returns a paginated list of all contacts in the administration.\n\nThe `filter` argument allows you to filter the list of contacts. Filters are a combination of keys and values,\nseparated by a comma: `first_name:henk,last_name:jansen`. The available options for filtering are:\n\n| **Filter** | **Type** | **Default** | **Description** |\n| - | - | - | - |\n| created_after | `String` | | Select contacts created after the given time (exclusive). ISO 8601 formatted string. The time to compare with is in UTC timezone |\n| updated_after | `String` | | Select contacts updated after the given time (exclusive). ISO 8601 formatted string. The time to compare with is in UTC timezone |\n| first_name | `String` | | Select contacts with the given first name. Case-insensitive |\n| last_name | `String` | | Select contacts with the given last name. Case-insensitive |\n| estimate_workflow_id | `Integer` | | Filters contacts by a single Estimate workflow |\n| invoice_workflow_id | `Integer` | | Filters contacts by a single Invoice workflow |\n| contact_type | `String` | | The contact type. Possible values `all`, `company`, `private_individual` |\n| delivery_method | `String` | | The delivery method for invoices. Possible values. Possible values `all`, `email`, `post`, `manual`, `peppol`, `simplerinvoicing` |\n| trusted_type | `String` | | Whether the contact is trusted. Possible values `all`, `trusted`, `not_trusted` |\n| - | - | - | - |",
        "tags": [
          "Contacts"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/administration_id"
          },
          {
            "$ref": "#/components/parameters/format"
          },
          {
            "name": "filter",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "examples": {
              "ReturnsAllContactsCreatedAfterGivenDatetime": {
                "summary": "Returns all contacts created after given datetime",
                "value": "created_after:2026-05-27 15:33:59 UTC"
              },
              "AllowsFilteringByFirstname": {
                "summary": "Allows filtering by firstname",
                "value": "first_name:piet"
              },
              "ReturnsOnlyContactsUpdatedAfterGivenDatetime": {
                "summary": "Returns only contacts updated after given datetime",
                "value": "updated_after:2026-05-28 15:34:05 UTC"
              }
            }
          },
          {
            "name": "include_archived",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "boolean",
                "string"
              ]
            }
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/per_page"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of contacts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/contact_response"
                  }
                },
                "examples": {
                  "ReturnsAllContactsCreatedAfterGivenDatetime": {
                    "summary": "Returns all contacts created after given datetime",
                    "value": [
                      {
                        "id": "488387293321627413",
                        "administration_id": 123,
                        "company_name": "Foobar Holding B.V.",
                        "firstname": null,
                        "lastname": "Appleseed",
                        "address1": "Hoofdstraat 12",
                        "address2": "",
                        "zipcode": "1234 AB",
                        "city": "Amsterdam",
                        "country": "NL",
                        "phone": "",
                        "delivery_method": "Email",
                        "customer_id": "1",
                        "tax_number": "",
                        "chamber_of_commerce": "",
                        "bank_account": "",
                        "is_trusted": false,
                        "max_transfer_amount": null,
                        "attention": "",
                        "email": "info@example.com",
                        "email_ubl": true,
                        "send_invoices_to_attention": "",
                        "send_invoices_to_email": "info@example.com",
                        "send_estimates_to_attention": "",
                        "send_estimates_to_email": "info@example.com",
                        "direct_debit": false,
                        "sepa_active": false,
                        "sepa_iban": "",
                        "sepa_iban_account_name": "",
                        "sepa_bic": "",
                        "sepa_mandate_id": "",
                        "sepa_mandate_date": null,
                        "sepa_sequence_type": "RCUR",
                        "credit_card_number": "",
                        "credit_card_reference": "",
                        "credit_card_type": null,
                        "tax_number_validated_at": null,
                        "tax_number_valid": null,
                        "invoice_workflow_id": null,
                        "estimate_workflow_id": null,
                        "si_identifier": "",
                        "si_identifier_type": null,
                        "moneybird_payments_mandate": false,
                        "created_at": "2026-05-28T15:33:59.820Z",
                        "updated_at": "2026-05-28T15:33:59.845Z",
                        "version": 1779982439,
                        "sales_invoices_url": "https://moneybird.dev/123/sales_invoices/71e9d2e1f3424909344a3906935a3c3e007397b38698b8196a61fc29108dd5a2/all",
                        "notes": [],
[...]
