openapi: 3.1.0
info:
  title: Moneybird API
  description: The Moneybird API allows you to interact with a Moneybird account in a RESTful manner. For comprehensive and up-to-date information on authentication, endpoints, usage, webhooks, and best practices, please refer to the documentation at [developer.moneybird.com](https://developer.moneybird.com). All details, examples, and guides are available on their respective pages.
  version: v2-20250814-09c045c4a6
  termsOfService: https://www.moneybird.nl/terms/
  contact:
    name: Moneybird
    email: support@moneybird.com
    url: https://developer.moneybird.com
servers:
  - url: https://moneybird.com/api/v2
    description: Production server
security:
  - bearerAuth: []
tags:
  - name: Administrations
    description: |-
      Administrations are the top level entities in Moneybird. Use the following endpoints to get
      information about the administrations you have access to.
  - name: Contacts
    description: |-
      Contacts are the entities in Moneybird that represent your customers, suppliers or other
      business relations. Use the following endpoints to get information about contacts, create
      new contacts or update existing contacts.
  - name: Custom fields
    description: Custom fields can be used to add extra information to sales invoices, contacts and identities.
  - name: Document styles
    description: |-
      Document styles are used to define the layout of documents, like invoices and estimates. You
      can have multiple document styles for different purposes.
  - name: 'Documents: General documents'
    description: |-
      General documents are documents that are not invoices, estimates, or other specific document
      types. They can be used to store other financial documents.
  - name: 'Documents: General journal documents'
    description: |-
      General journal documents are used for manual bookkeeping entries, to correct errors or make
      adjustments.
  - name: 'Documents: Purchase invoices'
    description: Purchase invoices are invoices you receive from your suppliers.
  - name: 'Documents: Receipts'
    description: Receipts are proofs of payment for expenses.
  - name: 'Documents: Typeless documents'
    description: |-
      Typeless documents are documents of which the type is not yet known. For example, a document
      uploaded via email or via the bulk uploader. It is not possible to update a typeless
      document, except for adding attachments. You will need to set its type first. You cannot set
      the type of typeless documents using the API yet, but you can do this via the website.
  - name: Estimates
    description: |-
      Estimates (or quotes) are proposals for products or services that you can send to your
      clients.
  - name: External sales invoices
    description: |-
      External sales invoices are invoices created in other systems that you want to import into
      Moneybird for a complete overview of your revenue.
  - name: Financial accounts
    description: |-
      Financial accounts represent your bank accounts, credit cards, private withdrawals/deposits
      and other payment services. They are used to track payments and financial mutations.
  - name: Financial mutations
    description: Financial mutations are the transactions on your financial accounts.
  - name: Financial statements
    description: |-
      Financial statements are comprised of financial mutations that are booked on a financial
      account. They provide a detailed record of all transactions for a specific account.
  - name: Identities
    description: |-
      Identities are the different profiles or trade names under which you can send documents from
      your administration.
  - name: Import mappings
    description: |-
      With the move from the old Moneybird to the new Moneybird, all ids of entities in an
      administration have changed. Some API developers might have saved old ids in their database.
      In order for them to keep querying our API with the right ids, we have added an API for the
      import mappings. By querying the import mapping API, you can transform old ids to new ids in
      the new Moneybird. This should be a one-time conversion, this API will not be indefinitely
      available.
  - name: Ledger accounts
    description: |-
      Ledger accounts are the categories in your bookkeeping, like revenue, costs, assets, and
      liabilities.
  - name: Payments
    description: Payments are records of money being transferred for invoices.
  - name: Products
    description: Products are the goods or services you sell. You can add them to invoices and estimates.
  - name: Projects
    description: |-
      Projects allow you to group time entries and financials for specific projects you are working
      on.
  - name: Purchase transactions
    description: Purchase transactions are outgoing payments you initiate from Moneybird
  - name: Recurring sales invoices
    description: |-
      Recurring sales invoices are templates for invoices that are sent automatically at a
      recurring interval.
  - name: Sales invoices
    description: |-
      Sales invoices are the invoices you send to your customers for products or services you have
      delivered.
  - name: Subscription templates
    description: Subscription templates define the products and prices for subscriptions.
  - name: Subscriptions
    description: |-
      Subscriptions allow you to automatically invoice customers on a recurring basis for the
      services you provide.
  - name: Tax rates
    description: Tax rates are the VAT tariffs that apply to your products and services.
  - name: Time entries
    description: |-
      Time entries are used to track time spent on projects, which can then be billed to
      customers.
  - name: Users
    description: |-
      Administrations can have multiple users. Use the following endpoints to get information about
      the users in an administration.
  - name: Verifications
    description: |-
      Verifications are used to retrieve all verified information within an administration, such as
      e-mail addresses, bank account numbers, Chamber of Commerce numbers, and tax numbers.
  - name: Webhooks
    description: |-
      Webhooks are a way to subscribe to events that happen in Moneybird. When an event occurs,
      Moneybird will send a POST request to the URL you provided. This way, you can keep your own
      system in sync with Moneybird.

      For example, you can subscribe to the `contact_created` event to receive a notification when
      a new contact is created in Moneybird.
  - name: Workflows
    description: |-
      Workflows determine the settings of the invoice and estimate workflow. Use the following
      to get information about the workflows in an administration.
paths:
  /administrations{format}:
    get:
      summary: List all administrations
      description: Lists all administrations the current user has access to.
      tags:
        - Administrations
      parameters:
        - $ref: '#/components/parameters/format'
      responses:
        '200':
          description: A list of administrations
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/administration_response'
              examples:
                ValidatesThatAUserHasAccessToMultipleAdministrationsViaDifferentWays:
                  summary: Validates that a user has access to multiple administrations via different ways
                  value:
                    - id: '175518205011174191'
                      name: Administratie
                      language: nl
                      currency: EUR
                      country: NL
                      time_zone: Europe/Amsterdam
                      access: accountant_company
                      suspended: false
                      period_locked_until: null
                    - id: 123
                      name: Parkietje B.V.
                      language: nl
                      currency: EUR
                      country: NL
                      time_zone: Europe/Amsterdam
                      access: user
                      suspended: false
                      period_locked_until: null
                ReturnsAccessTypeUserWhenHavingDirectAccessToTheAdministration:
                  summary: Returns access type user when having direct access to the administration
                  value:
                    - id: '175518205195822104'
                      name: Parkietje B.V.
                      language: nl
                      currency: EUR
                      country: NL
                      time_zone: Europe/Amsterdam
                      access: user
                      suspended: false
                      period_locked_until: null
                ReturnAListOfAdministrationsThatUserHasAccessTo:
                  summary: Return a list of administrations that user has access to
                  value:
                    - id: '175518205222533419'
                      name: Administratie
                      language: nl
                      currency: EUR
                      country: NL
                      time_zone: Europe/Amsterdam
                      access: user
                      suspended: false
                      period_locked_until: null
                    - id: 123
                      name: Parkietje B.V.
                      language: nl
                      currency: EUR
                      country: NL
                      time_zone: Europe/Amsterdam
                      access: user
                      suspended: false
                      period_locked_until: null
      operationId: get_administrations
  /{administration_id}/contacts/customer_id/{customer_id}{format}:
    get:
      summary: Get contact by customer id
      description: Returns all information about a contact by the given customer id
      tags:
        - Contacts
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - name: customer_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - $ref: '#/components/parameters/format'
      responses:
        '200':
          description: A contact
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/contact_response'
              examples:
                ReturnAContact:
                  summary: Return a contact
                  value:
                    id: '462382046494328825'
                    administration_id: 123
                    company_name: Foobar Holding B.V.
                    firstname: null
                    lastname: Appleseed
                    address1: Hoofdstraat 12
                    address2: ''
                    zipcode: 1234 AB
                    city: Amsterdam
                    country: NL
                    phone: ''
                    delivery_method: Email
                    customer_id: '1'
                    tax_number: ''
                    chamber_of_commerce: ''
                    bank_account: ''
                    is_trusted: false
                    max_transfer_amount: null
                    attention: ''
                    email: info@example.com
                    email_ubl: true
                    send_invoices_to_attention: ''
                    send_invoices_to_email: info@example.com
                    send_estimates_to_attention: ''
                    send_estimates_to_email: info@example.com
                    sepa_active: false
                    sepa_iban: ''
                    sepa_iban_account_name: ''
                    sepa_bic: ''
                    sepa_mandate_id: ''
                    sepa_mandate_date: null
                    sepa_sequence_type: RCUR
                    credit_card_number: ''
                    credit_card_reference: ''
                    credit_card_type: null
                    tax_number_validated_at: null
                    tax_number_valid: null
                    invoice_workflow_id: null
                    estimate_workflow_id: null
                    si_identifier: ''
                    si_identifier_type: null
                    moneybird_payments_mandate: false
                    created_at: '2025-08-14T14:31:43.829Z'
                    updated_at: '2025-08-14T14:31:43.843Z'
                    version: 1755181903
                    sales_invoices_url: https://moneybird.dev/123/sales_invoices/6cc9e98ac0539394a9bc7c14fb77eb990f990010acc43a5175ba18f7594a55b8/all
                    notes: []
                    custom_fields: []
                    contact_people:
                      - id: '462382046497474555'
                        contact_id: '462382046494328825'
                        administration_id: 123
                        firstname: John
                        lastname: Appleseed
                        phone: null
                        email: null
                        department: null
                        created_at: '2025-08-14T14:31:43.833Z'
                        updated_at: '2025-08-14T14:31:43.833Z'
                        version: 1755181903
                    archived: false
                    events:
                      - administration_id: 123
                        user_id: 17551818633118
                        action: contact_created
                        link_entity_id: null
                        link_entity_type: null
                        data: {}
                        created_at: '2025-08-14T14:31:43.838Z'
                        updated_at: '2025-08-14T14:31:43.838Z'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/symbolic_error'
              examples:
                Returns404WhenContactDoesNotExist:
                  summary: Returns 404 when contact does not exist
                  value:
                    error: record not found
                    symbolic:
                      customer_id: not_found
      operationId: get_administration_id_contacts_customer_id_customer_id
  /{administration_id}/contacts/filter{format}:
    get:
      summary: Filter contacts
      description: |-
        Returns a paginated list of all contacts in the administration.

        The `filter` argument allows you to filter the list of contacts. Filters are a combination of keys and values,
        separated by a comma: `first_name:henk,last_name:jansen`. The available options for filtering are:

        | **Filter** | **Type** | **Default** | **Description** |
        | - | - | - | - |
        | created_after | `String` | | Select contacts created after the given time (exclusive). ISO 8601 formatted string. The time to compare with is in UTC timezone |
        | updated_after | `String` | | Select contacts updated after the given time (exclusive). ISO 8601 formatted string. The time to compare with is in UTC timezone |
        | first_name | `String` | | Select contacts with the given first name. Case-insensitive |
        | last_name | `String` | | Select contacts with the given last name. Case-insensitive |
        | estimate_workflow_id | `Integer` | | Filters contacts by a single Estimate workflow |
        | invoice_workflow_id | `Integer` | | Filters contacts by a single Invoice workflow |
        | contact_type | `String` | | The contact type. Possible values `all`, `company`, `private_individual` |
        | delivery_method | `String` | | The delivery method for invoices. Possible values. Possible values `all`, `email`, `post`, `manual`, `peppol`, `simplerinvoicing` |
        | trusted_type | `String` | | Whether the contact is trusted. Possible values `all`, `trusted`, `not_trusted` |
        | - | - | - | - |
      tags:
        - Contacts
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - $ref: '#/components/parameters/format'
        - name: filter
          in: query
          required: false
          schema:
            type: string
          examples:
            AllowsFilteringByFirstname:
              summary: Allows filtering by firstname
              value: first_name:piet
            ReturnsOnlyContactsUpdatedAfterGivenDatetime:
              summary: Returns only contacts updated after given datetime
              value: updated_after:2025-08-14 14:31:24 UTC
            ReturnsAllContactsCreatedAfterGivenDatetime:
              summary: Returns all contacts created after given datetime
              value: created_after:2025-08-13 14:31:19 UTC
        - name: include_archived
          in: query
          required: false
          schema:
            type:
              - boolean
              - string
        - $ref: '#/components/parameters/per_page'
      responses:
        '200':
          description: A list of contacts
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/contact_response'
              examples:
                AllowsFilteringByFirstname:
                  summary: Allows filtering by firstname
                  value:
                    - id: '462382020989814575'
                      administration_id: 123
                      company_name: Relation 1
                      firstname: Piet
                      lastname: null
                      address1: null
                      address2: null
                      zipcode: null
                      city: null
                      country: NL
                      phone: null
                      delivery_method: Email
                      customer_id: 0c306b0dc597e328b628640dabd1bf210dc58a49ea737aabb2d694f3d0fb9bcb
                      tax_number: null
                      chamber_of_commerce: null
                      bank_account: null
                      is_trusted: false
                      max_transfer_amount: null
                      attention: null
                      email: null
                      email_ubl: false
                      send_invoices_to_attention: null
                      send_invoices_to_email: null
                      send_estimates_to_attention: null
                      send_estimates_to_email: null
                      sepa_active: false
                      sepa_iban: null
                      sepa_iban_account_name: null
                      sepa_bic: null
                      sepa_mandate_id: null
                      sepa_mandate_date: null
                      sepa_sequence_type: RCUR
                      credit_card_number: null
                      credit_card_reference: null
                      credit_card_type: null
                      tax_number_validated_at: null
                      tax_number_valid: null
                      invoice_workflow_id: null
                      estimate_workflow_id: null
                      si_identifier: null
                      si_identifier_type: null
                      moneybird_payments_mandate: false
                      created_at: '2025-08-14T14:31:19.506Z'
                      updated_at: '2025-08-14T14:31:19.510Z'
                      version: 1755181879
                      sales_invoices_url: https://moneybird.dev/123/sales_invoices/5bc8c278321481cd8392dbbc5e3328a0b7a0433ddb11e5358277093e42e45a10/all
                      notes: []
                      custom_fields: []
                      contact_people: []
                      archived: false
                      events: []
                ReturnsOnlyContactsUpdatedAfterGivenDatetime:
                  summary: Returns only contacts updated after given datetime
                  value:
                    - id: '462382021099915059'
                      administration_id: 123
                      company_name: Foobar Holding B.V.
                      firstname: null
                      lastname: foo
                      address1: Hoofdstraat 12
                      address2: ''
                      zipcode: 1234 AB
                      city: Amsterdam
                      country: NL
                      phone: ''
                      delivery_method: Email
                      customer_id: '1'
                      tax_number: ''
                      chamber_of_commerce: ''
                      bank_account: ''
                      is_trusted: false
                      max_transfer_amount: null
                      attention: ''
                      email: info@example.com
                      email_ubl: true
                      send_invoices_to_attention: ''
                      send_invoices_to_email: info@example.com
                      send_estimates_to_attention: ''
                      send_estimates_to_email: info@example.com
                      sepa_active: false
                      sepa_iban: ''
                      sepa_iban_account_name: ''
                      sepa_bic: ''
                      sepa_mandate_id: ''
                      sepa_mandate_date: null
                      sepa_sequence_type: RCUR
                      credit_card_number: ''
                      credit_card_reference: ''
                      credit_card_type: null
                      tax_number_validated_at: null
                      tax_number_valid: null
                      invoice_workflow_id: null
                      estimate_workflow_id: null
                      si_identifier: ''
                      si_identifier_type: null
                      moneybird_payments_mandate: false
                      created_at: '2025-08-14T14:31:19.610Z'
                      updated_at: '2025-08-14T14:32:24.666Z'
                      version: 1755181944
                      sales_invoices_url: https://moneybird.dev/123/sales_invoices/4f41553d44fb5b722b7b6059167764a8265c9106939654f9f307045e232dd15b/all
                      notes: []
                      custom_fields: []
                      contact_people:
                        - id: '462382021104109365'
                          contact_id: '462382021099915059'
                          administration_id: 123
                          firstname: John
                          lastname: Appleseed
                          phone: null
                          email: null
                          department: null
                          created_at: '2025-08-14T14:31:19.615Z'
                          updated_at: '2025-08-14T14:31:19.615Z'
                          version: 1755181879
                      archived: false
                      events:
                        - administration_id: 123
                          user_id: 17551818633118
                          action: contact_created
                          link_entity_id: null
                          link_entity_type: null
                          data: {}
                          created_at: '2025-08-14T14:31:19.622Z'
                          updated_at: '2025-08-14T14:31:19.622Z'
                ReturnsAllContactsCreatedAfterGivenDatetime:
                  summary: Returns all contacts created after given datetime
                  value:
                    - id: '462382021301241682'
                      administration_id: 123
                      company_name: Foobar Holding B.V.
                      firstname: ''
                      lastname: ''
                      address1: Hoofdstraat 12
                      address2: ''
                      zipcode: 1234AB
                      city: Amsterdam
                      country: NL
                      phone: ''
                      delivery_method: Email
                      customer_id: '3'
                      tax_number: ''
                      chamber_of_commerce: ''
                      bank_account: ''
                      is_trusted: false
                      max_transfer_amount: null
                      attention: ''
                      email: info@example.com
                      email_ubl: true
                      send_invoices_to_attention: ''
                      send_invoices_to_email: info@example.com
                      send_estimates_to_attention: ''
                      send_estimates_to_email: info@example.com
                      sepa_active: false
                      sepa_iban: ''
                      sepa_iban_account_name: ''
                      sepa_bic: ''
                      sepa_mandate_id: ''
                      sepa_mandate_date: null
                      sepa_sequence_type: RCUR
                      credit_card_number: ''
                      credit_card_reference: ''
                      credit_card_type: null
                      tax_number_validated_at: null
                      tax_number_valid: null
                      invoice_workflow_id: null
                      estimate_workflow_id: null
                      si_identifier: ''
                      si_identifier_type: null
                      moneybird_payments_mandate: false
                      created_at: '2025-08-14T14:31:19.803Z'
                      updated_at: '2025-08-14T14:31:19.803Z'
                      version: 1755181879
                      sales_invoices_url: https://moneybird.dev/123/sales_invoices/c8ebca77603aa71cffc3c9711f3c5d9aa981f163da6e7a9b3b7ae14261778730/all
                      notes: []
                      custom_fields: []
                      contact_people: []
                      archived: false
                      events:
                        - administration_id: 123
                          user_id: 17551818633118
                          action: contact_created
                          link_entity_id: null
                          link_entity_type: null
                          data: {}
                          created_at: '2025-08-14T14:31:19.807Z'
                          updated_at: '2025-08-14T14:31:19.807Z'
                    - id: '462382021255104325'
                      administration_id: 123
                      company_name: Foobar Holding B.V.
                      firstname: null
                      lastname: Appleseed
                      address1: Hoofdstraat 12
                      address2: ''
                      zipcode: 1234 AB
                      city: Amsterdam
                      country: NL
                      phone: ''
                      delivery_method: Email
                      customer_id: '1'
                      tax_number: ''
                      chamber_of_commerce: ''
                      bank_account: ''
                      is_trusted: false
                      max_transfer_amount: null
                      attention: ''
                      email: info@example.com
                      email_ubl: true
                      send_invoices_to_attention: ''
                      send_invoices_to_email: info@example.com
                      send_estimates_to_attention: ''
                      send_estimates_to_email: info@example.com
                      sepa_active: false
                      sepa_iban: ''
                      sepa_iban_account_name: ''
                      sepa_bic: ''
                      sepa_mandate_id: ''
                      sepa_mandate_date: null
                      sepa_sequence_type: RCUR
                      credit_card_number: ''
                      credit_card_reference: ''
                      credit_card_type: null
                      tax_number_validated_at: null
                      tax_number_valid: null
                      invoice_workflow_id: null
                      estimate_workflow_id: null
                      si_identifier: ''
                      si_identifier_type: null
                      moneybird_payments_mandate: false
                      created_at: '2025-08-14T14:31:19.759Z'
                      updated_at: '2025-08-14T14:31:19.776Z'
                      version: 1755181879
                      sales_invoices_url: https://moneybird.dev/123/sales_invoices/5cb8c3883acd2e8da33d5469857cd4a60da13518e97fb681fff9c5ca7859393b/all
                      notes: []
                      custom_fields: []
                      contact_people:
                        - id: '462382021259298631'
                          contact_id: '462382021255104325'
                          administration_id: 123
                          firstname: John
                          lastname: Appleseed
                          phone: null
                          email: null
                          department: null
                          created_at: '2025-08-14T14:31:19.763Z'
                          updated_at: '2025-08-14T14:31:19.763Z'
                          version: 1755181879
                      archived: false
                      events:
                        - administration_id: 123
                          user_id: 17551818633118
                          action: contact_created
                          link_entity_id: null
                          link_entity_type: null
                          data: {}
                          created_at: '2025-08-14T14:31:19.770Z'
                          updated_at: '2025-08-14T14:31:19.770Z'
                    - id: '462382021281318732'
                      administration_id: 123
                      company_name: Foobar Holding B.V.
                      firstname: null
                      lastname: null
                      address1: 1 Infinite Loop
                      address2: ''
                      zipcode: '123456'
                      city: Redmond
                      country: NL
                      phone: ''
                      delivery_method: Email
                      customer_id: '2'
                      tax_number: ''
                      chamber_of_commerce: ''
                      bank_account: NL50TEST0166567191
                      is_trusted: false
                      max_transfer_amount: null
                      attention: ''
                      email: info@example.com
                      email_ubl: true
                      send_invoices_to_attention: ''
                      send_invoices_to_email: info@example.com
                      send_estimates_to_attention: ''
                      send_estimates_to_email: info@example.com
                      sepa_active: true
                      sepa_iban: NL50TEST0166567191
                      sepa_iban_account_name: Foobar Holding B.V.
                      sepa_bic: RABONL2U
                      sepa_mandate_id: MAN12313
                      sepa_mandate_date: '2014-01-01'
                      sepa_sequence_type: RCUR
                      credit_card_number: ''
                      credit_card_reference: ''
                      credit_card_type: null
                      tax_number_validated_at: null
                      tax_number_valid: null
                      invoice_workflow_id: null
                      estimate_workflow_id: null
                      si_identifier: ''
                      si_identifier_type: null
                      moneybird_payments_mandate: false
                      created_at: '2025-08-14T14:31:19.784Z'
                      updated_at: '2025-08-14T14:31:19.784Z'
                      version: 1755181879
                      sales_invoices_url: https://moneybird.dev/123/sales_invoices/c89fac75a17356dedbeec1eda567e988d32ea5b05ea20d4571b01426f0817b78/all
                      notes: []
                      custom_fields: []
                      contact_people:
                        - id: '462382021285513038'
                          contact_id: '462382021281318732'
                          administration_id: 123
                          firstname: John
                          lastname: Doe
                          phone: null
                          email: null
                          department: null
                          created_at: '2025-08-14T14:31:19.788Z'
                          updated_at: '2025-08-14T14:31:19.788Z'
                          version: 1755181879
                      archived: false
                      events:
                        - administration_id: 123
                          user_id: 17551818633118
                          action: contact_created
                          link_entity_id: null
                          link_entity_type: null
                          data: {}
                          created_at: '2025-08-14T14:31:19.794Z'
                          updated_at: '2025-08-14T14:31:19.794Z'
      operationId: get_administration_id_contacts_filter
  /{administration_id}/contacts/synchronization{format}:
    get:
      summary: List all ids and versions
      description: |-
        Returns all contacts in the administration. The list contains the contact id and the version of the contact.
        Check if the version of the contact is newer than the version you have stored locally, use the `POST`
        variant for fetching contacts with the given ids.
      tags:
        - Contacts
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - $ref: '#/components/parameters/format'
        - name: filter
          in: query
          required: false
          schema:
            type: string
          examples:
            RetrievesTheIdSForSynchronizationWithAFilter:
              summary: Retrieves the id's for synchronization with a filter
              value: first_name:henk
        - name: include_archived
          in: query
          required: false
          schema:
            type:
              - boolean
              - string
      responses:
        '200':
          description: IDs and versions of records
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  unevaluatedProperties: false
                  properties:
                    id:
                      type:
                        - integer
                        - string
                    version:
                      type:
                        - integer
                        - string
              examples:
                ReturnAListOfIdSAndVersionIdS:
                  summary: Return a list of id's and version id's
                  value:
                    - id: '462382046178707404'
                      version: 1755181903
                    - id: '462382046203873235'
                      version: 1755181903
                RetrievesTheIdSForSynchronizationWithAFilter:
                  summary: Retrieves the id's for synchronization with a filter
                  value:
                    - id: '462382046323410919'
                      version: 1755181903
      operationId: get_administration_id_contacts_synchronization
    post:
      summary: Fetch contacts with given ids
      description: |-
        Given a list of contact ids, returns the contact information belonging to the contacts.
        Returns a maximum of 100 contacts, even if more ids are provided.
      tags:
        - Contacts
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - $ref: '#/components/parameters/format'
      requestBody:
        required: true
        content:
          application/*:
            schema:
              unevaluatedProperties: false
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type:
                      - integer
                      - string
              required:
                - ids
            examples:
              ReturnAListOfGivenIds:
                summary: Return a list of given ids
                value:
                  ids:
                    - 462382024495203600
                    - 462382024527709440
      responses:
        '200':
          description: A list of contacts
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/contact_response'
              examples:
                ReturnAListOfGivenIds:
                  summary: Return a list of given ids
                  value:
                    - id: '462382024495203560'
                      administration_id: 123
                      company_name: Bar Foo
                      firstname: null
                      lastname: null
                      address1: Hoofdstraat 12
                      address2: ''
                      zipcode: 1234AB
                      city: Amsterdam
                      country: NL
                      phone: ''
                      delivery_method: Email
                      customer_id: '3'
                      tax_number: ''
                      chamber_of_commerce: ''
                      bank_account: ''
                      is_trusted: false
                      max_transfer_amount: null
                      attention: ''
                      email: info@example.com
                      email_ubl: true
                      send_invoices_to_attention: ''
                      send_invoices_to_email: info@example.com
                      send_estimates_to_attention: ''
                      send_estimates_to_email: info@example.com
                      sepa_active: false
                      sepa_iban: ''
                      sepa_iban_account_name: ''
                      sepa_bic: ''
                      sepa_mandate_id: ''
                      sepa_mandate_date: null
                      sepa_sequence_type: RCUR
                      credit_card_number: ''
                      credit_card_reference: ''
                      credit_card_type: null
                      tax_number_validated_at: null
                      tax_number_valid: null
                      invoice_workflow_id: null
                      estimate_workflow_id: null
                      si_identifier: ''
                      si_identifier_type: null
                      moneybird_payments_mandate: false
                      created_at: '2025-08-14T14:31:22.849Z'
                      updated_at: '2025-08-14T14:31:22.849Z'
                      version: 1755181882
                      sales_invoices_url: https://moneybird.dev/123/sales_invoices/0c560fe5ba5c4d877ef9cffb3472d6925946287b61ded5e1e02763517c9f52cb/all
                      notes: []
                      custom_fields: []
                      contact_people:
                        - id: '462382024499397866'
                          contact_id: '462382024495203560'
                          administration_id: 123
                          firstname: John
                          lastname: Appleseed
                          phone: null
                          email: null
                          department: null
                          created_at: '2025-08-14T14:31:22.853Z'
                          updated_at: '2025-08-14T14:31:22.853Z'
                          version: 1755181882
                      archived: false
                      events:
                        - administration_id: 123
                          user_id: 17551818633118
                          action: contact_created
                          link_entity_id: null
                          link_entity_type: null
                          data: {}
                          created_at: '2025-08-14T14:31:22.859Z'
                          updated_at: '2025-08-14T14:31:22.859Z'
                    - id: '462382024527709425'
                      administration_id: 123
                      company_name: Foo Bar
                      firstname: null
                      lastname: null
                      address1: Hoofdstraat 12
                      address2: ''
                      zipcode: 1234AB
                      city: Amsterdam
                      country: NL
                      phone: ''
                      delivery_method: Email
                      customer_id: '5'
                      tax_number: ''
                      chamber_of_commerce: ''
                      bank_account: ''
                      is_trusted: false
                      max_transfer_amount: null
                      attention: ''
                      email: info@example.com
                      email_ubl: true
                      send_invoices_to_attention: ''
                      send_invoices_to_email: info@example.com
                      send_estimates_to_attention: ''
                      send_estimates_to_email: info@example.com
                      sepa_active: false
                      sepa_iban: ''
                      sepa_iban_account_name: ''
                      sepa_bic: ''
                      sepa_mandate_id: ''
                      sepa_mandate_date: null
                      sepa_sequence_type: RCUR
                      credit_card_number: ''
                      credit_card_reference: ''
                      credit_card_type: null
                      tax_number_validated_at: null
                      tax_number_valid: null
                      invoice_workflow_id: null
                      estimate_workflow_id: null
                      si_identifier: ''
                      si_identifier_type: null
                      moneybird_payments_mandate: false
                      created_at: '2025-08-14T14:31:22.880Z'
                      updated_at: '2025-08-14T14:31:22.880Z'
                      version: 1755181882
                      sales_invoices_url: https://moneybird.dev/123/sales_invoices/205e8cfb2fa6cc2900dfe5320906434c8aa5af5f2ea6c1e44e6cd5029dbdbff5/all
                      notes: []
                      custom_fields: []
                      contact_people:
                        - id: '462382024531903731'
                          contact_id: '462382024527709425'
                          administration_id: 123
                          firstname: Mark
                          lastname: van Vliet
                          phone: null
                          email: null
                          department: null
                          created_at: '2025-08-14T14:31:22.885Z'
                          updated_at: '2025-08-14T14:31:22.885Z'
                          version: 1755181882
                      archived: false
                      events:
                        - administration_id: 123
                          user_id: 17551818633118
                          action: contact_created
                          link_entity_id: null
                          link_entity_type: null
                          data: {}
                          created_at: '2025-08-14T14:31:22.890Z'
                          updated_at: '2025-08-14T14:31:22.890Z'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/symbolic_error'
              examples:
                ReturnsA400StatusWhenIdsAreNotProvided:
                  summary: Returns a 400 status when ids are not provided
                  value:
                    error: Ids is required
                    symbolic:
                      ids: required
      operationId: post_administration_id_contacts_synchronization
  /{administration_id}/contacts/{contact_id}/contact_people/{id}{format}:
    get:
      summary: Get contact person
      description: Returns all information about a contact person.
      tags:
        - Contacts
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - name: contact_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - name: id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - $ref: '#/components/parameters/format'
      responses:
        '200':
          description: A contact person
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/contact_person_response'
              examples:
                ReturnAContactPerson:
                  summary: Return a contact person
                  value:
                    id: '462382044198995679'
                    contact_id: '462382044194801373'
                    administration_id: 123
                    firstname: John
                    lastname: Appleseed
                    phone: null
                    email: null
                    department: null
                    created_at: '2025-08-14T14:31:41.640Z'
                    updated_at: '2025-08-14T14:31:41.640Z'
                    version: 1755181901
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/symbolic_error'
              examples:
                Returns404WhenContactPersonDoesNotExist:
                  summary: Returns 404 when contact person does not exist
                  value:
                    error: record not found
                    symbolic:
                      id: not_found
      operationId: get_administration_id_contacts_contact_id_contact_people_id
    patch:
      summary: Update a contact person
      description: |-
        When updating a contact, you only need to provide the information you want to change. Attributes you don't
        provide in the request will not be updated.
      tags:
        - Contacts
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - name: contact_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - name: id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - $ref: '#/components/parameters/format'
      requestBody:
        required: true
        content:
          application/*:
            schema:
              unevaluatedProperties: false
              type: object
              properties:
                contact_person:
                  type: object
                  unevaluatedProperties: false
                  properties:
                    firstname:
                      type: string
                    lastname:
                      type: string
                    phone:
                      type: string
                    email:
                      type: string
                      description: Should be a valid email addresses.
                    department:
                      type: string
                  required: []
              required: []
            examples:
              UpdateAContactPerson:
                summary: Update a contact person
                value:
                  contact_person:
                    firstname: John
                    lastname: Doe
      responses:
        '200':
          description: Contact person updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/contact_person_response'
              examples:
                UpdateAContactPerson:
                  summary: Update a contact person
                  value:
                    id: '462382042200409575'
                    contact_id: '462382042196215269'
                    administration_id: 123
                    firstname: John
                    lastname: Doe
                    phone: null
                    email: null
                    department: null
                    created_at: '2025-08-14T14:31:39.734Z'
                    updated_at: '2025-08-14T14:31:39.773Z'
                    version: 1755181899
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/symbolic_error'
              examples:
                ReturnsA404StatusWhenTheContactPersonIsNotFound:
                  summary: Returns a 404 status when the contact person is not found
                  value:
                    error: contact person not found
                    symbolic:
                      contact_person_id: not_found
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/symbolic_error'
                  - $ref: '#/components/schemas/non_symbolic_error'
              examples:
                ReturnsA422StatusWhenWrongParamsAreProvided:
                  summary: Returns a 422 status when wrong params are provided
                  value:
                    error:
                      firstname:
                        - can't be blank
                      lastname:
                        - can't be blank
                    details:
                      firstname:
                        - error: blank
                      lastname:
                        - error: blank
      operationId: patch_administration_id_contacts_contact_id_contact_people_id
    delete:
      summary: Delete a contact person
      tags:
        - Contacts
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - name: contact_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - name: id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - $ref: '#/components/parameters/format'
      responses:
        '204':
          description: Contact person deleted
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/symbolic_error'
              examples:
                ReturnsA404StatusWhenTheContactPersonIsNotFound:
                  summary: Returns a 404 status when the contact person is not found
                  value:
                    error: record not found
                    symbolic:
                      id: not_found
      operationId: delete_administration_id_contacts_contact_id_contact_people_id
  /{administration_id}/contacts/{contact_id}/contact_people{format}:
    post:
      summary: Create a new contact person
      description: Creating a new contact person in the administration requires at least a `contact_person` hash including `firstname` and `lastname`.
      tags:
        - Contacts
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - name: contact_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - $ref: '#/components/parameters/format'
      requestBody:
        required: true
        content:
          application/*:
            schema:
              unevaluatedProperties: false
              type: object
              properties:
                contact_person:
                  type: object
                  unevaluatedProperties: false
                  properties:
                    firstname:
                      type: string
                    lastname:
                      type: string
                    phone:
                      type: string
                    email:
                      type: string
                      description: Should be a valid email addresses.
                    department:
                      type: string
                  required: []
              required: []
            examples:
              CreateANewContactPersonWithMinimumParams:
                summary: Create a new contact person with minimum params
                value:
                  contact_person:
                    firstname: John
                    lastname: Doe
              CreateANewContactPersonWithAllParams:
                summary: Create a new contact person with all params
                value:
                  contact_person:
                    firstname: John
                    lastname: Doe
                    phone: '123456789'
                    email: johndoe@moneybird.com
                    department: Sales
      responses:
        '201':
          description: Contact person created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/contact_person_response'
              examples:
                CreateANewContactPersonWithMinimumParams:
                  summary: Create a new contact person with minimum params
                  value:
                    id: '462382044354184952'
                    contact_id: '462382044306999019'
                    administration_id: 123
                    firstname: John
                    lastname: Doe
                    phone: null
                    email: null
                    department: null
                    created_at: '2025-08-14T14:31:41.788Z'
                    updated_at: '2025-08-14T14:31:41.788Z'
                    version: 1755181901
                CreateANewContactPersonWithAllParams:
                  summary: Create a new contact person with all params
                  value:
                    id: '462382044619474711'
                    contact_id: '462382044572288778'
                    administration_id: 123
                    firstname: John
                    lastname: Doe
                    phone: '123456789'
                    email: johndoe@moneybird.com
                    department: Sales
                    created_at: '2025-08-14T14:31:42.041Z'
                    updated_at: '2025-08-14T14:31:42.041Z'
                    version: 1755181902
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/symbolic_error'
                  - $ref: '#/components/schemas/non_symbolic_error'
              examples:
                ReturnsA422StatusWhenAWrongContactPersonIdIsProvided:
                  summary: Returns a 422 status when a wrong contact person id is provided
                  value:
                    error:
                      contact:
                        - must exist
                    details:
                      contact:
                        - error: blank
                ReturnsA422StatusWhenWrongParamsAreProvided:
                  summary: Returns a 422 status when wrong params are provided
                  value:
                    error:
                      firstname:
                        - can't be blank
                      lastname:
                        - can't be blank
                    details:
                      firstname:
                        - error: blank
                      lastname:
                        - error: blank
      operationId: post_administration_id_contacts_contact_id_contact_people
  /{administration_id}/contacts/{contact_id}/moneybird_payments_mandate/url{format}:
    post:
      summary: Request an URL for setting up a Moneybird Payments mandate
      description: |-
        Obtains an URL for setting up a Moneybird Payments mandate. You must provide
        this URL to your contact to set-up the mandate. Your contact is required to
        make a 15 cent payment. Every generated URL using this endpoint is valid
        for 14 days after creation. Only available when Moneybird Payments is enabled
        for the administration.
      tags:
        - Contacts
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - name: contact_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - $ref: '#/components/parameters/format'
      requestBody:
        required: true
        content:
          application/*:
            schema:
              unevaluatedProperties: false
              type: object
              properties:
                mandate_request:
                  type: object
                  unevaluatedProperties: false
                  properties:
                    identity_id:
                      $ref: '#/components/schemas/identifier'
                      description: Should be a valid identity id.
                  required: []
              required: []
            examples:
              RequestsANewMoneybirdPaymentsMandateUrl:
                summary: Requests a new moneybird payments mandate url
                value: {}
      responses:
        '201':
          description: A URL for setting up a Moneybird Payments mandate
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
              examples:
                RequestsANewMoneybirdPaymentsMandateUrl:
                  summary: Requests a new moneybird payments mandate url
                  value:
                    url: https://moneybird.dev/123/mandate_requests/zICBpl9yYWlsc4KkZGF0Ydk6MTc1NTE4MTg2MzMxMTggNDYyMzgyMDIzNzcxNjg2MDEzIDQ2MjM4MjAwNDc0MTA4MDIwMiBhZHllbqNleHDHCwfOaLBoOs4NobkYAA--c04e363416aea291f872aabb2f75c5b0744c89c2
        '403':
          description: Error code
          content:
            application/json:
              schema:
                type: integer
              examples:
                ReturnsA403StatusWhenAWrongContactIdIsProvided:
                  summary: Returns a 403 status when a wrong contact id is provided
                  value: 403
                DoesNotAllowAccessIfMoneybirdPaymentsIsDisabledForTheAdministration:
                  summary: Does not allow access if moneybird payments is disabled for the administration
                  value: 403
      operationId: post_administration_id_contacts_contact_id_moneybird_payments_mandate_url
  /{administration_id}/contacts/{contact_id}/moneybird_payments_mandate{format}:
    get:
      summary: Get Moneybird Payments mandate
      description: |-
        Returns information about the stored Moneybird Payments mandate. Only
        available when Moneybird Payments is enabled for the administration.
      tags:
        - Contacts
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - name: contact_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - $ref: '#/components/parameters/format'
      responses:
        '200':
          description: A Moneybird Payments mandate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/recurring_contract_response'
              examples:
                ReturnsLimitedInformationIfMandateExistsButOnlyLimitedInformationIsAvailable:
                  summary: Returns limited information if mandate exists, but only limited information is available
                  value:
                    type: mccorporatecredit
                    sepa_mandate: false
                    bank: null
                    iban: null
                    bic: null
                    iban_account_name: null
                    card_expiry_month: '3'
                    card_expiry_year: '2030'
                    card_final_digits: '0010'
                    created_at: '2022-04-11T09:17:56.000Z'
                ReturnsInformationAboutTheStoredMoneybirdPaymentsMandate:
                  summary: Returns information about the stored moneybird payments mandate
                  value:
                    type: idealtestissuer5
                    sepa_mandate: true
                    bank: Test Issuer 5
                    iban: NL81TEST0536169128
                    bic: TESTNL05
                    iban_account_name: E. Klaassen
                    card_expiry_month: null
                    card_expiry_year: null
                    card_final_digits: null
                    created_at: '2022-04-07T13:31:09.000Z'
        '403':
          description: Error code
          content:
            application/json:
              schema:
                type: integer
              examples:
                DoesNotAllowAccessIfMoneybirdPaymentsIsDisabledForTheAdministration:
                  summary: Does not allow access if moneybird payments is disabled for the administration
                  value: 403
        '404':
          description: Error code
          content:
            application/json:
              schema:
                type: integer
              examples:
                DoesReturnNotFoundWhenThereIsNoMoneybirdPaymentsMandateFound:
                  summary: Does return not found when there is no moneybird payments mandate found
                  value: 404
      operationId: get_administration_id_contacts_contact_id_moneybird_payments_mandate
    post:
      summary: Request a new Moneybird Payments mandate
      description: |-
        Sends a request for a Moneybird Payments mandate to a contact via e-mail.
        Your contact will receive an email containing a link to authorise direct
        debit payments through Moneybird Payments. Your contact is required to
        make a 15 cent payment. Only available when Moneybird Payments is enabled
        for the administration.
      tags:
        - Contacts
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - name: contact_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - $ref: '#/components/parameters/format'
      requestBody:
        required: true
        content:
          application/*:
            schema:
              unevaluatedProperties: false
              type: object
              properties:
                mandate_request:
                  type: object
                  unevaluatedProperties: false
                  properties:
                    email_message:
                      type: string
                    identity_id:
                      $ref: '#/components/schemas/identifier'
                      description: Should be a valid identity id.
                  required: []
              required: []
            examples:
              RequestsANewMoneybirdPaymentsMandate:
                summary: Requests a new moneybird payments mandate
                value: {}
              AllowsForACustomMessageWithinTheRequestE-mail:
                summary: Allows for a custom message within the request e-mail
                value:
                  mandate_request:
                    email_message: We use direct debit for our services, for which we require your authorisation. You can authorise us for direct debit through the button below. This requires you to make a one-time payment of 15 cents. This way we can verify your bank account.
      responses:
        '204':
          description: Moneybird Payments mandate requested
        '403':
          description: Error code
          content:
            application/json:
              schema:
                type: integer
              examples:
                ReturnsA403StatusWhenAWrongContactIdIsProvided:
                  summary: Returns a 403 status when a wrong contact id is provided
                  value: 403
                DoesNotAllowAccessIfMoneybirdPaymentsIsDisabledForTheAdministration:
                  summary: Does not allow access if moneybird payments is disabled for the administration
                  value: 403
      operationId: post_administration_id_contacts_contact_id_moneybird_payments_mandate
    delete:
      summary: Delete a stored Moneybird Payments mandate
      description: |-
        Deletes the stored Moneybird Payments mandate for the contact. Only
        available when Moneybird Payments is enabled for the administration.
      tags:
        - Contacts
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - name: contact_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - $ref: '#/components/parameters/format'
      responses:
        '204':
          description: Contact deleted
        '403':
          description: Error code
          content:
            application/json:
              schema:
                type: integer
              examples:
                DoesNotAllowAccessIfMoneybirdPaymentsIsDisabledForTheAdministration:
                  summary: Does not allow access if moneybird payments is disabled for the administration
                  value: 403
                ReturnsA403StatusWhenAWrongContactIdIsProvided:
                  summary: Returns a 403 status when a wrong contact id is provided
                  value: 403
      operationId: delete_administration_id_contacts_contact_id_moneybird_payments_mandate
  /{administration_id}/contacts/{contact_id}/notes/{id}{format}:
    delete:
      summary: Destroys note from entity
      tags:
        - Contacts
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - name: contact_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - name: id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - $ref: '#/components/parameters/format'
      responses:
        '204':
          description: Note deleted
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/symbolic_error'
              examples:
                ReturnsA400StatusWhenUserHasNoPermissionsToNotes:
                  summary: Returns a 400 status when user has no permissions to notes
                  value:
                    error: User has no permissions to notes for Contact
                    symbolic:
                      user: insufficient_permissions
      operationId: delete_administration_id_contacts_contact_id_notes_id
  /{administration_id}/contacts/{contact_id}/notes{format}:
    post:
      summary: Adds note to entity
      tags:
        - Contacts
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - name: contact_id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - $ref: '#/components/parameters/format'
      requestBody:
        required: true
        content:
          application/*:
            schema:
              unevaluatedProperties: false
              type: object
              properties:
                note:
                  type: object
                  unevaluatedProperties: false
                  properties:
                    note:
                      type: string
                      description: '**Required**. Text for the note or to-do.'
                    todo:
                      type:
                        - boolean
                        - string
                      description: If `true` the note is a to-do.
                    assignee_id:
                      $ref: '#/components/schemas/identifier'
                      description: Assign to-do to user. Should be a valid user id. If assignee_id is provided the note will be a to-do.
                  required: []
              required: []
            examples:
              CreateANote:
                summary: Create a note
                value:
                  note:
                    note: Text of the note
                    assignee_id: 462382047514592400
                    todo: true
      responses:
        '201':
          description: Note created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/note_response'
              examples:
                CreateANote:
                  summary: Create a note
                  value:
                    id: '462382047535563900'
                    administration_id: 123
                    entity_id: '462382047472649326'
                    entity_type: Contact
                    user_id: 17551818633118
                    assignee_id: '462382047514592378'
                    todo: true
                    note: Text of the note
                    completed_at: null
                    completed_by_id: null
                    todo_type: null
                    data: {}
                    created_at: '2025-08-14T14:31:44.823Z'
                    updated_at: '2025-08-14T14:31:44.823Z'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/symbolic_error'
              examples:
                ReturnsA400StatusWhenAWrongContactIdIsProvided:
                  summary: Returns a 400 status when a wrong contact id is provided
                  value:
                    error: Entity is invalid; User has no permissions to notes for Contact
                    symbolic:
                      entity: not_found
                      user: insufficient_permissions
        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/symbolic_error'
                  - $ref: '#/components/schemas/non_symbolic_error'
              examples:
                ReturnsA422StatusWhenWrongParamsAreProvided:
                  summary: Returns a 422 status when wrong params are provided
                  value:
                    error:
                      note:
                        - can't be blank
                      todo_type:
                        - can't be blank
                    details:
                      note:
                        - error: blank
                      todo_type:
                        - error: blank
      operationId: post_administration_id_contacts_contact_id_notes
  /{administration_id}/contacts/{id}/additional_charges{format}:
    post:
      summary: Create an additional charge to be invoiced at start of next period
      description: |-
        At the end of the current period, the additional charges for a contact are merged
        where possible and an invoice will be created for them. The invoice will be scheduled
        for sending at the first day of the next month.
      tags:
        - Contacts
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - name: id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - $ref: '#/components/parameters/format'
      requestBody:
        required: true
        content:
          application/*:
            schema:
              type: object
              additionalProperties: true
            examples:
              ViewsAdditionalChargesOfAContact:
                summary: Views additional charges of a contact
                value: {}
              CreatesAUsageCharge:
                summary: Creates a usage charge
                value:
                  product_id: 462382041683461570
                  amount: 5 x
                  price: 100
                  period: 20210601..20210630
                  description: Transaction Costs
      responses:
        '201':
          description: Subscription additional charge created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/subscription_additional_charge_response'
              examples:
                CreatesAUsageCharge:
                  summary: Creates a usage charge
                  value:
                    id: '462382041702335911'
                    administration_id: 123
                    contact_id: '462382041637324185'
                    subscription_id: null
                    product_id: '462382041683461541'
                    detail_id: null
                    amount: 5 x
                    price: '100.0'
                    period: 202106..202106
                    description: Transaction Costs
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/symbolic_error'
              examples:
                ReturnsA400StatusWhenASubscriptionIdIsProvided:
                  summary: Returns a 400 status when a subscription id is provided
                  value:
                    error: contact_id or subscription_id is required
                    symbolic:
                      contact_id: required
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/symbolic_error'
              examples:
                ReturnsA404StatusWhenAWrongProductIdIsProvided:
                  summary: Returns a 404 status when a wrong product id is provided
                  value:
                    error: Product not found
                    symbolic:
                      product_id: not_found
      operationId: post_administration_id_contacts_id_additional_charges
    get:
      summary: Get additional charges
      description: Get the additional charges of the given contact.
      tags:
        - Contacts
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - name: id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - $ref: '#/components/parameters/format'
        - name: include_billed
          in: query
          required: false
          schema:
            type:
              - boolean
              - string
            description: If true, includes the additional charges that have already been billed. Default is false.
          examples:
            DoesReturnBilledAdditionalChargesIfIncludeBilledIsTrue:
              summary: Does return billed additional charges if include billed is true
              value: 'true'
      responses:
        '200':
          description: A list of additional charges
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/subscription_additional_charge_response'
              examples:
                DoesReturnBilledAdditionalChargesIfIncludeBilledIsTrue:
                  summary: Does return billed additional charges if include billed is true
                  value:
                    - id: '462382021705992069'
                      administration_id: 123
                      contact_id: '462382021660903288'
                      subscription_id: null
                      product_id: '462382021703894916'
                      detail_id: null
                      amount: 1 x
                      price: '100.0'
                      period: 202106..202106
                      description: Transaction Costs
                    - id: '462382021877958552'
                      administration_id: 123
                      contact_id: '462382021660903288'
                      subscription_id: null
                      product_id: '462382021711234950'
                      detail_id: '462382021873764247'
                      amount: 1 x
                      price: '100.0'
                      period: 202106..202106
                      description: Transaction Costs
        '404':
          $ref: '#/components/responses/404_not_found'
      operationId: get_administration_id_contacts_id_additional_charges
  /{administration_id}/contacts/{id}/archive{format}:
    patch:
      summary: Archive a contact
      tags:
        - Contacts
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - name: id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - $ref: '#/components/parameters/format'
      responses:
        '204':
          description: Contact archived
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/symbolic_error'
              examples:
                ReturnsA400StatusWhenTheContactIsAlreadyArchived:
                  summary: Returns a 400 status when the contact is already archived
                  value:
                    error: Contact can not be archived
                    symbolic:
                      id: can_not_be_archived
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/symbolic_error'
              examples:
                ReturnsA404StatusWhenTheContactIsNotFound:
                  summary: Returns a 404 status when the contact is not found
                  value:
                    error: record not found
                    symbolic:
                      id: not_found
      operationId: patch_administration_id_contacts_id_archive
  /{administration_id}/contacts/{id}{format}:
    get:
      summary: Get contact
      description: Returns all information about a contact.
      tags:
        - Contacts
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - name: id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - $ref: '#/components/parameters/format'
        - name: include_archived
          in: query
          required: false
          schema:
            type:
              - boolean
              - string
      responses:
        '200':
          description: A contact
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/contact_response'
              examples:
                ReturnAContact:
                  summary: Return a contact
                  value:
                    id: '462382023160366134'
                    administration_id: 123
                    company_name: Foobar Holding B.V.
                    firstname: null
                    lastname: Appleseed
                    address1: Hoofdstraat 12
                    address2: ''
                    zipcode: 1234 AB
                    city: Amsterdam
                    country: NL
                    phone: ''
                    delivery_method: Email
                    customer_id: '1'
                    tax_number: ''
                    chamber_of_commerce: ''
                    bank_account: ''
                    is_trusted: false
                    max_transfer_amount: null
                    attention: ''
                    email: info@example.com
                    email_ubl: true
                    send_invoices_to_attention: ''
                    send_invoices_to_email: info@example.com
                    send_estimates_to_attention: ''
                    send_estimates_to_email: info@example.com
                    sepa_active: false
                    sepa_iban: ''
                    sepa_iban_account_name: ''
                    sepa_bic: ''
                    sepa_mandate_id: ''
                    sepa_mandate_date: null
                    sepa_sequence_type: RCUR
                    credit_card_number: ''
                    credit_card_reference: ''
                    credit_card_type: null
                    tax_number_validated_at: null
                    tax_number_valid: null
                    invoice_workflow_id: null
                    estimate_workflow_id: null
                    si_identifier: ''
                    si_identifier_type: null
                    moneybird_payments_mandate: false
                    created_at: '2025-08-14T14:31:21.576Z'
                    updated_at: '2025-08-14T14:31:21.593Z'
                    version: 1755181881
                    sales_invoices_url: https://moneybird.dev/123/sales_invoices/3ae2f1d13785f377ab1bfa23f2edb832a753b53157035908b1c3ffb2a1bcda76/all
                    notes: []
                    custom_fields: []
                    contact_people:
                      - id: '462382023165609016'
                        contact_id: '462382023160366134'
                        administration_id: 123
                        firstname: John
                        lastname: Appleseed
                        phone: null
                        email: null
                        department: null
                        created_at: '2025-08-14T14:31:21.581Z'
                        updated_at: '2025-08-14T14:31:21.581Z'
                        version: 1755181881
                    archived: false
                    events:
                      - administration_id: 123
                        user_id: 17551818633118
                        action: contact_created
                        link_entity_id: null
                        link_entity_type: null
                        data: {}
                        created_at: '2025-08-14T14:31:21.587Z'
                        updated_at: '2025-08-14T14:31:21.587Z'
                ReturnsSepaIbanAsBankAccount:
                  summary: Returns sepa iban as bank account
                  value:
                    id: '462382023394198610'
                    administration_id: 123
                    company_name: Foobar Holding B.V.
                    firstname: null
                    lastname: Appleseed
                    address1: Hoofdstraat 12
                    address2: ''
                    zipcode: 1234 AB
                    city: Amsterdam
                    country: NL
                    phone: ''
                    delivery_method: Email
                    customer_id: '1'
                    tax_number: ''
                    chamber_of_commerce: ''
                    bank_account: NL50TEST0166567191
                    is_trusted: false
                    max_transfer_amount: null
                    attention: ''
                    email: info@example.com
                    email_ubl: true
                    send_invoices_to_attention: ''
                    send_invoices_to_email: info@example.com
                    send_estimates_to_attention: ''
                    send_estimates_to_email: info@example.com
                    sepa_active: false
                    sepa_iban: NL50TEST0166567191
                    sepa_iban_account_name: ''
                    sepa_bic: ''
                    sepa_mandate_id: ''
                    sepa_mandate_date: null
                    sepa_sequence_type: RCUR
                    credit_card_number: ''
                    credit_card_reference: ''
                    credit_card_type: null
                    tax_number_validated_at: null
                    tax_number_valid: null
                    invoice_workflow_id: null
                    estimate_workflow_id: null
                    si_identifier: ''
                    si_identifier_type: null
                    moneybird_payments_mandate: false
                    created_at: '2025-08-14T14:31:21.799Z'
                    updated_at: '2025-08-14T14:31:21.837Z'
                    version: 1755181881
                    sales_invoices_url: https://moneybird.dev/123/sales_invoices/1066b487a4d84102c0ac7cf31b51cbee0bf87d373fbcb645769c03f99b64173b/all
                    notes: []
                    custom_fields: []
                    contact_people:
                      - id: '462382023398392916'
                        contact_id: '462382023394198610'
                        administration_id: 123
                        firstname: John
                        lastname: Appleseed
                        phone: null
                        email: null
                        department: null
                        created_at: '2025-08-14T14:31:21.804Z'
                        updated_at: '2025-08-14T14:31:21.804Z'
                        version: 1755181881
                    archived: false
                    events:
                      - administration_id: 123
                        user_id: 17551818633118
                        action: contact_created
                        link_entity_id: null
                        link_entity_type: null
                        data: {}
                        created_at: '2025-08-14T14:31:21.810Z'
                        updated_at: '2025-08-14T14:31:21.810Z'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/symbolic_error'
              examples:
                Returns404WhenContactDoesNotExist:
                  summary: Returns 404 when contact does not exist
                  value:
                    error: record not found
                    symbolic:
                      id: not_found
      operationId: get_administration_id_contacts_id
    patch:
      summary: Update a contact
      description: |-
        When updating a contact, you only need to provide the information you want to change. Attributes you don't
        provide in the request will not be updated. Optional attributes can be removed by setting them to an empty string value.
      tags:
        - Contacts
      parameters:
        - $ref: '#/components/parameters/administration_id'
        - name: id
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/identifier'
        - $ref: '#/components/parameters/format'
      requestBody:
        required: true
        content:
          application/*:
            schema:
              unevaluatedProperties: false
              type: object
              properties:
                contact:
                  type: object
                  unevaluatedProperties: false
                  properties:
                    company_name:
                      type: string
                      description: A contact requires a non-blank `company_name`, `firstname` or `lastname`.
                    address1:
                      type: string
                    address2:
                      type: string
                    zipcode:
                      type: string
                    city:
                      type: string
                    country:
                      type: string
                      description: ISO two-character country code, e.g. NL or DE.
                    phone:
                      type: string
                    delivery_method:
                      type: string
                      description: Can be `Email`, `Simplerinvoicing`, `Peppol`, `Manual` or `Post`.
                    email_ubl:
                      type:
                        - boolean
                        - string
                    customer_id:
                      type: string
                      description: Will be assigned automatically if empty. Should be unique for the administration.
                    tax_number:
                      type: string
                    firstname:
                      type: string
                      description: A contact requires a non-blank `company_name`, `firstname` or `lastname`.
                    lastname:
                      type: string
                      description: A contact requires a non-blank `company_name`, `firstname` or `lastname`.
                    chamber_of_commerce:
                      type: string
                    bank_account:
                      type: string
                    send_invoices_to_attention:
                      type: string
                    send_invoices_to_email:
                      type: string
                      description: Should be one or more valid email addresses, separated by a comma.
                    send_estimates_to_attention:
                      type: string
                    send_estimates_to_email:
                      type: string
                      description: Should be one or more valid email addresses, separated by a comma.
                    sepa_active:
                      type:
                        - boolean
                        - string
                      description: When `true`, all other SEPA fields are required.
                    sepa_iban:
                      type: string
                      description: Should be a valid IBAN.
                    sepa_iban_account_name:
                      type: string
                    sepa_bic:
                      type: string
                      description: Should be a valid BIC.
                    sepa_mandate_id:
                      type: string
                      description: Should be unique for the administration.
                    sepa_mandate_date:
                      type: string
                      description: Should be a date in the past.
                    sepa_sequence_type:
                      type: string
                      description: Can be `RCUR`, `FRST`, `OOFF` or `FNAL`.
                    invoice_workflow_id:
                      $ref: '#/components/schemas/identifier'
                      description: Should be a valid invoice workflow id.
                    estimate_workflow_id:
                      $ref: '#/components/schemas/identifier'
                      description: Should be a valid estimate workflow id.
                    si_identifier_type:
                      type: string
                      description: Can be `0002`, `0007`, `0009`, `0037`, `0060`, `0088`, `0096`, `0097`, `0106`, `0130`, `0135`, `0142`, `0151`, `0183`, `0184`, `0188`, `0190`, `0191`, `0192`, `0193`, `0195`, `0196`, `0198`, `0199`, `0200`, `0201`, `0204`, `0205`, `0208`, `0209`, `0210`, `0211`, `0212`, `0213`, `0215`, `0216`, `0221`, `0230`, `9910`, `9913`, `9914`, `9915`, `9918`, `9919`, `9920`, `9922`, `9923`, `9924`, `9925`, `9926`, `9927`, `9928`, `9929`, `9930`, `9931`, `9932`, `9933`, `9934`, `9935`, `9936`, `9937`, `9938`, `9939`, `9940`, `9941`, `9942`, `9943`, `9944`, `9945`, `9946`, `9947`, `9948`, `9949`, `9950`, `9951`, `9952`, `9953`, `9957` or `9959`.
                    si_identifier:
                      type: string
                    direct_debit:
                      type:
                        - boolean
                        - string
                    custom_fields_attributes:
                      $ref: '#/components/schemas/custom_fields_attributes'
                  required: []
              required:
                - contact
            examples:
              UpdateAContactThatHasSepaActivated:
                summary: Update a contact that has sepa activated
                value:
                  contact:
                    company_name: Test B.V.
              CreatesAContactPersonWhenCompanyNameFirstnameAndLastnameExistTogether:
                summary: Creates a contact person when company name, firstname and lastname exist together
                value:
                  contact:
                    firstname: Money
                    lastname: Bird
              UpdateTheSepaSequenceType:
                summary: Update the sepa sequence type
                value:
                  contact:
                    sepa_sequence_type: FNAL
              UpdateAContact:
                summary: Update a contact
                value:
                  contact:
                    company_name: Test B.V.
              UpdatesAContactWithGivenSiIdentifier:
                summary: Updates a contact with given si identifier
                value:
                  contact:
                    si_identifier: '1234567'
                    si_identifier_type: NL:KVK
      responses:
        '200':
          description: Contact updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/contact_response'
              examples:
                UpdateAContactThatHasSepaActivated:
                  summary: Update a contact that has sepa activated
                  value:
                    id: '462382042848429629'
                    administration_id: 123
                    company_name: Test B.V.
                    firstname: null
                    lastname: null
                    address1: 1 Infinite Loop
                    address2: ''
                    zipcode: '123456'
                    city: Redmond
                    country: NL
                    phone: ''
                    delivery_method: Email
                    customer_id: '2'
                    tax_number: ''
                    chamber_of_commerce: ''
                    bank_account: NL50TEST0166567191
                    is_trusted: false
                    max_transfer_amount: null
                    attention: ''
                    email: info@example.com
                    email_ubl: true
                    send_invoices_to_attention: ''
                    send_invoices_to_email: info@example.com
                    send_estimates_to_attention: ''
                    send_estimates_to_email: info@example.com
                    sepa_active: true
                    sepa_iban: NL50TEST0166567191
                    sepa_iban_account_name: Foobar Holding B.V.
                    sepa_bic: RABONL2U
                    sepa_mandate_id: MAN12313
                    sepa_mandate_date: '2014-01-01'
                    sepa_sequence_type: RCUR
                    credit_card_number: ''
                    credit_card_reference: ''
                    credit_card_type: null
                    tax_number_validated_at: null
                    tax_number_valid: null
                    invoice_workflow_id: null
                    estimate_workflow_id: null
                    si_identifier: ''
                    si_identifier_type: null
                    moneybird_payments_mandate: false
                    created_at: '2025-08-14T14:31:40.352Z'
                    updated_at: '2025-08-14T14:31:40.376Z'
                    version: 1755181900
                    sales_invoices_url: https://moneybird.dev/123/sales_invoices/934210583d15865b9944882dbcbf5afe915788d107429f04c287bd50f302a699/all
                    notes: []
                    custom_fields: []
                    contact_people:
                      - id: '462382042852623935'
                        contact_id: '462382042848429629'
                        administration_id: 123
                        firstname: John
                        lastname: Doe
                        phone: null
                        email: null
                        department: null
                        created_at: '2025-08-14T14:31:40.356Z'
                        updated_at: '2025-08-14T14:31:40.356Z'
                        version: 1755181900
                    archived: false
                    events:
                      - administration_id: 123
                        user_id: 17551818633118
                        action: contact_created
                        link_entity_id: null
                        link_entity_type: null
                        data: {}
                        created_at: '2025-08-14T14:31:40.362Z'
                        updated_at: '2025-08-14T14:31:40.362Z'
                      - administration_id: 123
                        user_id: 17551818633118
                        action: contact_changed
                        link_entity_id: null
                        link_entity_type: null
                        data:
                          changes:
                            company_name:
                              - Foobar Holding B.V.
                              - Test B.V.
                        created_at: '2025-08-14T14:31:40.380Z'
                        updated_at: '2025-08-14T14:31:40.380Z'
                CreatesAContactPersonWhenCompanyNameFirstnameAndLastnameExistTogether:
                  summary: Creates a contact person when company name, firstname and lastname exist together
                  value:
                    id: '462382043009910355'
                    administration_id: 123
                    company_name: Moneybird B.V.
                    firstname: Money
                    lastname: Bird
                    address1: null
                    address2: null
                    zipcode: null
                    city: null
                    country: NL
                    phone: null
                    delivery_method: Email
                    customer_id: 0ca6f953c026a02fb34b649884ecc176a4cd53ead925e4778ca0d4c0259e4815
                    tax_number: null
                    chamber_of_commerce: null
                    bank_account: null
                    is_trusted: false
                    max_transfer_amount: null
                    attention: null
                    email: null
                    email_ubl: false
                    send_invoices_to_attention: null
                    send_invoices_to_email: null
                    send_estimates_to_attention: null
                    send_estimates_to_email: null
                    sepa_active: false
                    sepa_iban: null
                    sepa_iban_account_name: null
                    sepa_bic: null
                    sepa_mandate_id: null
                    sepa_mandate_date: null
                    sepa_sequence_type: RCUR
                    credit_card_number: null
                    credit_card_reference: null
                    credit_card_type: null
                    tax_number_validated_at: null
                    tax_number_valid: null
                    invoice_workflow_id: null
                    estimate_workflow_id: null
                    si_identifier: null
                    si_identifier_type: null
                    moneybird_payments_mandate: false
                    created_at: '2025-08-14T14:31:40.507Z'
                    updated_at: '2025-08-14T14:31:40.518Z'
                    version: 1755181900
                    sales_invoices_url: https://moneybird.dev/123/sales_invoices/d77222e55a82be283f14eec52f04150f13eb38dc34c3fbd05c18edd49e63c0ee/all
                    notes: []
                    custom_fields: []
                    contact_people:
                      - id: '462382043031930455'
                        contact_id: '462382043009910355'
                        administration_id: 123
                        firstname: Money
                        lastname: Bird
                        phone: null
                        email: null
                        department: null
[...]
